[2020-03-13 03:15] bcipriano opened #655 "Transferring all of one allocation's hosts to another hangs"
**Describe the bug**
When using `cueadmin` to transfer hosts between allocations, the transfer happens but `cueadmin` hangs, seeming to never complete the operation.

**To Reproduce**
Steps to reproduce the behavior:
1. Be running an OpenCue environment with at least two allocations and at least one host.
2. Use `cueadmin` to transfer hosts from one alloc to another:
[code]
3. `cueadmin` hangs ind

[2020-03-13 07:52] aman-roy commented on #649
Can I work on this issue?

[2020-03-13 17:05] samkenw opened #657 "smallint out of range error fo exit code on windows"
I am getting the following error on windows:

[code]

Windows allows unsigned 32Bit exit codes which are larger than the `smallint` type of `int_exit_status`.
We could change the type of `int_exit_status `to `INTEGER` but since postgres only has signed integers this would mean that we could still only represent half of the exit codes.
The other option would be `BIGINT` but thats 8bytes which would

[2020-03-16 06:31] ivy-2000 commented on #649
Hi I changed the resize dimensions to avoid scrolling. I hope this helps solve the issue. Please verify.

https://github.com/ivy-2000/OpenCue/pull/1

[2020-03-16 07:16] aman-roy commented on #646
@smith1511
It is happening because `.qrc` files are symbolic links which can be extracted only if you have administrative privilege.

I have tried with extracting it with `7z` and `WinRAR` after running it as administrator. I am searching for some solutions using tar command and will update this issue thread ASAP.

[2020-03-17 00:47] bcipriano commented on #646
@aman-roy Thank you! Let us know if you find anything.

[2020-03-17 00:52] bcipriano commented on #649
@mridullpandey Do you plan to work on this issue still?

@aman-roy This issue is already assigned, so it might be best to find a different issue to work on for now. If @mridullpandey doesn't want to work on it we could reassign it.

@ivy-2000 Per our project contribution guidelines, please don't work on an issue unless it is assigned to you. I'm sorry but I won't be able to review the PR unless it

[2020-03-18 01:55] nimeshvashistha commented on #641
@SarthakDandriyal  Are you still working on this issue?

[2020-03-18 01:59] nimeshvashistha commented on #657
@bcipriano I would like to take this issue up.

[2020-03-18 17:36] akshat0047 commented on #641
Hi @bcipriano  I would like to take up this issue

[2020-03-18 17:46] akshat0047 commented on #639
Hey @bcipriano I would like to work on this issue

[2020-03-18 19:41] akshat0047 commented on #163
Hii @gregdenton I would like to take this issue and start contributing to OpenCue

[2020-03-18 19:58] #275 closed

[2020-03-18 20:03] bcipriano commented on #163
@mridullpandey Do you plan to work on this still? Please let me know by tomorrow.

[2020-03-18 20:04] bcipriano commented on #641
@SarthakDandriyal Please let me know by tomorrow if you plan to work on this still.

[2020-03-18 20:05] bcipriano commented on #649
@mridullpandey Please let me know by tomorrow if you still plan to work on this.

[2020-03-18 20:27] bcipriano commented on #639
@akshat0047 Hello, sorry to say this issue is already assigned and being worked on. A PR with a fix has been reviewed and approved.

[2020-03-18 21:00] bcipriano commented on #657
Sounds good, I've assigned it to you!

OpenCue uses database migrations to manage its database schema; Flyway has a good doc explaining this: https://flywaydb.org/getstarted/why

Basically you will want to create a new migration file which makes the schema change. [PR #618](https://github.com/AcademySoftwareFoundation/OpenCue/pull/618/files#diff-8c16f4ea48cdf6a71ec73a10ef39ca03) is a good example

[2020-03-18 21:59] #655 closed

[2020-03-19 00:30] bcipriano opened #660 "Replace sed hack with 2to3 everywhere"
**Describe the process**
The protoc tool currently does not produce Python code that is compatible with Python 3 due to the import format it uses. For more info on this see https://github.com/protocolbuffers/protobuf/issues/1491.

This has led us to resort to an ugly `sed` hack to "fix" these files for Python 3 environments. See for example [the RQD Dockerfile](https://github.com/AcademySoftwareFo

[2020-03-19 00:32] bcipriano commented on #660
To be clear, the command we should be using everywhere is:

[code]

[2020-03-19 03:39] vibss2397 commented on #660
hey i can work on this, but just so i am clear all this requires to do is finding in the codebase where `sed` method is used and replace it with how `2to3` is used, right?

[2020-03-19 20:21] bcipriano commented on #660
Yep that's right!

[2020-03-20 10:14] akshat0047 commented on #641
@bcipriano May I work on this or this or it's assigned to the PR owner

[2020-03-20 10:14] akshat0047 commented on #163
@bcipriano May I start with this one ?

[2020-03-20 14:22] srbhss commented on #641
@bcipriano  Sir please assign me to this issue , I would like to work on this issue.

[2020-03-20 18:45] #591 closed

[2020-03-20 18:48] bcipriano commented on #649
Ok, I'm freeing this one up now.

@aman-roy has already found an issue to work on I believe (#591) so I'll assign to the next in line.

@ivy-2000 I'll proceed in reviewing the PR you've already sent.

[2020-03-20 19:59] bcipriano commented on #641
Ok, freeing this up to be worked on by someone else.

@nimeshvashistha was next in line but already found an issue to work on (#657).

@akshat0047 was next after that so will be the new assignee now.

(As mentioned on @srbhss's PR, we require that PRs have an issue attached, and that the PR author is assigned to the issue. This is laid out in [our Contributing guide](https://www.opencue.io/contrib

[2020-03-20 21:59] bcipriano commented on #163
@akshat0047 All yours.

[2020-03-20 22:29] bcipriano commented on #641
@akshat0047 Actually, I realized that you already have an issue assigned (#163). Since others are searching for issues to work on I'll free this one up.

@srbhss is next in line for this one.

[2020-03-20 22:30] bcipriano commented on #641
@srbhss Now that this issue is yours, I'll review the PR you've sent.

[2020-03-21 11:46] to09 opened #664 "Setting up a development environment on Linux"
Have you started working on the setting up a development environment on Linux Doc, I would love to work on it.
Reference : https://www.opencue.io/contributing/opencue/getting-started/

[2020-03-21 13:10] sharifsalah commented on #664
I don't believe anyone has started on this as we don't have an issue for it that I'm aware of.

Minor comment, it would probably be better to close this issue and open it in the opencue.io repo:

https://github.com/AcademySoftwareFoundation/opencue.io/issues

Either way, as far as I'm concerned, you are very welcome to work on this, so I think we can assign it to you if you want it...

There are s

[2020-03-21 15:16] to09 commented on #664
Ok, I am going to start work on this .

On Sat, Mar 21, 2020 at 6:40 PM Sharif Salah <notifications@github.com>
wrote:

[2020-03-21 19:00] srbhss commented on #491
@bcipriano Sir I would like to work on the issue.

[2020-03-23 15:11] srbhss commented on #491
@gregdenton please assign me to the issue. I have started working on it. Almost completed the task. Please assign me so that I will send PR.

[2020-03-23 18:28] bcipriano commented on #491
@srbhss Ok thanks! It's assigned to you now. In the future please consider not starting work until the issue is assigned to you. It's important to avoid duplication of work.

[2020-03-23 18:34] srbhss commented on #491
Yes Sir I will take care of that next time. Thanks for assigning me.
Please review my PR.

[2020-03-23 22:40] bcipriano commented on #664
@to09 Sounds good, I've assigned you the issue.

[2020-03-24 15:24] jeremyphilemon commented on #438
Hey this sounds like an interesting feature, can I work on this? I went through quite the installation process when setting up the db haha, would love to have it automated cause I'm pretty much aware of the edge cases now!

So I looked around and correct me if I'm wrong but scripts that are currently present in the repo are only for those involved in CI and not for installation yeah? So are we loo

[2020-03-24 15:45] sharifsalah commented on #438
I think there are a few automation scripts in different places, for example the sandbox has some bash installation scripts for the client packages and DB migration:

https://github.com/AcademySoftwareFoundation/OpenCue/tree/master/sandbox

Those are mainly used for the quick start guides, but in principle I don't think there's any reason that they couldn't be used to install client packages in a p

[2020-03-24 17:23] to09 commented on #664
I have submitted the PR for this issue, Please check for the change .
On Tue, 24 Mar 2020, 4:10 am Brian Cipriano, <notifications@github.com>
wrote:

[2020-03-24 18:05] jeremyphilemon commented on #438
Oh yes you're right! It definitely works in principle, totally skipped my mind that they could also be used for installations.

So then the database installer script can be put inside sandbox yeah? Since there's already a script for database migration, I think it'd be fair if the installer also resides there! Thoughts?

[2020-03-24 19:04] bcipriano commented on #438
Yeah, I think that's on the right track -- I would say the sandbox's existing database setup process could be used as inspiration for the new database installation script, and a good first target would be to replace the sandbox's existing database setup process with the new script.

Once that's confirmed working, we can start to expand it to other places such as our Getting Started docs and other

[2020-03-24 21:10] #639 closed

[2020-03-25 10:40] to09 commented on #653
Hi,
Have you fixed this issue, else I want to work on this issue.

[2020-03-25 21:38] jeremyphilemon commented on #438
Awesome, I'll get started on that!

[2020-03-25 23:20] bcipriano commented on #653
#654 should fix this issue -- no further work needed.

[2020-03-26 00:16] bcipriano commented on #660
@vibss2397 Any progress on this issue? Please let me know by tomorrow so I can free it up for someone else if you don't plan to work on it.

[2020-03-26 00:17] bcipriano commented on #547
@pcube99 Any update on this issue? Please let me know by tomorrow if you plan to work on this still so I can free it up for someone else.

[2020-03-26 00:36] pcube99 commented on #547
you can assign it to someone else, i am not able to make any progress.

[2020-03-26 01:05] vibss2397 commented on #660
hey i'm sorry i was busy the past few days so couldn't upload but i'll make the pr by tomorrow

[2020-03-26 06:20] to09 opened #668 "Better way to pass the password to the container in "Deploying the OpenCue sandbox environment ""
**Describe the enhancement**
This is in reference to the "Deploying the OpenCue sandbox environment" in the quick start for Linux, Point no. 06.
I don't like setting the password with an environment variable because environment variables can be viewed with 'docker inspect'. Can we provide a way to pass the password by mounting a file to the container and read the password from that file?

`export

[2020-03-26 06:39] apoorvkhare07 commented on #547
@bcipriano can I take up this issue?

[2020-03-26 18:56] vibss2397 commented on #660
hey @bcipriano in the cuebot/packaging/create_rpm.sh file the way `sed` is used is:
`sed -i s/%version%/${VERSION}/g rpmbuild/SPECS/${IMAGE_NAME}.spec` , which is not an import statement so do we replace this with `2to3` too?

[2020-03-26 19:00] bcipriano commented on #660
Ok thanks for the update! Just making sure things aren't getting stuck.

sed -i s/%version%/${VERSION}/g rpmbuild/SPECS/${IMAGE_NAME}.spec , which is not an import statement so do we replace this with 2to3 too?

Nope we can leave that `sed` as-is. We're only concerned with uses of `sed` that fix this specific import problem.

I think that the only time we use it is after running `protoc` to genera

[2020-03-27 00:16] bcipriano commented on #547
Yes, go for it!

[2020-03-27 17:27] to09 commented on #472
Has this issue been fixed or I can start with this, I would love to start with this.

[2020-03-27 17:32] to09 commented on #425
Please guide how should I start with this issue?

[2020-03-27 17:37] to09 commented on #559
Have you started working on this issue, otherwise I would like to complete it?

[2020-03-27 18:20] sharifsalah commented on #472
Hmmm, I think this is actually a duplicate I created of https://github.com/AcademySoftwareFoundation/OpenCue/issues/495

So I'll close this particular issue, but there are certainly other samples you could work on.

Ideally, samples should support how-to guides, so you could propose new guides for opencue.io and then if there is a need compliment the guides with relevant samples where necessary. T

[2020-03-27 18:20] #472 closed

[2020-03-27 18:28] sharifsalah commented on #559
This is a fairly big ongoing project, you should see that I've already linked various pull requests to this issue. There is certainly more work you could contribute to it, but I should mention that it is time-consuming before you volunteer.

We're trying to document all of the Python packages and modules in OpenCue. You can see a list of the modules we've already documented in:

https://github.com

[2020-03-27 18:49] to09 commented on #559
Thanks @sharifsalah, I will start working to update code comments to RST format after the issue template.

[2020-03-27 19:22] bcipriano commented on #559
@to09 I would strongly encourage you to send SMALL PRs here -- please don't go through the trouble of updating an entire file all at once. Just pick one or two methods to document and send those first.

[2020-03-27 22:15] bcipriano commented on #425
@to09 I'd strongly recommend avoiding this one for now :)

It's a massive amount of work requiring detailed design discussions from the TSC and likely months of coding work. Before this could even begin we would first need to add support for proper user accounts (#218), which by itself is a huge amount of work.

[2020-03-27 22:38] bcipriano commented on #664
Fixed by https://github.com/AcademySoftwareFoundation/opencue.io/pull/168

[2020-03-27 22:38] #664 closed

[2020-03-28 01:00] to09 commented on #559
Sure, I will start working on these soon.

[2020-03-28 01:14] to09 commented on #425
sure

[2020-03-28 15:03] srbhss commented on #635
@bcipriano  & @smith1511  I would like to fix this.

[2020-03-28 15:34] srbhss commented on #163
@bcipriano and @gregdenton Sir, I am looking forward to contributing this issue if @akshat0047 is not working on this anymore.

[2020-03-28 15:37] akshat0047 commented on #163
Unfortunately, I am not able to work on the issue due to some commitments, please assign this to @srbhss

[2020-03-29 15:33] apoorvkhare07 opened #672 "Filters not properly aligned in monitor hosts panel (CueGUI)"
**Describe the enhancement**
The Allocation filter and hardware state filter in monitor hosts panel in CueGUI doesn't have proper sizing which leads to improper alignment of the dropdown arrows.
**Screenshots**
<img width="1438" alt="Screenshot 2020-03-29 at 8 54 20 PM" src="https://user-images.githubusercontent.com/26320019/77853220-a0b4ee80-7200-11ea-9580-0b88f81ad845.png">

[2020-03-29 15:35] apoorvkhare07 commented on #672
@bcipriano If you feel this as relevant, I would like to work on this.

[2020-03-30 14:41] to09 commented on #672
Good, downside arrows must be in the same horizontal line. I suggest it must be little bit upside.

[2020-03-30 18:12] bcipriano commented on #672
Thanks for filing this! Sounds good, feel free to work on it.

[2020-03-30 19:19] bcipriano commented on #635
Looks like @smith1511 already has a PR out for this one.

[2020-03-31 20:23] bcipriano commented on #651
@jeremyphilemon Has done some work on this in #438 but I'll take a look at the documentation angle here.

[2020-04-01 13:35] to09 commented on #668
@bcipriano, Please review this issue. Can I start to work on it?

[2020-04-01 22:35] fire commented on #312
What is the status of this?

[2020-04-01 23:44] bcipriano commented on #312
@fire No update on this since my last comment -- we would love to have a Blender plugin but no one's gotten to work on it yet.

Are you interested in working on this or just inquiring about the status?

[2020-04-01 23:52] fire commented on #312
I wanted to work on this, but I'm worried about using opencue because of the lack of support for open networks like on gce or aws. In particular, no security accounts or roles. So I'm waiting for that to be solved.

[2020-04-01 23:53] fire commented on #312
No Encryption.

https://github.com/AcademySoftwareFoundation/OpenCue/issues/150

No rbac:

https://github.com/AcademySoftwareFoundation/OpenCue/issues/425

[2020-04-02 00:00] bcipriano commented on #668
I think I'm ok with it as-is. I think it's clear from the doc that this is meant as a temporary setup for exploring OpenCue and shouldn't be used as a long-running production deployment.

[2020-04-02 00:02] bcipriano commented on #312
Ok got it, thanks for the details!

[2020-04-02 14:44] to09 commented on #668
Ok, I hope it is used long-running production deployment.

[2020-04-02 14:44] #668 closed

[2020-04-05 08:06] srbhss commented on #242
@bcipriano Sir please assign me to this issue. Would like to work on this.

[2020-04-06 15:11] to09 commented on #519
@larsbijl, have you worked on this issue, I would love to work on it.

[2020-04-06 17:30] larsbijl commented on #519
hey @to09, I have not had the time. I'll assign it to you.

[2020-04-06 20:50] bcipriano commented on #519
@to09 As with other issues, there's a large amount of work here so please send small PRs. Limiting a PR to changing one file's calls at a time would be a good guideline.

[2020-04-07 01:12] to09 commented on #519
@bcipriano, Thanks I will start by sending small PRs, which is good for us to review. I will follow the guidelines.

[2020-04-07 17:16] srbhss commented on #660
@vibss2397 are you still working on this ?
I would like to take on this if this is idle.

[2020-04-08 00:21] bcipriano opened #679 "Maya plugin fails on compatibility library"
**Describe the bug**
The Maya plugin fails to load due to errors generated by one of the compatibility libraries we're using:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Install CueSubmit as a Maya plugin.
2. Launch Maya via commandline (so you can see full error text in the console as it loads)
3. OpenCue plugin does not appear, and above stacktrace is generated.

**Expected beh

[2020-04-13 14:43] srbhss commented on #679
IMO it is because lib2to3 fails to load the Grammar.txt file if it is located inside a .zip archive.
Updating python zip file will work. Python community had updated pygram.py and driver.py to fix this issue.

https://bugs.python.org/issue24960
https://github.com/python/cpython/commit/770a802df7057bcf0d72bbc01026fac8d396e1b3
https://github.com/python/cpython/commit/417f76a20e93044e422fb328a2d8e200

[2020-04-13 18:59] bcipriano commented on #438
Now that the script exists, the next step here is to work it into our official processes -- the sandbox, setup docs, any other automated/preconfigured deployments?

[2020-04-13 18:59] #672 closed

[2020-04-13 22:26] bcipriano commented on #641
#662 lays the groundwork for this.

The next step is to make sure this works in the various environments CueGUI may be running in:
- A code checkout of the repository, and run with `python -m cuegui`.
- A code checkout of the repository, installed with `setup.py install` and run with `cuegui`.
- A TAR release, installed with`setup.py install` and run with `cuegui`.

This needs to keep in mind the

[2020-04-14 03:03] cwrightce commented on #679
Not sure we can rely on studios patching their Maya installs with a new python.zip.
If you're right though, then it's possible that newer versions of Maya won't have this issue if they ship with an updated Python... until then, this is what we did to make it work at my studio.

We commented out both the execfile import and the 'execfile(path, {})' line in loader.py (we're not using shell.py but ii

[2020-04-14 14:33] fananimi opened #681 "Cuebot Docker Build Error"
**Describe the bug**
Can not run command `docker build .` on cuebot.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'OpenCue/cuebot'
2. Run command  `docker build`
3. Fail and can not complete the build process

**Expected behavior**
Successfully create cuebot container image.

**Version Number**
0.3.43.

**Additional context**
Here my log:

Sending build context to Docker daemon  4.3

[2020-04-14 14:57] fananimi commented on #681
Sorry guys that are my bad. I follow this link [https://www.opencue.io/docs/getting-started/deploying-cuebot/](https://www.opencue.io/docs/getting-started/deploying-cuebot/) and my goal was solved.

Thanks for the great documentation above.

[2020-04-14 14:57] #681 closed

[2020-04-18 17:07] srbhss commented on #609
@bcipriano I would like to give it a try.

[2020-04-24 14:35] samkenw commented on #289
Is there currently ANY way of accessing the data from archived jobs?
Can the age at which a job is archived be changed?

- Sam

[2020-04-25 15:41] donalm opened #685 "The final frame of each sequence is dropped."
It looks like I've introduced a bug. This needs more testing than I've given it, but the -1 in this line of code may be causing an error:

https://github.com/AcademySoftwareFoundation/OpenCue/blob/e6879f34693c66a1455a14df36ed707d77bfffab/cuebot/src/main/java/com/imageworks/spcue/util/FrameSet.java#L83

The final frame of each sequence is dropped.

I don't have a CCA yet in my current role, otherwi

[2020-04-27 21:50] #653 closed

[2020-04-28 11:40] sharifsalah opened #688 "Update Sphinx version and associated tests"
**Describe the bug**
The version of Sphinx is currently set to 1.8.5 as that is the most recent version supported in Python 2.7.

We should update Sphinx to 3.0.3 and the associated CI/CD tests.

**To Reproduce**
Update sphinx to any version newer than 1.8.5 causes the CI/CD tests to fail, despite the fact that Sphinx 3.0.3 was recently released.

**Expected behavior**
The CI/CD tests should build

[2020-04-28 13:39] ddidonato commented on #649
I modified my installation of opencue and re-worked the cuesubmit gui to be much tighter and allow scrolling with a fixed footer as well as file browser for the fields. If people are interested I could add a pull request of the changes and change the company logo for the opencue logo in the bottom left corner.
<img width="482" alt="Screen Shot 2020-04-28 at 9 39 23 AM" src="https://user-images.git

[2020-04-30 22:54] bcipriano commented on #649
Very nice! I'd love to try this out sometime soon.

Is the code posted to a Github branch or something that you're able to
share?

On Tue, Apr 28, 2020 at 6:40 AM ddidonato <notifications@github.com> wrote:

[2020-05-01 13:35] ddidonato commented on #649
In order to keep the base library vanilla, I subclassed quite a few things so that the original code wasn't touched. I will create a branch this weekend and share it with you. I also added an arnold .ass submit plugin with file sequence frame range detection

[2020-05-05 18:57] ddidonato commented on #649
I committed the changes to the cuesubmit-ui branch of my fork. Let me know if you want me to proceed with a pull request. I still have to add the file browser widgets, though.
https://github.com/ddidonato/OpenCue/tree/cuesubmit-ui

Thanks,
Danny

[2020-05-15 10:34] #688 closed

[2020-05-18 08:16] cwrightce opened #693 "Allow setting and enforcing of RQD_CREATE_USER_IF_NOT_EXISTS"
We had an issue last week where a particularly nasty render came along and knocked out sssd and friends on a handful of blades on the render farm. Fix was to reboot the blades and then remove the local accounts from /etc/passwd as RQD had created the users that "didn't exist' (/ couldn't find because auth had been busted)

Hardening blades is good obvsiouly required here as well, but seems like RQ

[2020-05-21 23:28] #685 closed

[2020-05-22 00:30] bcipriano opened #694 "Host widget is not honoring the filter option when the screen refreshes"
**Describe the bug**
Sometimes the host list in CueGUI does not honor what's entered in the search box. All hosts will be displayed instead.

**To Reproduce**
Steps to reproduce the behavior:
1. Ensure your cluster contains at least two RQD instances.
2. Launch CueGUI.
3. Refresh the Monitor Hosts panel, ensure it shows all hosts.
4. Add some text to the host search box, which only matches one of

[2020-05-26 06:08] ruchitinfushion commented on #679
still getting same error in Maya 2018.4
[code]

[2020-05-27 09:22] ruchitinfushion opened #696 "ImportError while running cuegui"
**Describe the bug**
An import error occurs when running cuegui

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Output**

**Version Number**
v0.4.14

**Additional Details**
OS: Centos7.8, Python: 2.7.15

[2020-05-27 18:19] bcipriano commented on #696
@ruchitinfushion Hello, thanks for filing!

This error means that CueGUI isn't able to locate the `opencue` library, which is contained in `pycue` (either a top-level directory, if you have a full code checkout, or there's a .tar.gz artifact published with each release).

You likely need add `pycue` to your `PYTHONPATH`. If I'm understanding your setup correctly, it looks like you'll want to insta

[2020-05-27 21:12] gregdenton commented on #70
Reassigning this to finish up.

[2020-05-28 04:36] ruchitinfushion commented on #696
In my virtualenv pyvenv.cfg file was missing, With new virtualenv everything works fine. Thanks

[2020-05-28 04:36] #696 closed

[2020-05-28 17:19] roulaoregan-spi opened #698 "Cuegui 'Monitor Job' text search box does not filter text"
**Describe the bug**
In the Job Monitor, the text editor box does not filter through all the jobs to find the one I am searching for. The job name has the naming pattern "show_shot_username_*" and is within the three day window. I've tried single words and regex expressions but neither work.

**To Reproduce**
Steps to reproduce the behavior:
1. Launch many jobs (I have > 50 jobs)
2. Go to Views/Pl

[2020-06-02 04:29] ruchitinfushion opened #703 "Render command length limitation"
**Describe the bug**
When setting an renderCommand longer than 5000 characters, it fails to submit job:
`Failed to submit job!Server caught an internal exception. Failed to launch and add job: Incorrect result size: expected 1, actual 0`

**To Reproduce**
Steps to reproduce the behavior:
[code]
config file
[code]

**Version Number**
v0.4.14

**Additional context**
OS: Centos7.8, Python: 2.7.15, Ma

[2020-06-02 22:23] bcipriano opened #704 "Number of cores is not detected correctly on macOS"
**Describe the bug**
Bug was reported in an opencue-users thread: https://lists.aswf.io/g/opencue-user/topic/error_doesn_t_have_enough/74372580

The same machine running CentOS reported cores correctly, and on macOS did not.

**To Reproduce**
Steps to reproduce the behavior:
1. Start an RQD instance on a 6-core macOS machine.
2. Number of cores reported is incorrect.

**Expected behavior**
Should

[2020-06-02 22:24] bcipriano commented on #193
Another potential issue: https://github.com/AcademySoftwareFoundation/OpenCue/issues/704

[2020-06-02 22:26] bcipriano commented on #693
Hi @cwrightce, I think this sounds totally reasonable and like a good idea.

[2020-06-03 16:10] ruchitinfushion commented on #703
Solved:
Instead of adding environment variables to renderCmd,  I used
`outline.set_env(key,val,pre=True)` to export environment variables separately.

[2020-06-03 16:10] #703 closed

[2020-06-04 23:51] nlevasseur-ix opened #707 "Import error pip version when running docker compose for sandbox"
Hello,

When i launched this command : docker build -t opencue/rqd -f rqd/Dockerfile .

I have this error message :

`Command "python setup.py egg_info" failed with error code 32 in /tmp/pip-build-6ClznM/setuptools/
You are using pip version 8.1.2, however version 20.1.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.
The command '/bin/sh -c pip install --u

[2020-06-05 10:34] nlevasseur-ix commented on #707
solved by add : ` pip install --upgrade pip` before `RUN pip install --upgrade setuptools` in Dockerfile

[2020-06-05 14:37] #707 closed

[2020-06-05 21:25] roulaoregan-spi opened #708 "Closing the GUI doesn't kill the process"
**Describe the bug**
Closing all the instances of opencue gui by right clicking on the cuegui icon located on the main task bar and selecting "Quit 4 Windows" doesn't kill the main thread.

**To Reproduce**
Steps to reproduce the behavior:
1. In the venv environment, launch `cuegui &`
2. locate the cuegui icon on the main window task bar and right click on the icon and select "Quit 4 Windows"
3. a

[2020-06-05 21:57] bcipriano commented on #708
Which OS are you seeing this on?

[2020-06-05 22:38] roulaoregan-spi commented on #708
I am seeing it on:
Operating System: CentOS Linux 7 (Core)

[2020-06-10 11:18] donalm opened #712 "GPU memory limited to 2GB in UI"
In the GUI for configuring a service, the "Min Gpu Memory MB:" value cannot exceed 2GB

See [line 46 of cuegui/cuegui/ServiceDialog.py](https://github.com/AcademySoftwareFoundation/OpenCue/blob/master/cuegui/cuegui/ServiceDialog.py#L46)
[code]

I don't think an upper limit on this field is helpful.

[2020-06-12 23:57] bcipriano opened #715 "Migrate CI pipelines to Github Actions"
ASWF projects are working on migration from Azure DevOps to Github Actions. Using this issue to track testing and migration on the OpenCue side.

[2020-06-16 23:18] #694 closed

[2020-06-16 23:19] #651 closed

[2020-06-17 00:03] bcipriano commented on #698
It looks like this issue was introduced in #280, specifically [the bit that skips the job search when the search box is empty was removed](https://github.com/AcademySoftwareFoundation/OpenCue/pull/280/files#diff-1be3980a97ae6be5247415f509bc5534L143).

The effect of this is that when the Monitor Jobs refresh first happens, if the search box is empty it loads all running jobs in the system (or all u

[2020-06-18 18:42] #660 closed

[2020-06-24 20:58] DiegoTavares commented on #613
+1 for getting this integrated into Master.

[2020-06-25 22:50] bcipriano commented on #613
@DiegoTavares Agreed. Would you be able to pull these changes in and turn them into a PR? I feel like you're able to test Windows changes much more quickly than I am at the moment.

[2020-06-29 14:42] himanshujaidka commented on #712
Pls tell me what to do with this, I want to contribute

[2020-06-29 15:09] himanshujaidka commented on #636
Pls let me know how to open this file as I am fresher and wants to contribute towards this issue

[2020-06-30 17:11] himanshujaidka commented on #636
Hey @michiboo are you able to do?

[2020-07-07 21:48] roulaoregan-spi commented on #698
Hello Brian,

Adding a plugin similar to Monitor Hosts and amended the search box code so that a user can type in a filter to remove monitor jobs which do not match the filter.

Thank you
Roula

[2020-07-10 21:49] bcipriano commented on #636
@himanshujaidka I've reassigned this to you, please feel free to take a stab at this!

[2020-07-11 06:42] himanshujaidka commented on #636
thanks, @bcipriano for assigning this issue to me :)

[2020-07-11 07:08] himanshujaidka commented on #636
@bcipriano could you please tell me which file I have to run?

[2020-07-11 16:53] himanshujaidka commented on #636
@bcipriano is  PostgreSQL is mandatory for installation?

[2020-07-17 17:38] Schizo opened #727 "Automatically retry a job a given number of times"
**Is your feature request related to a problem? Please describe.**
Some Render's/Jobs fail which we re-submit a second time, which usually solves a big chunk of our issues.

**Describe the solution you'd like**
Using a `retry count` to retry the job when it's failed.

**Describe alternatives you've considered**
Some studios skim the jobs that are failed and retry it

**Additional context**
I thoug

[2020-07-23 11:54] donalm opened #729 "Layers cannot be assigned a tag that contains a dash."
**Describe the bug**
Our render node hostnames by default contain a dash. OpenCue automatically adds each render-node-hostname as a tag to the node. This is a good feature, and we'd like to use it, but we're unable to assign these tags to layers in our jobs via Cuegui.

**To Reproduce**
In Cuegui, I try to add a custom tag to a layer:

- right click on the layer
- choose 'Properties'
- type in "ex

[2020-07-23 16:59] bcipriano commented on #727
Hi!

The [job schema has a `maxretries` field](https://github.com/AcademySoftwareFoundation/OpenCue/blob/f347994faac0be9daa5381880993adb45d935a06/cuebot/src/main/resources/public/dtd/cjsl-1.9.dtd#L23) that you can set at submission time, and there's also a [`setMaxRetries` method in the Python API](https://github.com/AcademySoftwareFoundation/OpenCue/blob/b52eeb0d478139755caf95fa717aae481bf41f3f/p

[2020-07-23 17:04] #649 closed

[2020-07-23 18:33] bcipriano opened #730 "Exception from Preview widget when accessing frame resource data."
**Describe the bug**
`PreviewProcessorDialog` throws an exception when trying to access a frame preview. This is due to its incorrect access of frame resource data.

https://github.com/AcademySoftwareFoundation/OpenCue/blob/810d24bd422216e2fa26f9ff7e18c91b465a4aba/cuegui/cuegui/PreviewWidget.py#L60

The `lastResource` naming is left over from the migration to gRPC. In addition the widget is fetchi

[2020-07-23 18:41] bcipriano opened #732 "Support custom image viewer for Preview feature"
**Is your feature request related to a problem? Please describe.**
The "Preview Main" and "Preview All" features in CueGUI only support Katana currently, by opening a web browser to a local instance of Katana. We should support a custom image viewer (e.g. RV) for displaying these previews.

**Describe the solution you'd like**
Add a new config value to the CueGUI config file which can be used to p

[2020-07-27 21:16] ianianda opened #734 "Need help on class attribute "closed" in Plugins.py"
Hi there,

May I ask for a documentation of the line 202's "closed" attribute in the script below:
`            plugin_instance.closed.connect(self.__closePlugin, QtCore.Qt.QueuedConnection)
`
https://github.com/AcademySoftwareFoundation/OpenCue/blob/master/cuegui/cuegui/Plugins.py

I am writing a new plugin for OpenCue, but then I am getting this error when I click my test button in the menu bar:

[2020-07-29 17:15] bcipriano commented on #734
Hi,

Does your new plugin inherit from [`AbstractDockWidget`](https://github.com/AcademySoftwareFoundation/OpenCue/blob/master/cuegui/cuegui/AbstractDockWidget.py)? `closed` gets implemented there. All of our existing plugins subclass `AbstractDockWidget` so it's likely you want to do the same.

[2020-07-30 22:39] Crash-GHaun opened #738 "OpenCue can not communicate with RQD on Windows"
*Creating Issue as Requested by Pull Request Process*

Was setting up the Dev Environment and OpenCue was unable to communicate with RQD. It was attempting to resolve by hostname, however my machine wouldn't resolve hostname.

Since Python Socket methods support Windows to grab IP, we should use IP by default.

[2020-07-30 23:33] dhasl002 opened #740 "/opt/opencue/install_and_run.sh: No such file or directory"
**Describe the bug**
According to the June 8, 2020 meeting, "RQD startup command from GCP solution is out of date, need to replace with the standard rqd command as the earlier install_and_run.sh script does not exist."

How can I fix this?

https://github.com/AcademySoftwareFoundation/OpenCue/blob/1b381fd6360d56bff26776f7741d2fa8375e0f11/tsc/gsoc/2020-06-08.md

**To Reproduce**
Follow google cloud

[2020-07-31 00:15] dhasl002 commented on #740
Try this instead of the script
[code]

[2020-07-31 01:02] shiva-kannan commented on #740
Hey @dhasl002 !
Yes, just replacing `/opt/opencue/install_and_run.sh` with `rqd` should work too.

When I was following that guide I hit a bunch of other setup related issues.
Here is a list of them you can refer to, to get it up and running :

1. [Cloning this specific branch wasn't necessary for me](https://cloud.google.com/solutions/creating-a-render-farm-on-gcp-using-opencue#downloading_the_op

[2020-07-31 18:13] bcipriano opened #745 "Docker builds sometimes produce pip errors"
**Describe the bug**
Some users have reported pip errors at the step that upgrades `setuptools`:
[code]

It's been reported that upgraded `pip` fixes this. I haven't been able to reproduce this error, but upgrading pip to a current version is a good idea anyway.

**To Reproduce**
Steps to reproduce the behavior:
1. Run a Docker build of any component. Not sure what type of environment produces thi

[2020-07-31 20:38] bcipriano commented on #745
Funny enough as soon as I sat down to work on this it started happening on my local macOS machine. Not sure what's changed -- maybe some layers that I had cached? But why isn't it also happening in CI?

Doesn't really matter though, proceeding with the fix.

[2020-08-03 05:19] Schizo commented on #727
Thanks a lot, that's helpful. That's exactly what I was looking for.

[2020-08-05 15:46] #745 closed

[2020-08-05 15:47] #636 closed

[2020-08-05 15:48] bcipriano commented on #636
@himanshujaidka Sorry, missed this -- yes a Postres install is required for OpenCue.

@DiegoTavares Has fixed this issue in #741 though.

[2020-08-06 15:18] RickShahid commented on #646
Any update or workaround on this issue? It also occurs in a powershell terminal with administrative privileges.

[2020-08-07 17:59] murriel opened #751 "Cuebot Docker image build failure"
**Description**
Docker build of the cuebot image is failing on certain systems due to permissions on the VERSION file copied during step 8 of the build.

**To Reproduce**
Steps to reproduce the behavior:
From the root of the repository, run `docker build -t opencue/cuebot:master -f cuebot/Dockerfile .`

**Expected behavior**
docker build completes successfully and image is available for use. (`doc

[2020-08-08 00:23] Crash-GHaun opened #754 "OpenCue Cuebot server fails to run: The job (DEFAULT.hardwareCheck) referenced by the trigger does not exist"
**Describe the bug**
Wow -- Honestly I'm not really sure what the heck is going on with this. Looking through the service.xml file everything seems to be perfectly fine. I originally thought that this was a dependency issue as I'm doing some development with new dependencies, however I went ahead and made a fresh clone of the project and ran the Cuebot server. After testing this way I received the

[2020-08-10 17:06] donalm commented on #459
Hey @larsbijl we have some time to work on this feature now - are you interested in contributing your code at this time? Would we be able to help you to prepare it to get merged?

If not, would you like to offer us some guidance on how you approached this before we dig into it ourselves?

[2020-08-10 21:57] bcipriano opened #755 "Upgrade PySide to a more recent version."
**Describe the process**
Newer versions of Python 3 / pip on Windows no longer provide the version of PySide2 that we're using:

[code]

We should upgrade to a more recent version to avoid affecting more Windows users.

[2020-08-10 23:33] Crash-GHaun commented on #754
Updated logging to show debug -- Pasting output here to continue troubleshooting and provide an update

[code]

[2020-08-10 23:49] bcipriano commented on #754
@DiegoTavares @gregdenton @dinesy This is happening on a Windows box... any of you seen anything like this before? Any ideas?

This setup was working fine before the machine got re-imaged, now this.

[2020-08-11 00:08] bcipriano commented on #754
Based on those logs, it looks like the Quartz scheduler is starting twice, with the same instanceId, and failing the second time, causing the exception, which would make sense.

But why would it be starting twice suddenly, and only in this new environment?

[2020-08-11 12:44] larsbijl commented on #459
Hey @donalm, I will make time this weekend to put in a MR with our implementation.

it will be missing the migration (never wrote one) and some of the front end implementation as that had diverged from our local branch.

[2020-08-11 14:02] donalm commented on #459
That'd be amazing - thanks @larsbijl !

[2020-08-11 17:16] #751 closed

[2020-08-12 21:23] Crash-GHaun commented on #754
Just logging some additional things I've tried at this point while working through this problem:

I've tried multiple versions of Gradle:
5.6
6.0.1
6.6

I've tried multiple versions of spring-boot:
2.2.0
2.2.1
2.2.2
2.3.1

I've tried changing Quartz Scheduler to version 2.3.1

Please let me know if you have ideas on what else I can try on this. Or if there are any other logs I can provide.

Thanks

[2020-08-12 21:38] Crash-GHaun commented on #754
Ok I'm not extra confused. I went ahead and completely changed IDEs. I switched over to IntelliJ and for some reason the same folder, the same code, the same everything runs.

I'm not sure what's different about intelliJ vs Eclipse, but I think we have a bug for Eclipse not a bug for Y'all. Closing out and getting back to development

[2020-08-12 21:38] #754 closed

[2020-08-16 10:48] larsbijl commented on #459
A little update on this. I have the majority of this ported over.

Some outstanding issues that I will need some help on.

1) for simplicity I modified the Initial migration to incorporate all the changed needed in both the tables, functions and triggers.
To keep backward compatibility for users it will need to make it into a migration.

2) Our cuegui and rqd have diverged too much for easy merge.

[2020-08-18 01:11] mariocapellari opened #763 "comment_pb2 ImportError trying to run CueSubmit on Windows OS"
**Describe the bug**

Working with this document: [Setting up a development environment on Windows](https://www.opencue.io/contributing/opencue/getting-started/getting-started-windows/)

I am at step: [Running CueSubmit](https://www.opencue.io/contributing/opencue/getting-started/getting-started-windows/#running-cuesubmit)

When executing 8. I am seeing this error message in PyCharm:

[code]

**Ex

[2020-08-18 20:08] #730 closed

[2020-08-18 20:10] bcipriano commented on #715
With these latest PRs merged, release [v0.4.55](https://github.com/AcademySoftwareFoundation/OpenCue/releases/tag/v0.4.55) was now produced entirely using the new Github Actions pipelines!

Remaining todo:
- Fix a bug where no changelist is produced in the new release.
- Remove the now-obsolete DevOps pipelines.

[2020-08-18 20:37] bcipriano commented on #715
I also have to migrate the SonarCloud pipeline to Github.

[2020-08-21 06:11] mariocapellari commented on #763
closing due to lack of feedback

[2020-08-24 21:11] ianianda commented on #734
Hi Brian,
Thanks for the reply! May I ask for a following up question of this issue?

Would `AbstractDockWidget` be able to add a new menu to the right side of the _Help_ button on the menubar instead of creating a new textbox area in the gui?

Thanks for the help!

[2020-08-26 06:45] Schizo opened #769 "Per Layer Progress Status"
**Describe the enhancement**
This feature might already exist, but is there a way of having per Layer progress bars? We can deduce the progress on per-frame renders, by looking at the finished jobs, but we have also Jobs that can run and report an estimated time, but we don't have a way of visualizing it in the status.

**Version Number**
latest

[2020-08-26 17:20] bcipriano commented on #734
I think that `AbstractDockWidget` is really only meant for creating new panes within the GUI. For modifying the top-level menu you probably want to start with the `MainWindow` class, in particular the `__createMenus` method creates those.

https://github.com/AcademySoftwareFoundation/OpenCue/blob/27e7ba19d6f8d231c03fedf5b666888d4a6d2920/cuegui/cuegui/MainWindow.py#L171

If you'd like to describe m

[2020-08-26 18:55] bcipriano commented on #769
I don't think this exists yet but maybe @DiegoTavares can relay some tips.

Good suggestion, thank you!

[2020-08-28 18:58] ianianda commented on #734
Did a trick and my problem was solved! Thanks for the help, Brian!

[2020-08-28 18:58] #734 closed

[2020-08-30 15:30] shiva-kannan opened #772 "Azure integration for the cloud manager plugin"
**Is your feature request related to a problem? Please describe.**
Similar to the GCP integration that was implemented for the cloud manager plugin, implement the azure integration and
make sure the cloud API satisfies all the requirements to integrate with a 3rd party cloud provider like Azure

**Describe the solution you'd like**
N/A

**Describe alternatives you've considered**
N/A

**Additional

[2020-08-30 15:47] shiva-kannan opened #773 "Operation caching for cloud manager plugin"
**Describe the enhancement**
Provide a way to locally cache the operations made on individual cloud groups. This will be helpful for the following reasons.

1. It can help identify bad nodes and validate them against what RQD reports.
2. Provide visual feedback for any operation failure that has happened or any delayed error that happens on the cloud for a particular cloud group.
3. Help in the pr

[2020-08-30 15:49] shiva-kannan opened #774 "AWS integration for cloud plugin"
**Is your feature request related to a problem? Please describe.**
Similar to the GCP and Azure integrations, implement the AWS integration for the cloud plugin.

**Describe the solution you'd like**
N/A

**Describe alternatives you've considered**
N/A

**Additional context**
The AWS integration would use [Auto Scaling Groups](https://docs.aws.amazon.com/autoscaling/ec2/userguide/AutoScalingGroup.

[2020-08-30 15:53] shiva-kannan opened #775 "[Cloud Manager Plugin] Cloud group source for MonitorHosts plugin"
**Describe the enhancement**
Provide a way to either tag/create a new column inside of MonitorHosts plugin that would identify each of the nodes spun up
using the cloud plugin from its source cloud group.

**Screenshots**
N/A

**Version Number**
N/A

**Additional context**
This feature enhancement is a result of the cloud manager plugin integration. While the nodes that get spun up in the cloud ge

[2020-09-01 18:24] optimality commented on #763
I was having similar problems on Linux using Python 3.5.  I tried running 2to3, that fixed it (except when I ran it, then recompiled the protobufs :) ).

[2020-09-01 20:54] #715 closed

[2020-09-01 21:49] IdrisMiles commented on #491
Can this issue be closed now? Looks like #666 resolved it?

[2020-09-01 21:59] IdrisMiles commented on #242
Haven't looked too deeply into the requriements of `FileSequence` but another contender to throw into the mix might be https://gitlab.com/4degrees/clique . It's also a module that implements a class for representing filesequences

[2020-09-02 18:41] bcipriano commented on #491
Yes it can, thanks!

[2020-09-02 18:41] #491 closed

[2020-09-02 20:44] #738 closed

[2020-09-03 20:35] bcipriano opened #776 "Add config setting to control length of time before jobs are archived"
**Describe the enhancement**
Cutoff for archiving jobs is currently hardcoded to 72 hours. Move this to `opencue.properties` so it's configurable.

**Version Number**
953273c71491bb56f0a51364a2dfc3932cca760a

**Additional context**
Add any other context here.

[2020-09-03 20:39] bcipriano commented on #289
@samkenw

The only way to access the archived jobs, currently, is to query the database directly, in the `job_history` table.

I think the primary concern here, and the thing preventing us from quickly implementing this, is the potentially huge number of jobs this could be returned via the API. So we may need to consider implementing paging or limit it in some other way.

Re: adjusting the archive

[2020-09-16 20:26] #763 closed

[2020-09-18 21:20] bcipriano opened #784 "Upgrade gRPC"
**Describe the process**
gRPC doesn't publish wheels for older versions of gRPC on newer versions of Python. For example, I just ran into this trying to set up a Windows dev environment using Python 3.8.

This makes the install process extremely complex, at least on Windows where it's very difficult to get the build environment set up correctly.

This will require a minor version bump -- it's like

[2020-09-25 20:47] bcipriano opened #785 "Package Python components for distribution"
**Is your feature request related to a problem? Please describe.**
Installing and running the various Python components within OpenCue (CueGUI, RQD, etc.) is much harder than it needs to be. It requires installing Python (in some cases), creating a virtual environment, installing dependencies, and running via the command line. Basic config is done via environment variables which is also user-unfri

[2020-09-25 20:48] bcipriano commented on #785
I've started work on this, focusing on CueGUI first. `pyinstaller` seems promising along these lines, and I have basic builds working in both macOS and Windows.

[2020-09-27 09:41] simonlvr opened #786 "AttributeError: 'module' object has no attribute 'qApp'"
**Describe the bug**
After following all the steps to install open cue on Google Cloud, on my local machine, when I ender the command

`python cuesubmit/cuesubmit &`

The submit interface doesn't load and the error I receive is:

AttributeError: 'module' object has no attribute 'qApp'

Using Python 2.7 as per the turorial here ([link](https://cloud.google.com/solutions/creating-a-render-farm-on-gc

[2020-09-28 17:29] bcipriano commented on #786
IIRC this error usually indicates an unexpected version of PySide. Are you using a virtual environment / does your installed version of PySide match what's in [`requirements_gui.txt`](https://github.com/AcademySoftwareFoundation/OpenCue/blob/master/requirements_gui.txt)?

[2020-09-30 01:11] simonlvr commented on #786
Hi, thanks!
That fixed it. I was using a virtual environment.

I see now that the tutorial didn't mention I needed to install requirements_gui.txt

https://cloud.google.com/solutions/creating-a-render-farm-on-gcp-using-opencue#initialize_a_virtual_environment

But it works after I added this line

[code]
Thanks

[2020-10-01 10:47] IdrisMiles opened #789 "Drop simplejson dependency in favor of standard json library"
**Describe the enhancement**

Have noticed that `simplejson` is in the requirements.txt and it's only usage is within pyoutline to parse a json representation of an outline.

It doesn't seem like there are any tools for constructing a json outline with `simplejson` within the repo, so I can't see any need to rely on it, but there might be historical reasons?

Wondering if we can drop the extra dep

[2020-10-01 16:28] bcipriano opened #790 "Enable -Werror for Cuebot"
**Describe the process**
Make warnings cause errors during Cuebot compilation.

This satisfies one of the items laid out in our CII badge.

[2020-10-01 19:11] bcipriano commented on #755
Also just hit this issue running Python 3.8.5 on macOS:

[code]

[2020-10-01 21:40] bcipriano commented on #786
Yeah, that solution is a bit out of date now, since it was written the secondary requirements file was added.

I'm in touch with the folks who maintain that doc who are working on an update, and I'll pass this along to them.

Thanks!

[2020-10-01 21:40] #786 closed

[2020-10-06 18:00] #776 closed

[2020-10-08 17:50] bcipriano commented on #785
Updated the title here, as there are really two separate items here -- the creation of packaging tools, and the distribution of those packages, if we even decide to do that, which is not clear yet.

[2020-10-08 22:17] bcipriano commented on #785
Ran into a few items which should be addressed which I'll collect here.

Todo:
- Block packaging if protos not compiled
- Standardize proto compilation across the codebase/docs by creating a script to do it
- CueGUI version number isn't correct when packaged
- Update pycue config system to copy config file to user homedir. On initial copy, CueGUI should prompt to fill in a Cuebot address. Add a pl

[2020-10-09 05:53] vikram-atreya commented on #641
@bcipriano Sir I would like to continue the work on this issue. Could you assign this to me please.

[2020-10-13 02:19] simonlvr opened #798 "GPU/NVIDIA drivers in RQD"
I've been trying to enable GPUs on the RQD for a few days now, but can't see where on the docker file I'd add the driver.

Also, is there anywhere on Opencue submit where you can specify a GPU?

I realise that this may not be the right spot to ask, so apologies! Any help would be greatly appreciated.

**Describe the solution you'd like**
An example Docker file for CentOS that installs NVIDIA drive

[2020-10-13 22:22] bcipriano commented on #798
Just so I understand -- the dockerfile you've added here builds, but doesn't render using GPUs, right?

When you try to add the driver, what lines did you add and what's the error you're getting when you try to build the image?

What's the error you get when you try to build fananimi's image?

I've heard that getting GPU running within Docker is tricky and TBH I don't have any first-hand experienc

[2020-10-13 22:46] simonlvr commented on #798
Thanks for getting back to me!

Yes, GPU is important, I'm afraid, because it will significantly reduce the cost of rendering frames on the google cloud.

Ah! The tutorial on Google Cloud has a link to download this version

`git clone --branch 0.3.6 https://github.com/AcademySoftwareFoundation/OpenCue
`
I see now we're up to v0.4.55... I'll definitely upgrade to the latest version!

Yes, the dock

[2020-10-13 23:33] bcipriano opened #800 "Document our policy for adding tests"
**Describe the process**
Our Pull Request template should document our policy of always adding tests for new code.

[2020-10-13 23:36] bcipriano opened #801 "Resolve reliability/security SonarCloud warnings"
**Describe the process**
We should resolve any issues reported by SonarCloud in the "Reliability" and "Security" categories.

Python components currently show no such issues: https://sonarcloud.io/dashboard?id=AcademySoftwareFoundation_OpenCue

Cuebot shows a bunch, some of which do not affect us and can be ignored: https://sonarcloud.io/dashboard?id=AcademySoftwareFoundation_OpenCue_Cuebot

[2020-10-13 23:37] bcipriano opened #802 "Gate release pipeline on SonarCloud passing"
**Describe the process**
Check SonarCloud quality gate results for a passing grade. If new code does not meet this requirement, the release should be blocked.

[2020-10-13 23:37] bcipriano commented on #395
Remaining work here is now covered by #801 and #802.

[2020-10-13 23:37] #395 closed

[2020-10-15 02:37] bcipriano commented on #798
Absolutely get why GPU is important -- I was asking if *Docker* is important. It sounds like it's not. Sorry if that wasn't clear.

Based on your description it sounds like the Docker problem is due to having multiple `FROM` lines. Typically you only want one `FROM` in your dockerfile, as that indicates the base image you'll be starting to build onto. For example if `FROM nvidia/cuda:10.2-base` co

[2020-10-15 21:10] flinfo opened #804 "RQD fresh install - CRITICAL:root:Please run launch as root"
New Centos8 install.
Python3 installed (also tried with Python2).
User in Sudoers.
Installed RQD as per - Option 3: Installing from the published release (https://www.opencue.io/docs/getting-started/deploying-rqd/#option-3-installing-from-the-published-release)
$rqd - results in `CRITICAL:root:Please run launch as root`
$sudo rqd - results in `sudo: rqd: command not found`

I must have something s

[2020-10-15 22:25] bcipriano commented on #804
Yeah, because of RQD's built-in behavior of switching users based on who submitted the job, it needs to run as root. It's not ideal, and something we should address eventually, but that's the current behavior.

`sudo rqd` likely isn't working because it isn't running within the virtual environment you set up as your non-root user. Probably the best way to resolve this is to become root via `sudo s

[2020-10-15 22:52] flinfo commented on #804
Thanks Brian, I see. Yes not ideal. sudo su did get us further but now:

Thoughts?

[2020-10-16 16:43] bcipriano commented on #804
Here's that line in the code:

https://github.com/AcademySoftwareFoundation/OpenCue/blob/v0.4.55/rqd/rqd/rqutil.py#L143

It's pretty simple, just tries to get the IP address of the current host, which Cuebot will use to communicate with that host.

Try starting a Python shell and run the same line of code:

[code]

Does that succeed, or do you get the same error?

[2020-10-18 05:49] simonlvr commented on #798
I made good progress with the second option

1. Create a machine image that contains RQD, any rendering software you need, and any drivers you need. (success, using these commands on Ubuntu 18.0.4

[code]
2. Installing RQD (success) but I have hit a roadblock on launching.

With:
`telnet $CUEBOT_HOST 8443`

I get the expected result; but then I can't connect:

[code]

Any idea how I might trouble

[2020-10-18 17:52] amsaid1989 opened #810 "Installing the client packages fails on Linux Mint 20"
**System Information**
OS: Linux Mint 20
Python: 3.8.5
GCC: 9.3.0

**Describe the bug**
I am following the quick start guide to test OpenCue before I deploy it. I followed all the steps successfully and managed to build the docker container and it is running with the following output:

cuebot_1  | WARNING: Illegal reflective access by com.google.protobuf.UnsafeUtil (jar:file:/opt/opencue/cuebot-0.

[2020-10-18 20:28] flinfo commented on #804
Thanks Brian.

So it works and returns it's ip address.

[2020-10-19 17:42] matthewpallotta commented on #804
Is the expectation on the NFS server for the shared folders to be 777? Exporting with root_squash is tough.

[2020-10-20 18:25] bcipriano commented on #804
@flinfo Yes, that's the expected result. Oddly, it's working in your shell but not in the context of RQD, even though both are using (I assume) the same virtual environment.

Could you try switching to `root` and doing the same? It looks like you ran that shell as a non-root user, so it would be good to check.

[2020-10-20 18:26] bcipriano commented on #804
@matthewpallotta I don't believe there's any expectation of permissions. The render process will need to be able to read any input files and write to the output directory of course, but RQD shouldn't require anything more specific than that.

[2020-10-20 18:34] bcipriano commented on #798
Are your Cuebot and RQD instances running within the same VPC Network? That should allow communication between the two without any special firewall rules, I believe. But in general yes, GCP networking needs to be set up like a) Cuebot network allows 8443 from RQD network and b) RQD network needs to allow 8444 from Cuebot network.

That `telnet` -- you ran it from the RQD instance? Or somewhere els

[2020-10-20 18:39] bcipriano commented on #810
Based on that output it looks like there's no `grpcio` wheel published for the combination of the version of gRPC we're using and Python 3.8, so the install process is trying to build it from source instead.

I've hit a variety of issues on Python 3.8, mainly [around PySide](https://github.com/AcademySoftwareFoundation/OpenCue/issues/755) due to missing wheels.

We're going to try tackling this so

[2020-10-20 20:01] amsaid1989 commented on #810
Thanks for getting back to me. I had a feeling it would be related to Python 3.8, but wanted to be sure. I was using it because it is the one available on the system. I will give Python 3.7 a try and let you know if it works.

[2020-10-20 22:01] simonlvr commented on #798
HI, yep, they are both running on the same VPC Network, on Google cloud services.

I'm running the `telnet` -- from the RQD instance to the cuebot, and it connects successfully, and I'm using `CUEBOT_HOSTNAME` as the ENV var for RQD.

[2020-10-21 01:51] saki-osive opened #811 "Failed to install the OpenCue client packages"
OS : Ubuntu 20.04
GNOME : 3.36.3
GCC : 9.3.0
OpenCue : v0.4.55
Python : 3.7.9
Pip : Python 20.2.4

I'm trying to install OpenCue from source following the docs at the page https://www.opencue.io/docs/quick-starts/quick-start-linux/

Under https://www.opencue.io/docs/quick-starts/quick-start-linux/#installing-the-opencue-client-packages
section, when I run the 6th command, i.e. sandbox/install-clie

[2020-10-22 17:53] bcipriano commented on #811
It looks like the install process, in trying to build `psutil`, isn't able to find the Python header files it needs to run that build. Probably they aren't installed on that system.

For Ubuntu + Python 3, I believe the package you need is `python3-dev`. So try:

[code]

[2020-10-22 18:14] bcipriano commented on #798
Ok, sounds like network is not the issue then. Could you give more detail on how you're setting `CUEBOT_HOSTNAME`, with some example code maybe? Maybe there's some issue there I can identify.

As for forcing Blender to use GPU, let me reach out to some folks who have more Blender experience than I do to see if they have any suggestions.

[2020-10-22 20:26] JT-os commented on #798
One area that of interest to CI groups that may be relevant for researching an answer to this challenging config is NVIDIA EGL Eye.
https://developer.nvidia.com/blog/egl-eye-opengl-visualization-without-x-server/

Let us know how that goes.  I have a few other bread crumbs I can scan the nooks and crannies for also if that doesn't help.

[2020-10-22 21:08] bcipriano commented on #789
This looks fine to me. I don't see any reason there to not just use the standard `json` library.

[2020-10-22 21:32] bcipriano commented on #641
@vikram-atreya Hi, sorry for the delay here. I've been working on this a bit as part of #785, and given that our methods of how we package CueGUI are about to change, I don't think it makes sense to work on at the moment. Better to let things settle out with the packaging first.

Lots of work to be done in [our Backlog](https://github.com/AcademySoftwareFoundation/OpenCue/projects/14) though! Than

[2020-10-26 17:42] DiegoTavares opened #821 "GRPC intermittent connection errors"
**Describe the bug**
Long lasting connections are failing with StatusCode.UNAVAILABLE

**To Reproduce**
The error doesn't always happen, but the way we're experiencing the issue is:
1. Loop over the frames of a job with several frames and dependencies
2. For each frame call depend.satisfy() on what depends on this frame
3. in the end of the loop, wait for 10 seconds
4. Repeat this 6 times. (don't

[2020-10-26 18:16] DiegoTavares commented on #821
This might be a solution for it:

https://github.com/grpc/grpc/issues/19514#issuecomment-531700657

[2020-10-26 18:25] DiegoTavares commented on #821
Also investigating if it might have something to do with the version of grpc we're currently using. This issue might have been fixed on https://github.com/v3io/frames/commit/d6c485aed3849958cb678ea6f27efed552881fea

[2020-10-26 19:44] bcipriano commented on #821
The `opencue` library does have some error handling logic already in [`util.grpcExceptionParser`](https://github.com/AcademySoftwareFoundation/OpenCue/blob/babaa38c36359f609ed18778d052f5db2eca4096/pycue/opencue/util.py#L40), including automatic retries for `UNAVAILABLE` errors. However it looks like this is only used for API calls going through [`api.py`](https://github.com/AcademySoftwareFoundati

[2020-10-26 21:28] saki-osive commented on #811
Hi, thanks for your feedback, I installed ``` python3-dev ``` , after that I'm facing the issue "ERROR: Failed building wheel for grpcio". Can you look into it once and tell me where could I have been wrong?
Thanks.

[code]

[2020-10-26 21:35] saki-osive commented on #811
Also, could I get a complete list of all the apt dependencies that I will require? The "Getting started" documentation at https://www.opencue.io/docs/quick-starts/quick-start-linux/
mentions only 5 requirements which clearly aren't enough. Else, tell me, keeping what distro/flavour of Linux in mind, the "Getting started" documentation has been made? Or, the documenation asssumes that Python builds

[2020-10-27 18:12] bcipriano commented on #811
Regarding the build error -- yeah, we've recently seen some issues with gRPC and PySide on Python 3.8. The versions of those dependencies we're using are old enough that pre-compiled wheels aren't distributed for them on Python 3.8. We need to upgrade those dependencies to fix this (see for example #755). The workaround for now is to use Python 3.7.

I don't remember which distro we were originall

[2020-10-28 17:42] bcipriano commented on #821
@DiegoTavares Any update on whether the upgrade fixed this issue?

I'm thinking we will need to look into error handling in the wrapper classes anyway.

[2020-10-28 22:28] IdrisMiles commented on #789
ok great, I'm happy to do this if you can assign the ticket to me

[2020-11-03 17:26] #789 closed

[2020-11-05 21:33] saki-osive commented on #811
Hi, thanks for your reply. I got it working with Python 2.7 as of now and testing out on all other popular Linux distros to streamline the docs.
I wanna know if I can raise PRs for documentation as I'm actively testing OpenCue for Linux now-a-days? It'd be great for me to get started with contributing to the OpenCue project.
Thanks.

[2020-11-06 18:56] bcipriano commented on #811
Glad to hear it!

The code for our website, including docs, is at https://github.com/AcademySoftwareFoundation/opencue.io. In particular the [`content/docs`](https://github.com/AcademySoftwareFoundation/opencue.io/tree/master/content/docs) directory is probably what you're looking for.

There's more info in the README in that repo describing the setup process, and the PR template will walk you thr

[2020-11-08 05:01] saki-osive commented on #811
Thanks you.

[2020-11-08 05:01] #811 closed

[2020-11-12 20:40] eric-with-a-c opened #826 "RQD hosts do not register without sample data in DB"
**Describe the bug**
RQD hosts are not able to register with Cuebot if the sample data has not been added to the database. I was not able to find any documentation that this is a requirement and there wasn't anything written into the logs to indicate that this is a requirement. But I spent the better part of a day trying to figure out why RQD hosts were not registering. After ruling out firewall,

[2020-11-13 18:17] bcipriano commented on #826
@eric-with-a-c Thank you for reporting! Sorry this took so long to figure out.

Which Cuebot package were you using to deploy from? I.e. was it the .jar, the .rpm, Docker image?

It's true that in order to add a host some other pieces of data must be populated first -- probably a facility, but I'd have to look into it more.

There was a discussion around this a while back as to whether this initia

[2020-11-13 20:37] eric-with-a-c commented on #826
@bcipriano Thanks for the quick reply!

I was using the .jar. Had I paid better attention to the releases page I might have gone with the .rpm. 🤦 Oh well.

Yeah, I agree that including the initial data as part of the schema should be avoided. The second item on your list, updating the docs, would probably be sufficient.

Honestly, the lack of documentation is probably the largest barrier to entry

[2020-11-14 08:35] slatunje commented on #810
Facing the same problem as @amsaid1989

**OS**: Ubuntu 2004
**Python**: 3.8.5

Tried all versions of python 3.7.0 - 3.7.9 all had issues as above

Only success I had was with python 2.7.18

[2020-11-15 13:31] larsbijl opened #830 "Add colour hightlight to logview"
**Describe the enhancement**
The log view can be difficult to parse visually, add some simple highlight rules to make it easier for users to catch important information.

[2020-11-15 13:44] larsbijl opened #832 "Reset window layout option"
**Describe the enhancement**
users remove widgets from their layout by accident and need to restore. Provide a way to reset to the default layout.

[2020-11-15 13:57] larsbijl opened #834 "Display progress information in the Job progress bar"
**Describe the enhancement**
Don't spreadsheet overload artists with too many columns. Display the key job's progress information in the job's progress bar.

[2020-11-15 14:14] larsbijl opened #836 "Bookingbar in Cue job Monitoring Tree"
**Describe the enhancement**
Re-introduce the Bookingbar into the Job monitoring tree.

This widget is super useful to visualize if the job's is running into limits such as the job max procs.

[2020-11-15 14:53] #790 closed

[2020-11-15 14:55] #727 closed

[2020-11-15 15:15] larsbijl opened #838 "Subscription Graph plugin"
**Is your feature request related to a problem? Please describe.**

Display the subscriptions of projects using the bar chart to visualize its overall usage.

[2020-11-15 15:59] larsbijl commented on #784
The same issue on the latest ubuntu which uses python 3.8. had to revert to using python 2.7 using a virtualenv.

[2020-11-15 16:04] larsbijl commented on #784
Looks like we can update to `1.26.0` as its the last version before the deprecated python 2 support.

[2020-11-15 16:15] larsbijl opened #840 "Drop Oracle DB support"
Most users have transitioned to using Postgres DB.

Our test coverage already is not able to run against oracle as [described here](https://github.com/AcademySoftwareFoundation/OpenCue/blob/068d0e304fd3d3c5b3f1da9d2588da20c6fdf330/cuebot/build.gradle#L134)

To simplify development and testing we can remove Oracle DB from the codebase.

Show of hands if anyone currently still uses Oracle DB?

[2020-11-21 21:36] larsbijl opened #841 "Add more Colour themes"
**Describe the enhancement**
Add more color theme options and make it easy to switch between them.

[2020-11-22 21:11] larsbijl opened #843 "Prometheus metrics exports"
Add example of how scheduler metric's can be exported to prometheus.

[2020-12-01 19:12] bcipriano commented on #821
@DiegoTavares Ping on this, did your fix work?

[2020-12-02 17:32] #769 closed

[2020-12-09 20:26] IdrisMiles commented on #821
@larsbijl is this the same issue we've been experiencing?

[2020-12-10 20:42] #836 closed

[2020-12-12 16:23] #838 closed

[2020-12-13 15:32] amsaid1989 commented on #810
I just wanted to follow up on this issue. Sorry it took me a while. I have been busy with other projects.

I built Python 3.7 from source and tried it and managed to get the sandbox environment working successfully. So, for me it was a Python 3.8 issue.

The only issue I faced was, since the sandbox quick start guide seems to use an old version of OpenCue, the following [file](https://github.com/A

[2020-12-13 21:52] amsaid1989 opened #868 "Deployed OpenCue on local machine but jobs fail to execute"
**Describe the bug**
I have followed the guide to deploy OpenCue on one of my local machines. I installed everything using the downloads available on the releases page. As far as I can tell, everything seems to be working. I don't get any errors when I run any of the different components neither when I try to submit a job.

However, when I view the logs, the job reports it failed to execute. I tri

[2020-12-14 08:12] amsaid1989 commented on #868
I tried submitting jobs again after checking to make sure all the connections are working properly. I still get the same error.

Cuebot Terminal window displays the following output:

`Dec 14, 2020 8:04:27 AM io.grpc.netty.NettyServerTransport notifyTerminated
INFO: Transport failed
io.netty.handler.codec.http2.Http2Exception: HTTP/2 client preface string missing or corrupt. Hex dump for received

[2020-12-15 02:26] #830 closed

[2020-12-15 18:11] #800 closed

[2020-12-15 23:33] #832 closed

[2020-12-16 19:28] amsaid1989 commented on #868
For anyone having a similar issue, @bcipriano provided a solution over at the `opencue-user` mailing lists. Basically, you will need to build OpenCue from source, since the setting that fixes this issue was added just yesterday. Once you go through the build process all you need to do is create this file (and the opencue folder if it doesn't exist) `/etc/opencue/rqd.conf`.

You then need to edit i

[2020-12-16 19:28] #868 closed

[2020-12-16 20:22] #834 closed

[2020-12-22 08:25] Schizo commented on #361
Was there any movement on this? It would be great to have  basic version of this running.

[2021-01-01 23:40] MichaelAldrich commented on #785
Managing a python environment is relatively simple, what is complicated about opencue is the installation process. Typical python packages can be installed via `pip install name_of_package`, this is enabled by zipping up packages correctly, and uploading them to pypi, to be indexed and available by name from pip.

Ignoring pypi and indexing, the existing python components do not follow typical beh

[2021-01-13 20:51] Javed000 commented on #476
Hi,
I am Gsoc Aspirant. As a beginner, Can I contribute to fix this bug. Please provide help.

[2021-01-16 11:45] #843 closed

[2021-01-16 12:30] larsbijl opened #878 "docker-compose sandbox can't be run twice"
**Describe the bug**
when following along with the quickstart guide

https://www.opencue.io/docs/quick-starts/quick-start-linux/

Running the docker-compose, creates a host mounted volume for the database.

`  - ./sandbox/db-data:/var/lib/postgresql/data`

on subsequence running of the docker-compose, it gives a cryptic error `Permissions Denied`.

[2021-01-18 10:49] simonlvr commented on #418
Hi, I'm having the same problem on Ubuntu 18.04

[code]
I tried the solution above:

`sudo -u daemon cat grpcio/1.22.0/platform-linux/arch-x86_64/python-2.7/python/grpc/_server.py
`
But no luck

At @donalm I was wondering where rqd.__main__ is, I could seem to find it. Any help would be much appreciated!

[2021-01-18 10:57] larsbijl commented on #418
@simonlvr have you tried?

`sudo -u daemon cat /home/simon/.local/lib/python3.7/site-packages/grpc/_server.py`

[2021-01-18 11:00] simonlvr commented on #418
Thanks for the reply... I did and I get:

`cat: /home/simon/.local/lib/python3.7/site-packages/grpc/_server.py: Permission denied
`
I also tried to chmod777 the file to no avail

[2021-01-20 00:59] simonlvr commented on #418
I managed to run the sudo -u daemon cat  from the site-packages folder on _server.py but I'm still getting the same error message unfortunately.

[2021-01-21 19:55] #878 closed

[2021-01-22 21:14] splhack opened #881 "Cuebot doesn't call sendShutdownEmail when all frames died?"
Cuebot will call `emailSupport.sendShutdownEmail()` when all frames finished successfully, or some of frames finished successfully.

But, doesn't call it when all frames died. Is it expected behavior?

[2021-01-22 21:40] splhack commented on #804
The solution is `RQD_BECOME_JOB_USER` 🙂
https://lists.aswf.io/g/opencue-user/message/390

[2021-01-22 22:53] #547 closed

[2021-01-23 11:29] #462 closed

[2021-01-23 18:46] IdrisMiles opened #882 "docker files need to pin max pip version for python2"
**Describe the process**

The latest version of `pip` (21.0) and `setuptools` (45) has just dropped python 2 support.
As a result building the sandbox environment fails:
[code]

[code]

We need should pin `pip` < 21 and `setuptools` < 45 during the calls to upgrade these packages in the various Dockerfiles

[code]

[2021-01-24 12:46] larsbijl opened #885 "Fix issue with Cue job monitoring table"
**Describe the bug**
CI reports issue with cue jobs monitoring widget having an index error.

This is due to the column ID's not having been incremented correctly.

[2021-01-27 22:48] bcipriano commented on #559
@sharifsalah This came up during our last TSC meeting -- we'd love to get these API reference docs finished up and published.

I've done a good amount of work recently cleaning up docstrings as part of #78, which I think puts us pretty close to completion here.

What else is left other than updating docstrings? I imagine we'll need to, as part of one of our automated pipelines, build the docs HTML

[2021-01-29 00:40] #804 closed

[2021-01-29 00:52] bcipriano opened #891 "Split demo_data.sql into "minimum necessary data" and "actual demo data""
**Describe the enhancement**
`demo_data.sql` is misleadingly named, as it actually contains some data which is needed for OpenCue to function at all. Our docs mention populating the database with this data, but it's unclear that it's actually needed.

Some of the data contained in that file is actually demo data, like example shows, facilities, and so on.

We should split this file, so that we hav

[2021-01-29 00:55] bcipriano commented on #840
No one spoke up here or on the mailing lists, so as discussed during the last TSC meeting we're good to proceed.

I'm planning to take a first pass at this soon.

[2021-01-29 01:00] bcipriano opened #892 "Add CueGUI functionality for adding new projects"
**Is your feature request related to a problem? Please describe.**
Currently project creation is best achieved via the Python API, using something like:

[code]

**Describe the solution you'd like**
CueGUI should support creating a new project easily via GUI. This could be a new plugin or new menu item, but most likely we should add functionality to an existing plugin which already provides projec

[2021-01-29 09:27] #882 closed

[2021-01-29 09:28] #885 closed

[2021-01-30 10:44] IdrisMiles commented on #892
There is already a show plugin which lists all shows and a few stats about them.
This seems like a logical place to add an `Add Show` button perhaps?

![shows_widget_mockup01](https://user-images.githubusercontent.com/8471804/106353946-12107280-62e6-11eb-859f-47f1194d3133.png)

Show subscriptions can already be created via the right click menu on shows in this widget. Therefore do you think a Crea

[2021-01-30 10:52] larsbijl commented on #892
Add Show via the UI is an onboarding tool for users to opencue, Once they get comfortable with its mechanics they will inevitably opt to integrate it with their production management tools via the API as shown above.

I agree it should explain that shows and subscriptions are required to get frames moving.

[2021-01-31 00:37] futurGH opened #896 "'Failed to launch and add job' - Can't submit job?"
Hi! New user here. I have CueSubmit, CueGUI, and CueAdmin running on WSL on my Windows 10 machine, under an Ubuntu 20.04 subsystem. Whenever I try submitting a job through CueSubmit, regardless of the file, job type, or command, it gives me the following error in a popup:
`Failed to submit job!
Server caught an internal exception. Failed to launch and add job: Failed to parse job spec XML, java.io

[2021-01-31 08:21] mrkataei opened #897 "unable to run cuegui and cuesubmit and cueadmin"
when run this commands
in venv
CUEBOT_HOSTS=$CUEBOT_HOSTNAME_OR_IP cuegui
CUEBOT_HOSTS=$CUEBOT_HOSTNAME_OR_IP cuesubmit
show this ModuleNotFoundError
ModuleNotFoundError: No module named 'opencue'
and when run this command
python ./cueadmin/ -server localhost -ls
show this
/root/venv/bin/python: can't find '__main__' module in './cueadmin/'

[2021-01-31 09:45] mrkataei opened #898 "error on docker bulid"
hi , i run this command for build gradle
[root@localhost opencue]# docker build -t ./cuebot -f cuebot/Dockerfile .
and run successfully run until step 8 and show this error
STEP 8: COPY --chown=gradle:gradle VERSION.in VERSIO[N] ./
Error: error dry-running "COPY --chown=gradle:gradle VERSION.in VERSIO[N] ./": no files found matching "/root/opencue/VERSIO[N]": no such file or directory

[2021-01-31 11:41] larsbijl commented on #898
Hi @mrkataei

I just tried building the cuebot from master and was able to get past it successfully.

[code]

What OS are you running your build on?

[2021-01-31 11:47] larsbijl commented on #897
hi @mrkataei
`ModuleNotFoundError` would indicate that the `pycue` package was not successfully installed into your virtual enviroment.

Can you have a look inside of the venv for `venv/lib/python2.7/site-packages/opencue` (the python version will depend on your system) and see if exists.

[2021-01-31 11:53] larsbijl commented on #896
Hi @futurGH,

When you go into a web browser and go to `http://localhost:8080/spcue/dtd/cjsl-1.10.dtd` do you get a file download?

[2021-01-31 11:58] larsbijl commented on #891
We should remove the values that are being set in the `CONFIG` table but are no longer used.

- MAX_PING_TIME
- MIN_CORES_REQUIRED
- MIN_MEM_REQUIRED
- MAX_PPS
- MAX_LAYER_COUNT_PER_JOB
- MAX_FRAME_COUNT_PER_JOB
- DEFAULT_FRAME_RETRIES
- LOCK_SHOW_ALERTS

These are not referenced anywhere and are likely to confuse new Ops.

[2021-01-31 12:00] mrkataei commented on #898
hi @larsbijl
my os is CentOS-8.3.2011

[2021-01-31 12:08] larsbijl commented on #898
I used `docker build -f cuebot/Dockerfile .` to build.

when I use `docker build -t ./cuebot -f cuebot/Dockerfile .`  I get
[code]

[2021-01-31 12:15] mrkataei commented on #897
there is not any opencue in this directory
but I was successfully installed pycue into venv
there is some error too like
`AttributeError: module 'opencue' has no attribute 'api'
`
and for cueadmin
`/root/venv/bin/python: can't find 'main' module in './cueadmin/'
`

[2021-01-31 12:41] larsbijl commented on #897
the `pycue` package holds the `opencue` module.

the `api` error might indicate there is a `opencue.py` file somewhere locally that it it picking up.

which version of python are you running?

[2021-01-31 13:23] mrkataei commented on #898
i use your command too
`docker build -f cuebot/Dockerfile .`
![Screenshot from 2021-01-31 05-21-24](https://user-images.githubusercontent.com/31203641/106385275-57837d00-6384-11eb-89fd-008d20a0d099.png)
but show same error

[2021-01-31 13:33] mrkataei commented on #897
3.6

[2021-01-31 14:31] futurGH commented on #896
No, I don't. It looks like there's nothing being hosted on http://localhost:8080, and I don't see anything in my firewall setup to prevent that.

I did find one directory named `spcue`, but there was no `dtd` directory within it. I also tried creating the `dtd` directory, as well as creating a blank `cjsl-1.10.dtd` file, but neither of those helped.

[2021-01-31 14:32] larsbijl opened #899 "remove hinv and pexpect"
**Describe the enhancement**

Remove the `View Host Information (hinv)` Menu action, hinv is not a standard command from what I can tell.
This means we could drop `pexpect==4.6.0`

[2021-01-31 14:44] larsbijl commented on #898
Not sure if this could be an issue with `podman` as I can't find any reference to `dry-running` in docker itself. which version of docker do you get with:

[code]

Also, I see you're using `opencue` as the same in your home directory. Maybe try renaming it to `OpenCue` so as not to confuse python with it possibly being a module. this could cause the issue you have seen with `opencue` missing `api`

[2021-01-31 18:55] splhack commented on #896
Where are you running Cuebot on?
In this context, the `localhost` is the host where Cuebot is running on.
So you need to check `localhost` TCP 8080 port on the Cuebot host.

If some reason Cuebot can't access `localhost:8080`, for example, other process is already using it, inside container, etc,
the solution is #850. Cuebot doesn't bind 8080 and doesn't need to access `localhost:8080`.

[2021-02-01 15:12] sharifsalah commented on #559
Yes roughly right. I think building the HTML and related assets is probably the trickier bit. Most of my notes for building are [documented on the opencue.io site](https://www.opencue.io/contributing/opencue/build-docs/). From memory, when I last looked at this I was thinking the output of the Sphinx build would then be published as a ZIP file for each release of OpenCue.

The docs could then be d

[2021-02-01 18:35] bcipriano commented on #898
That Dockerfile line can be read as "always copy file `VERSION.in`, and copy file `VERSION` if it exists". In many cases `VERSION` won't exist in your local checkout, and that's fine (it's created and used by some of our automated workflows).

I agree it sounds like potentially a Docker version issue, where Docker isn't properly recognizing the admittedly weird `VERSIO[N]` syntax we use to get Doc

[2021-02-01 18:35] bcipriano commented on #899
+1

[2021-02-01 18:55] splhack opened #900 "No validation on strings??"
# Problem

Admin and user can enter any strings to anything without any validation whatsoever(?)

# Example

## Admin

    $ CUEBOT_HOSTS=localhost cueadmin -create-show "🐱"
    Please confirm. Create new show 🐱? [y/n] y
    $ CUEBOT_HOSTS=localhost cueadmin -ls
    Show     Active   ReservedCores   RunningFrames   PendingFrames     PendingJobs
    🐱       True              0.00               0

[2021-02-01 20:51] IdrisMiles commented on #899
+1

[2021-02-01 21:02] IdrisMiles commented on #897
Hi @mrkataei I think the issue is with the command you're running,  `python ./cueadmin/ ` will try to execute the toplevel `cueadmin` dir however the module is actually one level deeper `./cueadmin/cueadmin`.

I think the actual command you want to run is:

[code]

[2021-02-03 19:12] ddneilson opened #905 "Collected notes from an attempt to onboard"
As promised in the TSC meeting, this ticket contains some notes/observations that I made while attempting to set up a test deployment of OpenCue using the sandbox. I'm not suggesting any specific course of action; just sharing data on my stumbling blocks, with hopes that work items can be spun off from some of it.

In no particular order..

1. I ended up needing to configure the choice communicati

[2021-02-03 21:13] larsbijl commented on #905
Thank you @ddneilson for taking the time and providing this feedback, it is greatly appreciated!

[2021-02-03 21:46] larsbijl commented on #896
I'm getting the same issue on a new local checkout. the `cjsl-1.10.dtd` is located in the correct location in `cuebot/src/main/resources/public/dtd` but is not resolving. I'll investigate.

[2021-02-03 21:53] larsbijl commented on #896
Looks like the sandbox `docker-compose.yaml` is pulling `opencue:cuebot` which looks to be out of date.

Last build is 2 months ago, https://hub.docker.com/r/opencue/cuebot/tags?page=1&ordering=last_updated

@bcipriano is this due to our build pipeline failing?

[2021-02-04 07:22] fr4yssf opened #906 "cant initialize spring boot"
spring boot stuck on initializing , i checked database and i double check the requirements

`[root@localhost ~]# sudo java -jar $JAR_PATH --datasource.cue-data-source.jdbc-url=jdbc:postgresql://$DB_HOST/$DB_NAME --datasource.cue-data-source.username=admin --datasource.cue-data-source.password=$DB_PASS --log.frame-log-root="${CUE_FS_ROOT}/logs"`

`  .   ____          _            __ _ _
 /\\ / ___'

[2021-02-07 12:25] #493 closed

[2021-02-07 14:04] larsbijl opened #908 "Remove maa facility from RQD"
**Describe the enhancement**
`maa` is defined as a special override facility in RQD to reduce the ping time. this is special to SPI and should be removed from opensource.

[2021-02-07 14:09] larsbijl opened #909 "Add CUEBOT_GRPC_PORT to constraints overrides in settings"
**Describe the enhancement**
Allow CUEBOT_GRPC_RQD_PORT to be overridden from the `CONFIG_FILE`. this will allow user to modify the GPRC client and server port without having to modify code.

should we away from using `CONFIG_FILE` and standardized on using environment variables to override settings? with systemd is easy enough to pass variables to services.

[2021-02-07 15:38] larsbijl commented on #840
https://github.com/AcademySoftwareFoundation/OpenCue/pull/895

[2021-02-07 16:52] #900 closed

[2021-02-07 21:20] larsbijl opened #913 "Remove PTREE feature"
as the comment in the code states

[code]

We should remove it from RQD.

[2021-02-08 22:03] IdrisMiles opened #915 "sandbox quick start guide fails to submit jobs"
**Describe the bug**

Following the [linux quickstart guide](https://www.opencue.io/docs/quick-starts/quick-start-linux/) for spinning up a deployment with docker-compose fails

**To Reproduce**
Steps to reproduce the behavior:
1. Follow guide and spin up sandbox deployment with docker-compse
2. Follow guide and install python modules into virtual env
3. Submit a job with APIusing following script

[2021-02-08 22:16] larsbijl commented on #915
@bcipriano should we cut a new release since we have merged a few DB changes.

[2021-02-09 08:36] #913 closed

[2021-02-09 08:59] fr4yssf opened #917 "error on running RQD in venv"
![Screenshot from 2021-02-09 12-24-02](https://user-images.githubusercontent.com/78070349/107339727-421ff880-6ad2-11eb-929f-a455f6137c6a.png)
`unknown encoding : idna `

[2021-02-09 13:57] #906 closed

[2021-02-09 15:57] #908 closed

[2021-02-09 15:57] #909 closed

[2021-02-09 16:09] bcipriano commented on #915
Yeah, the issue here is that Docker images are only pushed to Docker Hub on release, while Docker compose runs from master.

Quick fix is as you said, we can do a new release to push new images. I'll work on this ASAP.

But ultimately this will keep happening, as master will always lead the release, so we will need a better long term solution. A couple of possibilities:

1. Build the images direct

[2021-02-09 19:19] IdrisMiles commented on #915
I think the main time we will run into issues with this is when there have been non backwards compatible changes between cuebot and the client packages. In the case above:
- pyoutline in master using the `cjsl-1.11.dtd` job spec
- but the published cuebot image not containing that spec yet

When these sorts of changes are merged we tend to incrememnt the minor version.
So perhaps we can configure

[2021-02-10 22:09] splhack opened #918 "[PyOutline] DTD spec version setting"
PyOutline always uses the latest dtd in the code for the job submission.
https://github.com/AcademySoftwareFoundation/OpenCue/blob/d9c7fd9d04fa94d8bfe87513ce148e6c171c50cd/pyoutline/outline/backend/cue.py#L355

Which implies Cuebot should be updated/deployed before deploying client tool/libraries (PyOutline).

It's actually happening on the CI. client is sometimes newer than Cuebot.
https://github

[2021-02-14 10:51] larsbijl commented on #917
hey @fr4yssf, would you mind sharing the hostname of the RQD host?

also, could you try and `pip install idna` in the venv and see if that resolves the issue?

[2021-02-15 16:36] Eiken commented on #361
Wondering the same. Otherwise we are thinking about giving it a go as we need it.

[2021-02-16 08:14] queglay commented on #361
I would love to do this but I have too much on.  I can help share what I've learnt though. I have written other schedulers for PDG and I'd be happy to do a recorded session to show anyone taking this on what I've learnt. I would highly suggest forking the tractor PDG scheduler as it is easy to understand and it has some excellent new abilities like heartbeat messages to alleviate DB queries- this

[2021-02-16 21:21] #918 closed

[2021-02-19 17:06] SHUBHANSHU-creator commented on #163
@bcipriano @gregdenton  I would like to work on this issue if no one else is, pls let me know

[2021-02-19 18:09] bcipriano commented on #163
@SHUBHANSHU-creator Sorry, this issue should be closed -- it was fixed by #671.

[2021-02-19 18:09] #163 closed

[2021-02-19 19:28] MichaelAldrich opened #925 "Compiled python in released cuegui."
**Describe the bug**
While working on installing cuegui into my python environment, I consistently got the following errors when running `python setup.py install`
[code]

From some web searching I determined that this was likely to do with trying to load compiled data, perhaps from a different operating system. I was able to install what appears to be a working version by deleting all `__pycache__

[2021-02-19 23:38] donalm commented on #56
Hey Brian - is there any documentation or guidance on the admin tasks required to get cuebot to send email?

[2021-02-22 05:40] b-thebest commented on #657
Can I work on this issue

[2021-02-22 08:37] splhack opened #927 "Is localbook being used?"
We can clean things up if not.
- localbook
- pyoutline/outline/plugins/local.py
- LocalDispatcher, LocalBooking
- isLocal*
- tier, softtier

[2021-02-22 20:32] bcipriano commented on #925
@MichaelAldrich Thanks for the report!

I see someone else has hit this in https://lists.aswf.io/g/opencue-user/topic/80825555.

Better Python packaging and distribution is something we've talked about in the past (#785). In that issue I was mainly looking at building and distributing binaries, but as you suggested I think packaging and uploading to PyPi would be a great step, and it avoid some of

[2021-02-22 20:34] bcipriano commented on #785
@MichaelAldrich Apologies for the super-delayed response. After seeing #925 I'm feeling like your suggestion to change our packaging to use pip and PyPi is a good way to go here. I would love to hear about any experience or suggestions you have in this area!

Also, using PyPi doesn't preclude us from also distributing binaries, but it's likely we can get PyPi packages published with way less work.

[2021-02-23 18:00] MichaelAldrich commented on #785
I'm supporting a python package that is distributed via pypi today, and from my(admittedly brief) look around, some simple changes to setup.py would be needed, but all of the relevant information is readily avaialable. [These are the docs provided by pypi for this process](https://packaging.python.org/tutorials/packaging-projects/).

In terms of approach, I think it would make sense to treat each

[2021-02-23 22:11] IdrisMiles commented on #892
I would be keen to take this one on if that's ok?

[2021-02-27 05:53] elmarquez opened #931 "Typo in documentation"
**Describe the bug**

The package name "postgresql" is misspelled as "postresql" in the Before You Begin section of the documentation.

https://www.opencue.io/contributing/opencue/getting-started/getting-started-mac/

**Expected behavior**

It should say "brew install postgresql"

[2021-03-01 16:32] bcipriano commented on #931
Thank you for reporting this!

Fixed in https://github.com/AcademySoftwareFoundation/opencue.io/pull/221 and published to opencue.io.

[2021-03-01 16:32] #931 closed

[2021-03-01 17:12] bcipriano commented on #56
I don't think we have any docs on this at the moment.

I don't remember any update on this since I filed this issue a while back. I believe Cuebot still has the `imageworks.com` domain hardcoded, which needs some work to fix.

Aside from that, we will likely need to create some docs/sample config showing how one can set up their Cuebot instances with SMTP so email can actually be sent.

[2021-03-01 17:13] bcipriano commented on #927
@DiegoTavares Is this feature used at SPI? Is it useful to keep around?

[2021-03-22 07:18] splhack opened #940 "Manage per-Job max CPU cores"
# Issue

The default per-Job max CPU cores (= 100 cores) are set by database migration, and can't change it via gRPC.

https://github.com/AcademySoftwareFoundation/OpenCue/blob/73e3606e20048634354e4115be5f1b662004b2a3/cuebot/src/main/resources/conf/ddl/postgres/migrations/V1__Initial_schema.sql#L293

Is it true?

# Solution idea

Subscription may be a good place to set the default per-Job max CPU

[2021-03-24 09:13] DaneBettis opened #943 "cueadmin 0.8.8 allows the creation of duplicate shows; cueadmin cannot delete duplicate shows"
**Describe the bug**
It is possible to add a show to cuebot's database more than once using cueadmin, but other parts of the opencue system seem to expect show names to be unique. This results in the inability to submit farm jobs to the any show with a non-unique name, using cuesubmit for instance.

Also, cuedamin is unable to delete shows with non-unique names.

We suggest the solution of adding

[2021-04-02 15:45] donalm commented on #732
I looked into implementing a feature for our studio that would allow a user to right-click on a layer and choose "Preview Frames". I couldn't find a way in the API to get the command (layer.str_cmd) from the API.

We don't use the 'outputs' on the Layer API. I've tested it, but I can't see where the data is going, if anywhere. So our 'layer_output' table is empty - should we be populating that som

[2021-04-03 10:55] #892 closed

[2021-04-04 09:12] mrkataei opened #950 "new RQD in other node"
hi
I tried to install new RQD in my farm based on ubuntu but other RQD based on Centos redhat distribution , That is fine and ubuntu RQD  run successfully but when I submit a job automatically run in my centos RQD rather than that run in my ubuntu
How to add new RQD  with different IP in same network otherwise ?
![Screenshot (238)](https://user-images.githubusercontent.com/31203641/113504133-5bca4

[2021-04-08 16:34] bcipriano commented on #732
In general `outline` needs to be used to construct jobs, yes.

I agree that it sounds like the layer outputs is what we need. Let me look into this a bit more to see what's going on there.

[2021-04-08 16:38] donalm commented on #732
Thanks Brian.

[2021-04-11 18:09] bcipriano commented on #950
Am I understanding correctly that the issue is that jobs are running on one
pool of hosts (CentOS) rather than a different pool of hosts (Ubuntu)?

Are you able to use tags to direct jobs to specific RQD hosts instead? You
could put Cent hosts in a "centos" allocation and Ubuntu hosts in a
"ubuntu" allocation than add layer tags depending on which set of hosts you
want to use.

On Sun, Apr 4, 2021

[2021-04-12 17:30] bcipriano commented on #785
I created an initial design doc for the PyPI work: https://docs.google.com/document/d/1pWjMNGzGmBvuHoBzXewQEzdwTKtrY6VOtaPi7ALwWg0/edit?usp=sharing

Open for comments if anyone wants!

It looks fairly straightforward. The main question that will need some more investigation is whether we want to create and publish wheels or if a source archive is enough for our case.

[2021-04-14 17:16] #925 closed

[2021-04-24 09:05] #840 closed

[2021-04-25 17:42] #712 closed

[2021-04-25 21:51] bcipriano opened #964 "CueGUI builds are broken in Docker"
**Describe the bug**
CueGUI Docker builds fail to run tests due to an `xvfb-run` error:

[code]

This is happening in our CI pipelines but can be reproduced locally as well.

**To Reproduce**
Steps to reproduce the behavior:
1. Run `docker build -t opencue/cuegui -f cuegui/Dockerfile .`
2. Build fails during unit test stage with above error.

**Expected behavior**
Tests should pass and docker buil

[2021-04-28 16:58] roulaoregan-spi opened #967 "Displaying many jobs in the Monitor Cue causes unresponsiveness"
**Describe the bug**
We have noticed that nested groups that each have 200+ jobs causes the gui to be unresponsive. For shows that have 1000+ jobs, adding it to the widget, then gui lags, taking a long time to respond and display the nested group folder. Also, expanding and collapsing the root folder or any subfolder with 200+ jobs causes unresponsiveness.

**To Reproduce**
Steps to reproduce the

[2021-04-28 21:55] DiegoTavares opened #968 "Rqd bindins to a single cuebot instance until restarts"
**Describe the bug**
This is a scalability issue. Whenever a new cuebot is added to the pool, one of two things need to happen to have existing rqds to connect to it: All rqds need to be restarted, or all existing cuebots need to be restarted.

**To Reproduce**
Steps to reproduce the behavior:
1. Start 1 cuebot instance and 3 rqd instances
2. Check all rqds are connected to the same cuebot
3. Star

[2021-04-28 22:58] donalm opened #969 "RQD sets the locale to us/west?"
Running datetime.datetime.now() in a Python process under RQD gives me Pacific time.

[2021-05-02 19:26] bcipriano commented on #927
We discussed this a bit at the last TSC meeting. General consensus is that this is still a useful feature and we'd like to keep it around for now. If we find some issues with it we'd prefer to fix them instead of removing.

[2021-05-02 20:42] #927 closed

[2021-05-08 22:42] #612 closed

[2021-05-20 21:59] mciarletto opened #988 "Deadlock detected on job creation"
**Describe the bug**
I have been seeing a significant number of instances of deadlock being detected when adding new jobs to OpenCue.  This is blocking roughly one out of every 500 jobs being added (the frequency varies, though).
I haven't been able to reproduce the bug on demand but can see it happening many times in the postgres logs.

One example:
[code]

The pattern seems to be that process A

[2021-05-21 21:37] lamiller0 commented on #56
Along with the theme of configureable email settings, I would LOVE to have the ability to turn off email on a per job basis (maybe as a method on the returned job object)

[2021-05-21 22:42] splhack commented on #56
@lamiller0 You can disable it with PyOutline

    ol = OutlineLauncher(outline)
    ol.set_flag("nomail", True)

Or just skip to put `email` to job spec.

https://github.com/AcademySoftwareFoundation/OpenCue/blob/c93e8629f641a95f47617c50865f7e316e94f5c8/cuebot/src/main/resources/public/dtd/cjsl-1.11.dtd#L12

[2021-05-25 20:53] lamiller0 commented on #56
Thanks, that was the hint I needed!

[2021-05-26 05:54] lhamery opened #989 "jobs with long name all fail"
Hello,
I've been struggling with this for few days, I could not figure out why some jobs would never be able to start after being submitted. The jobs goes into waiting, then dead after few sec.
The error looks like it can not read the log file, but it is all exactly configured like plenty of other jobs and dependencies working fine.
I managed to isolate it to the only difference being the job name

[2021-06-09 21:51] gregdenton commented on #969
It looks like this is happening because of the `rqmachine.getTimeZone` method having a default response of 'PST8PDT' if the current timezone is not India. This then gets slurped up by `rqcore` when preparing the shell environment. @DiegoTavares , do you happen to know if there's a reason we need to be setting the shell time zone as opposed to letting it be driven by the system itself?

[2021-06-12 00:33] jasonmads opened #991 "Improvements/ideas for GPU support"
I'm not 100% how to word this, but here it goes.

Looking at #924 I have these ideas.

GPU hosts don't pick up non-GPU frames: If a host has CPU and GPU it should be able to run CPU and GPU frames regardless of type, with possible preference to GPU. Additionally some frame types may be able to utilize CPUs and GPUs,

GPU jobs are not like CPU jobs: OS will migrate CPU jobs to idle CPUs as needed.

[2021-06-20 16:20] bcipriano commented on #991
@splhack @IdrisMiles @larsbijl Any thoughts?

[2021-06-23 00:33] splhack commented on #991
True. Because Cuebot has the logic to avoid scheduling CPU-only job onto GPU hosts. This totally makes sense, because, theoretically, GPU host can be saturated by only CPU jobs. It is wasting GPU.

So the recommendation would be, create dedicated facility for GPU to schedule GPU job to GPU hosts, create another dedicated facility for CPU to schedule CPU-only job to CPU hosts.

--

Could you elabor

[2021-07-06 17:18] jasonmads commented on #991
Ah, I see the reasoning for GPU only jobs on GPU host. If there was a need for CPU booking it could be arranged manually.

For GPU assignment, from what I understand, RQD keeps track of CPU cores and book jobs to cores. RQD uses taskset to do this. Similar functionality can be done with CUDA_VISIBLE_DEVICES environment variable for GPUs.

There is also the issue of CPUs to GPUs, how or should that

[2021-07-12 23:48] splhack commented on #991
What is the reason of why the job takes 10 CPU cores in this example?

--
In the current Cuebot implementation, the default reservation number of CPU cores per frame is 2. (I don't know why though.)

https://github.com/AcademySoftwareFoundation/OpenCue/blob/c22fe12721bed24b814184ea78c5e447b3b6a477/cuebot/src/main/java/com/imageworks/spcue/VirtualProc.java#L142-L143

So, back to the example,  20 CP

[2021-07-13 03:59] jasonmads commented on #991
Just an example of using CPUs before GPUs. I think every GPU should be evenly assigned CPUs. There could situations where this isn't ideal, but the GPU is the main resource that should be considered.

I think this has to do with hyper threading, where each hyper thread is seen as 2 cores to the system but actually just 1 physical core.

Why not use all the CPUs as I mention above. The tasks I am r

[2021-07-18 18:56] #821 closed

[2021-07-20 14:27] jerlyn06 opened #999 "can't submit any jobs via Cuesubmit UI - Failed to parse job spec XML, java.net.MalformedURLException"
**Describe the bug**
I just downloaded and set up Opencue latest release version 0.8.8  on Windows 10 Home, and I cannot submit any jobs via the CueSubmit UI.

![maya_error](https://user-images.githubusercontent.com/49563398/126341016-f662be10-dffb-4bb1-aa2e-821ea46c1f06.png)

This attachment is the screenshot of the error I get. It is the same error I get when I try to submit a shell job, too.
![

[2021-07-27 20:31] DiegoTavares opened #1001 "Scheduler Logic redesign"
Opening an issue to start drafting a proposal for the new scheduler logic, as discussed in the last TSC meeting (Jul 21).

## Problems with the current design
 * The scheduling logic depends on the database to keep all instances of cuebot in the same page, which can be a scalability issue as increasing the number of cuebots also increases the load on the database eventually slowing down queries
 *

[2021-07-27 22:14] splhack commented on #1001
- GPU scheduling logic
  - https://github.com/AcademySoftwareFoundation/OpenCue/issues/991
  - For example, we might want a way to assign CPUs evenly to each GPU. (40 CPU cores / 8 GPU units → 5 CPU cores per GPU.) We can set it if each single machine has the same configuration, not possible if not.

- One frame per machine
  - https://lists.aswf.io/g/opencue-user/message/411
  - `how can I achiev

[2021-07-29 18:18] bcipriano commented on #999
Where is your Cuebot running and what version is it?

Usually XML errors in this area mean there's a version mismatch between Cuebot and your local python tools, and Cuebot is expecting XML different than what's being sent.

[2021-07-31 22:58] #755 closed

[2021-07-31 22:58] bcipriano commented on #784
Fixed by #1003

[2021-07-31 22:58] #784 closed

[2021-08-01 08:34] splhack commented on #1001
In our environment, no matter how many Cuebot instances there, the frame launching speed is about 8 frames-per-second. It could have been faster if we can avoid this error by improving the scheduling 🙂

An idea. Introduce a new frame state, `SCHEDULING` or something like that.

1. `findNextDispatchFrames`
    - Update the frame state to `SCHEDULING`, set the current timestamp to `ts_updated` where

[2021-08-01 16:20] winter3030 opened #1005 "Failed to load plugin module: Monitor Job Details"
**Describe the bug**
can't open Monitor Job Details

**Error log**
[code]

**Version Number**
v0.14.1

**Additional context**
PySide2==5.15.2

[2021-08-02 05:35] bcipriano commented on #1005
Thanks for the report!

On initial inspection this appears to be limited to Python 2 -- I'm able to reproduce it in that environment. Python 3 does not seem to produce the same error, Monitor Job Details is working ok there from what I can tell.

Will work on a fix.

[2021-08-02 19:46] bcipriano commented on #61
Windows is supported now. Closing this, any followup issues should be filed as new issues.

[2021-08-02 19:46] #61 closed

[2021-08-02 19:46] bcipriano commented on #78
This is done now.

[2021-08-02 19:46] #78 closed

[2021-08-02 19:47] #801 closed

[2021-08-02 20:13] #1005 closed

[2021-08-02 20:14] bcipriano commented on #1005
Fix has been merged and is now in `master`. I'll be publishing a new release in the next day or two which include the fix.

[2021-08-03 23:12] bcipriano commented on #1005
FYI this fix is included in the `0.14.5` release that just went up.

[2021-08-19 01:35] splhack opened #1014 "FrameCompleteHandler doesn't set Job finished"
**Describe the bug**

FrameCompleteHandler didsn't set Job finished even though all frames were set succeeded.

It is really rare but happened a few times out of many jobs.

The last frame state was set as SUCCEEDED, actually cuegui showed all frames were succeeded.

Probably jobManager.isJobComplete was failed or jobManagerSupport.queueShutdownJob was failed but Cuebot log didn't show anything sp

[2021-08-24 01:03] splhack opened #1018 "How many frames are pending 'per-Allocation'"
Curbot has an API to get 'How many frames are pending per show'.

But what actually we would like to know is 'How many frames are pending *per allocation*' (or facility.) since the computing resources are tied to allocation(facility.)

We can getJobs and iterate each job to check the facility and pending frames, but it is not ideal solution for huge renderfarm.

workaround: create always things in

[2021-08-24 01:10] splhack opened #1019 "Job Doctor"
It would be really nice we can have a "Job Doctor", which can tell you why the Job (layer, or, frame) doesn't start.

- The allocation doesn't have enough capacity
- The facility doesn't have enough capacity
- The job exceeds the max CPU cores, or the max GPU units
- dependency

It is totally ok that is not accurate. It is still usefull what do we dig into.

[2021-08-26 06:20] splhack opened #1021 "determineIdleCores"
`determineIdleCores` reduces idle cores by using the load average.

https://github.com/AcademySoftwareFoundation/OpenCue/blob/c22fe12721bed24b814184ea78c5e447b3b6a477/cuebot/src/main/java/com/imageworks/spcue/dispatcher/DispatchSupportService.java#L609-L615

However, the actual system load of the host doesn't look like so busy (`sar -u 1` or other metrics don't show much things to worry about). Ma

[2021-08-28 18:00] splhack opened #1022 "Enable GitHub Discussions?"
https://docs.github.com/en/discussions

better than GitHub Issues for Discussion (most likely better than mailing list too)

[2021-09-03 01:20] roulaoregan-spi opened #1025 "Cuegui memory leak and Cuegui UI Slowness"
**Describe the bug**
We have been experiencing cuegui UI slowness and we believe it's due to a memory leak in opencuecommander if left open for a period of time (1-2 days). The memory in system preferences reaches 1+Gb, we have noticed this behaviour with even just having the `Monitor Cue Plugin` open with four folders. The slowness bogs down the app to the point where basic interaction becomes sl

[2021-09-07 18:02] splhack opened #1026 "Delete CORE_POINTS_RESERVED_MAX logic?"
Cuebot Job spec parser modifies the minimum cores to `1` if it exceeded `24`. This is too small for current CPU generation. Probably time to delete this check logic?

https://github.com/AcademySoftwareFoundation/OpenCue/blob/c22fe12721bed24b814184ea78c5e447b3b6a477/cuebot/src/main/java/com/imageworks/spcue/service/JobSpec.java#L610

https://github.com/AcademySoftwareFoundation/OpenCue/blob/c22fe12

[2021-09-12 21:00] bcipriano commented on #1026
I agree, seems like we should remove it.

@DiegoTavares @roulaoregan-spi Any thoughts here?

[2021-09-12 21:02] bcipriano commented on #1019
I've often wanted the same thing.

Ideally we would write this as a sort of framework, so that it's easy-ish to extend it later to cover other cases we may not initially think of.

[2021-09-26 08:51] winter3030 opened #1036 "isOverMinGpus always returns false"
**Describe the bug**
we use CPU only, isOverMinGpus always returns false.

https://github.com/AcademySoftwareFoundation/OpenCue/blob/da28ae905b81e7d1125db2073a369fdc0ae9acd4/cuebot/src/main/java/com/imageworks/spcue/dispatcher/FrameCompleteHandler.java#L400-L406

https://github.com/AcademySoftwareFoundation/OpenCue/blob/da28ae905b81e7d1125db2073a369fdc0ae9acd4/cuebot/src/main/java/com/imageworks/s

[2021-09-29 20:52] roulaoregan-spi commented on #1026
@bcipriano agree with changing the conditional statement on line 609, as for the removal of an upper bound constant CORE_POINTS_RESERVED_MAX, I'm assuming that cuebot will pass the responsibility to the caller to ensure that they have enough corePoints configured on the host machine.

[2021-10-01 23:47] jasonmads opened #1037 "rqd broken"
It appears that intercept channel was not implemented correctly and now rqd fails on start.

**To Reproduce**
Take the latest code and try to install and run rqd.

**Expected behavior**
It should run without error.

**Screenshots**
WARNING:root:RQD Starting Up
Traceback (most recent call last):
  File "/ParkCounty/apps/lnx/cue/venv/bin/rqd", line 11, in <module>
    load_entry_point('rqd==0.14', '

[2021-10-07 22:21] OdCgarcia opened #1038 "Python 3.9 is not compatible, isAlive attribute has been deprecated."
**Describe the bug**
Attribute "isAlive" in threads has ben deprecated from python 3.9 onwards.
It should be changed for is_alive() asking for the python version before is use, so compatilibity is not broken.
Lines affected in rqdcore are:
302, 355, 399
Lines affected in rqdnetwork are:
108, 118

**To Reproduce**
Steps to reproduce the behavior:
1. Run rqd in python 3.9
2. Send a job to the farm.

[2021-10-08 23:46] OdCgarcia opened #1039 "Reference to max_gpu_mem variable should be max_gpu_memory in cuegui"
**Describe the bug**
The bug is coming from a variable tha was named incorrectly in the "CueJobMonitorTree" widget there is a reference to a variable "max_gpu_mem", where the correct reference should be "max_gpu_memory" as it is in job_stats.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to cuegui and set any value in the layer.

**Expected behavior**
The bug is not crashing the app but

[2021-10-09 00:00] OdCgarcia opened #1040 "Set max and min gpus on jobs methods are called incorrectly"
**Describe the bug**
In module `MenuActions.py` from cuegui:
* Line 285 for set min gpus is called `setMinGpu` missing the `s` and is casting the value to float where it should cast it to intenger.
* Same happen on line 301 for setting max gups.

**To Reproduce**
Steps to reproduce the behavior:
1. Open cuegui
2. Set a new max or min value for gpus

**Expected behavior**
The value inputed should b

[2021-10-09 00:35] OdCgarcia opened #1041 "Contract not respected between modules group.py from pycue and GroupDialog.py from cuegui"
**Describe the bug**
Casting floats instead on integers from line 175 to 215 in GroupDialog.py module under cuegui

**To Reproduce**
Steps to reproduce the behavior:
1. Go to CueCommand
2. In the group try to set values

**Expected behavior**
A value get set without an error

**Version Number**
0.14.5

[2021-10-09 01:00] OdCgarcia opened #1042 "TaskDialog module under cuegui is calling a non existen method in a show "getDepartments""
**Describe the bug**
In  the line 95 of TaskDialog there is a callback to a method that do not exist in the show `getDepartments`. I think this line can changed and just call the departments name from  `opencue.api.getDepartmentNames()`

**To Reproduce**
Steps to reproduce the behavior:
1. Go to CueCommander
2. Set a depermarment in a group.

**Expected behavior**
I can set a department.

**Versio

[2021-10-12 17:05] OdCgarcia opened #1043 "Missing an "s" in a postgres query in GroupDaojdbc.java"
**Describe the bug**
When setting a default max value for gpu ussage it error out with a postgres error.
The error is coming from the line 271 in `../cuebot/src/main/java/com/imageworks/spcue/dao/postgres/GroupDaojdbc.java`, where the field is named is prural but the query is made without the "s" as `int_max_gpu`.

**To Reproduce**
Steps to reproduce the behavior:
1. Open CueCommand
2. Click on `G

[2021-10-12 22:46] OdCgarcia opened #1044 "Missing prural in lines 170 and 178 in service.py"
**Describe the bug**
Missing prural in lines 170 and 178 in `../opencue/wrappers/service.py`
Also these lines are not setting the correct value as they set the min_gups and not the min_gpu_memory which is the value that the user is passing through the gui

**To Reproduce**
Steps to reproduce the behavior:
1. Go to service widget
2. Set new minimun GPU value.

**Expected behavior**
A minimum gpu va

[2021-10-14 11:47] donalm opened #1045 "Incorrect timeDiff calculation?"
https://github.com/AcademySoftwareFoundation/OpenCue/blob/da28ae905b81e7d1125db2073a369fdc0ae9acd4/cuebot/src/main/java/com/imageworks/spcue/dao/postgres/WhiteboardDaoJdbc.java#L581

Should this be:
[code]

Especially given line 580 directly above, this looks like a units mismatch.

[2021-10-20 19:01] #1044 closed, assigned to nobody

[2021-10-20 19:01] #1043 closed, assigned to nobody

[2021-10-20 19:05] #1039 closed

[2021-10-20 19:06] #1040 closed, assigned to nobody

[2021-11-02 00:30] splhack opened #1059 "Frame scheduling"
I'm not so sure this is a bug or a designed spec. But a common expectation of job scheduler is

https://lists.aswf.io/g/opencue-user/topic/81488413#414
`A useful default might be highest priority and then oldest first, for example.`

The oldest will run first if the priority is the same.

The SQL uses `ORDER BY` only with priority.

https://github.com/AcademySoftwareFoundation/OpenCue/blob/c22fe12

[2021-11-09 23:25] OdCgarcia opened #1061 "Random group picked with id 20"
**Describe the bug**
On this line https://github.com/AcademySoftwareFoundation/OpenCue/blob/fc0b509c4ec9773e2e8b3c0fdaacfa42a6d17400/rqd/rqd/rqutil.py#L113

It seems that there is a random grp id picked (20) ... I do not know if that id is a default id in linux CentOS7, but in my system is setting a random group that I have with that id.

**To Reproduce**
Steps to reproduce the behavior:
1- Set a

[2021-11-10 17:23] OdCgarcia commented on #1061
After taking a deeper look at the code I realized there is a constant that is been use to set the group, that I was not used.

I still have the impression that using a constant in the lined posted is less confusing.

[2021-11-24 00:12] splhack opened #1065 "[CI] Test Documentation Build failure"
On #1064
https://github.com/AcademySoftwareFoundation/OpenCue/runs/4306065684?check_suite_focus=true

related to https://github.com/sphinx-doc/sphinx/issues/9841

[2021-11-24 08:21] c0ffymachyne opened #1066 "Error: Server caught an internal exception."
Hi,
After following installation instructions on https://www.opencue.io/docs/quick-starts/quick-start-linux/ I am wondering what may be causing an error below and how to fix it ? Did I miss any steps during installation procedure ?
Installation was followed by repository clone and checkout to the latest tag.

[code]
`Python 3.8.10`

Running `cueadmin -lh` give the following exception:

[code]
In t

[2021-11-25 01:07] oliviascarfone opened #1067 "Cuebot build failing"
**Describe the bug**
Cuebot container is not building correctly, as there is an issue with the command `RUN ln -s $(ls ./cuebot-*-all.jar) ./cuebot-latest.jar` throwing the error `Operation not Permitted`. Though the build will complete, the container will stop when run, with the logs showing `Error: Unable to access jarfile cuebot-latest.jar`

**To Reproduce**
Steps to reproduce the behavior:
1.

[2021-11-25 04:00] PrabhuRajVansh commented on #657
I am interested to work on this.

[2021-11-28 07:17] c0ffymachyne commented on #1066
`Unable to obtain connection from database (jdbc:postgresql://db:5432/cuebot) for user 'cuebot': SCRAM authentication is not supported by this driver. You need JDK >= 8 and pgjdbc >= 42.2.0 (not ".jre" versions)
`

[2021-11-30 05:48] splhack commented on #1001
Summarized an experimental optimization and the theory in #1069

[2021-12-01 18:18] DiegoTavares commented on #1001
I like the idea of a central scheduler process, we're currently evaluating Redis-Stream as an option to handle not only the Job's queue, but also the HostReports. Will update this issue as soon as we have more to share.

[2021-12-02 17:43] splhack opened #1072 "[Cuebot] Mitigate PostgreSQL system load spike on job submission"
We are observing PostgreSQL system load spike on job submission.
Presumably the root cause is too long transaction on frames operations.

- UPDATE from SETUP to WAITING on the all frames on every job submission.
  - https://github.com/AcademySoftwareFoundation/OpenCue/blob/master/cuebot/src/main/java/com/imageworks/spcue/dao/postgres/JobDaoJdbc.java#L538-L539
- SELECT the all frames to set depende

[2021-12-03 00:45] DiegoTavares commented on #1065
Most PR pipelines failing because of this.

[2021-12-04 21:28] bcipriano commented on #1042
I don't. It's possible it never existed -- I think we'll need to create it.

[2021-12-04 21:32] bcipriano commented on #1021
My inclination is to agree with @ultiplyr -- load seems like what we want. Is there a proposal to use some alternate metric? I'm sure we'd be happy to discuss.

It's also something we could add as a config setting to allow users to customize.

[2021-12-06 00:14] #1065 closed

[2021-12-08 22:52] #1067 closed

[2021-12-14 20:24] bcipriano opened #1079 "Upgrade log4j"
**Describe the process**
Upgrade to a version of log4j which is not affected by the Log4Shell vulnerability.

[2021-12-15 06:08] splhack commented on #1059
Set `true` to `dispatcher.fifo_scheduling_enabled` property to enable FIFO scheduling.

[2021-12-15 06:08] #1059 closed

[2021-12-15 06:09] splhack commented on #1026
deleted by #1030

[2021-12-15 06:09] #1026 closed

[2021-12-15 22:44] oliviascarfone commented on #1001
### Proposal - High level overview
Central Scheduler Design Logic

Use Redis Stream for incoming HostReports and for Dispatching Jobs. Redis Streams support persistent store and ordered events and also has the ability to store multiple keys/values per event.

This approach will decouple the processing of HostReports from the dispatch of jobs. Redis Streams with consumer groups guarantees that each

[2021-12-20 19:48] splhack opened #1081 "[Depend] Inconsistent depend behavior"
# Problem

Frame and Layer dependency (`*_ON_FRAME` and `*_ON_LAYER`) never satisfy if Frame failed.
Whereas Job dependency (`*_ON_JOB`) satisfies regardless Job result, succeeded or failed.

# Code

`satisfyWhatDependsOn` is called only when Frame succeeded.

https://github.com/AcademySoftwareFoundation/OpenCue/blob/aed5e8b07a5c37061c43bb6dc4f0706cfd90f96d/cuebot/src/main/java/com/imageworks/spcu

[2022-01-06 19:44] bcipriano opened #1086 "Cuebot unit tests fail on macOS Monterey due to lack of libpq.5.dylib"
**Describe the bug**
I recently upgraded my dev machine to macOS Monterey 12.1. After that Cuebot unit tests started to fail -- all tests using the embedded Postgres server were unable to start Postgres. Postgres would fail with an error like:

[code]

Indeed this file does not exist. I'm not sure if this was actually due to the macOS upgrade or not.

**To Reproduce**
Steps to reproduce the behavi

[2022-01-06 19:48] bcipriano commented on #1086
More info here:

Postgres on my dev machine is installed through Homebrew. I don't remember there being a dependency between the embedded Postgres and my dev machine's install -- that's the whole point of the embedded one -- but nevertheless I did upgrade Postgres through Homebrew, and this did not fix the problem.

There's a PR against the opentable repo which attempts to fix this issue by packin

[2022-01-17 20:55] #1086 closed

[2022-01-18 18:47] #1081 closed

[2022-01-19 21:57] bcipriano commented on #218
Some initial thoughts on how to start here:

1. Add a Cuebot property which determines whether the user system is enabled at all. For now, off by default.
2. Create a new User table in the database with username/hashed password fields.
3. Add a Cuebot API to perform user login. If username/password matches what's in the database, returns success. If not, fails with a permission denied error. Later

[2022-01-26 08:10] Ron-Dong opened #1089 "error on running RQD in venv bug"
![image.png](https://p6-juejin.byteimg.com/tos-cn-i-k3u1fbpfcp/d37c89ac74804cdda5a130f35f2df8be~tplv-k3u1fbpfcp-watermark.image?)

[2022-02-02 02:03] b-thebest commented on #657
I am still on it
Thanks

On Thu, Nov 25, 2021, 9:31 AM PrabhuRajVansh ***@***.***>
wrote:

[2022-02-04 00:38] yurivict opened #1091 "[question] Is there a build script or a description of the build process?"
There's no cmake or make files.

If someone would like to build it in order to create port(s), how would one approach this?
Is there a script? What parts does the project consist of?

[2022-02-04 18:29] bcipriano commented on #1091
opencue.io has an overview of the project architecture: https://www.opencue.io/docs/concepts/opencue-overview/

There are also user and developer docs there outlining the build process.

Each component has a Dockerfile that is a good place to start if you want to get into the details. For example:

* https://github.com/AcademySoftwareFoundation/OpenCue/blob/master/cuebot/Dockerfile
* https://githu

[2022-02-09 18:35] akim-ruslanov opened #1092 "[Cuebot] Shows with the same name break querying"
**Describe the bug**
There is a chance that 2 shows with the same name but different IDs can be in database. This will cause an error when querying for the show by name or using methods like `AdminManager::findShowEntity` as it will raise an exception `expected 2 but got 1`.

**To Reproduce**
Steps to reproduce the behavior:
1. Create 2 shows with the same name
2. Call `findShowEntity` from `Admin

[2022-02-15 12:51] ndeebook opened #1093 "Jobs with names containing dots fail without rqlogs"
**Description**
Job names containing dots (`.`) fail (`DEAD`) and don't have a rqlog.
![image](https://user-images.githubusercontent.com/8027693/154065512-dce01ac9-1a8a-4584-8a24-865ba4a334e9.png)

**To Reproduce**
Use `outline.Outline('some.job.name', ...)`, submit with `outline.cuerun.launch()`

**Expected behavior**
Forbid some characters and raise error in pycue.
Or do the same as with dashes

[2022-02-15 13:00] ndeebook commented on #1093
Actually, it does not seem to be linked to dots, maybe the length of the job name was the cause, as explained in #989

[2022-02-15 13:00] #1093 closed

[2022-03-01 23:27] DiegoTavares opened #1096 "Opencue should support different logging paths for Windows and Linux"
**Is your feature request related to a problem? Please describe.**
Users running rqd on both Windows and Linux have no way to define different paths for windows and linux.

**Ideas for implementation**
1.  **Simplest**:
   `log.frame-log-root` in opencue.properties could be replaced by 2 entries, one for Linux and other for Windows (`log.frame-log-root.windows`, 'log.frame-log-root.linux`)
2.  **R

[2022-03-02 19:54] bcipriano opened #1097 "Expanded cloud functionality"
At the moment OpenCue is agnostic as to where resources run -- if RQD can run on a machine and that machine is networked to be able to reach the Cuebot, OpenCue doesn't really care where that machine is running. However, the TSC is currently discussing ways that cloud functionality can be expanded to be easier/more helpful to cloud users.

## Major use cases

1. Easily deploy OpenCue on the cloud.

[2022-03-02 23:10] bcipriano commented on #1096
Option (2) here sounds like a great solution. 👍

[2022-03-03 01:25] DiegoTavares commented on #1097
For logging, it would be interesting to add an HTTP endpoint to enable decoupling the GUI and the filesystem used by RQD.

[2022-03-03 16:36] bcipriano commented on #1097
Great idea -- I've incorporated this into the ideas list.

[2022-03-06 17:35] Lorenzomarta opened #1098 "NetGen/NGSolve Pyside2 installation"
Hi everyone,
I have to install the graphical user interface for NGSolve and I'm trying to do it by following the directions below (https://github.com/NGSolve/ngsgui) but I get the following error message:
[code]
I then tried to install pyside2 with the command
`pip install pyside2` and I get the same message.
How can I proceed?

(I'm using macOS)

[2022-03-15 22:24] lastb0isct opened #1101 "[Quickstart OSX sandbox] flyway.Dockerfile has incorrect properties to download packages"
**Describe the bug**
You get a reproduceable error when attempting to run `docker-compose up` from the OpenCue directory:

`Error: Failed to download metadata for repo ‘appstream’`

**To Reproduce**
Steps to reproduce the behavior:
Follow the commands in the OpenCue OSX Sandbox guide

**Expected behavior**
It should run through without any issues building the Dockerfile

**Version Number**
Latest

[2022-03-16 00:41] lastb0isct commented on #1101
Also, to add insult to injury, the version has not been updated in the official documentation [`docker build -t opencue/cuebot -f cuebot/Dockerfile .`] which causes issues in the backend similar to this issue: https://github.com/AcademySoftwareFoundation/OpenCue/pull/1071

[2022-03-29 02:09] bcipriano opened #1111 "Create sandbox job and run it on a schedule"
**Is your feature request related to a problem? Please describe.**
Sometimes upstream dependencies change without us noticing and break documented process, such as [the sandbox](https://www.opencue.io/docs/quick-starts/quick-start-mac/). For example, #1101.

**Describe the solution you'd like**
Create a Github Action to test the sandbox setup process -- on Linux and macOS if possible. This job sho

[2022-03-29 02:16] bcipriano commented on #1101
Thanks for the report and the suggested fix.

I've created a PR #1110 to fix this as you suggested. Tested it locally and things seem to be working as expected. I also took the opportunity to upgrade Flyway per that other PR.

https://github.com/AcademySoftwareFoundation/opencue.io/pull/246 has some updates to the documentation.

Ultimately the sandbox setup has some dependencies which could chang

[2022-03-29 17:02] thunders82 commented on #999
It seems the issue was due to an empty env variable :  OL_CONFIG
Once set accordingly I can submit a job.

Thanks

[2022-03-30 17:55] #1101 closed

[2022-03-31 19:53] splhack commented on #991
@thunders82
recommend to speak it up in https://github.com/AcademySoftwareFoundation/OpenCue/issues/1001
(just to clarify, the GPU scheduling logic (avoiding CPU job on GPU host) was already there when I revised the GPU support.)

[2022-04-01 16:13] thunders82 commented on #991
Thank you for point it out @splhack !

[2022-04-01 16:41] thunders82 commented on #1001
Hi,

It's nice to see you are looking into the schedule logic redesign.
I shared my opinion about the way the nodes with GPU are currently handled in #991.

At the moment if a GPU is not in use by any GPU task it will not accept any CPU job. It is a waste of resource. I was wondering if it would be possible to implement a similar to logic :

Prio to GPU task on GPU nodes :
  - CPU job should be as

[2022-04-01 17:23] thunders82 opened #1118 "Nimby doesn't unlock if RQD_USE_IP_AS_HOSTNAME = False"
**Describe the bug**
Nimby doesn't unlock if RQD_USE_IP_AS_HOSTNAME = False

**To Reproduce**
Steps to reproduce the behavior:
1. edit rqd.conf
2. set RQD_USE_IP_AS_HOSTNAME = False and save the file
3. restart rqd
4. lock all the nodes except the one mentioned above
5. submit a job
6. leave the computer IDLE and check the job after MINIMUM_IDLE = 900 (seconds)
7. Job will not be picked up

**Expe

[2022-04-05 18:37] thunders82 opened #1121 "cuegui : type object 'datetime.datetime' has no attribute 'datetime'"
**Describe the bug**
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. run cuegui
2. check terminal output

**Version Number**
0.15.22

**Additional context**
Replacing  'datetime.datetime' with 'datetime' fixes the issue. Seems to because I'm using python 3.6+.
Is there a timeline regarding the full port to python3 ?

Thank you

[2022-04-05 18:43] thunders82 opened #1122 "cuegui : doesn't display the finished jobs when "load finished" in "monitor jobs" is enabled"
**Describe the bug**
[code]
**To Reproduce**
Steps to reproduce the behavior:
1. open cuegui
2. enable "load finished" in "monitor jobs"

**Expected behavior**
Display the finished jobs when "load finished" in "monitor jobs" is enabled

**Version Number**
0.15.22

**Additional context**
removing the condition at line 241 of JobMonitorTree.py solves the issue. Not sure where "_groupDependent" comes

[2022-04-05 18:55] thunders82 opened #1123 "cuegui : job filtering not working"
**Describe the bug**
The job filtering in the "monitor jobs" doesn't seems to work

**To Reproduce**
Steps to reproduce the behaviour:
1. Open cuegui
2. Go to "monitor jobs"
4. Set input field to "testing.*"
5. Press "Load :" button
6. Doesn't do anything and no errors are displayed (I have multiple jobs tasks in the list )

**Expected behavior**
To filter the jobs based on the filter input

**Ver

[2022-04-05 19:03] thunders82 opened #1124 "cuegui : can't see the swap state of the render node"
**Describe the bug**
Can't see any report of the swap state in "Monitor hosts". The green/red graph/bar doesn't show up and no text value is displayed

**To Reproduce**
Steps to reproduce the behavior:
1. Open cuegui
2. Go to "Monitor hosts"
3. Check the "swap" field of any node

**Expected behavior**
To see the swap usage.

**Version Number**
0.15.22 and 0.14.5

**Additional context**
It doesn't

[2022-04-19 09:27] TanJeremy opened #1129 "#FRAME_END# token wrong behaviour"
Hello all.
We have an issue with the #FRAME_END# token when the frame range is not divisible by the chunk size.

For exemple, if we have 72 frames with a chunk size of 10,
the last job will have the correct #FRAMESPEC# "71,72", but the #FRAME_END# will be 80,
rendering 8 more frame than necessary.

unfortunatly, i don't have knowledge in java to offer you a ready to use "pull request", and only su

[2022-04-22 21:58] DiegoTavares opened #1135 "#847 inadvertently crashes Nimby lock using the select mode, which requires sudo."
**Describe the bug**
#847 Has a side effect of not allowing nimby checks to mark hosts as locked when not idle.

[2022-04-22 22:13] #1135 closed

[2022-04-26 07:28] donalm opened #1136 "Deprecate 'rqd.rqutil.checkAndCreateUser'"
There's a function in `rqd.util` that (depending on your configuration file) will try to create the user account for a job's user if the account doesn't already exist. The function doesn't have any means to ensure the User ID for the new account is aligned with whatever's expected by fileservers, etc. so I'm not sure how this might be useful? Does anyone use this for production or testing? Or can

[2022-05-02 21:55] DiegoTavares commented on #1118
I suspect this PR fixes this:
https://github.com/AcademySoftwareFoundation/OpenCue/pull/1142

[2022-05-04 21:15] aoblet commented on #564
Do you have an idea for this one ? Is still the case ?

[2022-05-10 19:14] bcipriano commented on #1118
#1142 has been merged.

@thunders82 If you're able to run opencue from `master`, please let us know if this fixes your issue.

[2022-05-10 19:24] bcipriano commented on #999
Adding to backlog. We need to at least display a more helpful error message here.

[2022-05-12 14:49] nburdan opened #1150 "Incorrect result size: expected 1, actual 0"
Attempting to submit first test job with cuesubmit but getting this error:

2022-05-12 10:07:21,945 ERROR grpc-default-executor-0 com.imageworks.spcue.servant.ManageJob - Failed to launch and add job.
org.springframework.dao.EmptyResultDataAccessException: Incorrect result size: expected 1, actual 0

Can anyone help me determine where the problem is?

[2022-05-12 16:25] bcipriano commented on #1150
Looks like an issue with database configuration but from this it's hard to say where.

Do you have access to your Cuebot logs? That should include more detailed information on the error.

[2022-05-12 18:32] nburdan commented on #1150
Here is spcue.log.  Thanks for your help.
[spcue.log](https://github.com/AcademySoftwareFoundation/OpenCue/files/8681719/spcue.log)

[2022-05-12 19:50] nburdan commented on #1150
If I follow the "Quick Start for Linux" and create postgres/cuebot/rqd in docker I can make a successfull test submission with cuesubmit.  But following https://www.opencue.io/docs/getting-started/setting-up-the-database/ seems to not create the same db.  Is the db setup in ttps://www.opencue.io/docs/getting-started/setting-up-the-database/ up to date?

[2022-05-13 16:36] nburdan commented on #1150
I upgraded the local postgres from 9.2 to 14 and it has resolved the issue.  Perhaps there is a requirement for using postgres >9.2?

[2022-05-26 10:12] Eiken opened #1155 "Configure RQD log root separately from CueGUI"
**Is your feature request related to a problem? Please describe.**
If having a lot of machines and machines in multiple locations it can be tricky to depend on mounts for writing out the log files. We have therefore implemented a system with our current render manager where we write log files locally on the render nodes and then use logstash and filebeat from the elastic product suite to transport

[2022-05-27 15:56] nburdan opened #1156 "$CUE_FS_ROOT for rqd ignored"
**Describe the bug**
$CUE_FS_ROOT for rqd ignored.  Only $CUE_FS_ROOT for cuebot seems to matter.

**To Reproduce**
Steps to reproduce the behavior:
1. Specify different $CUE_FS_ROOT for cuebot and rqd.
2. Job logs will get written to $CUE_FS_ROOT that is specified for cuebot.  $CUE_FS_ROOT specified for rqd will be ignored.

**Expected behavior**
rqd writes logs into $CUE_FS_ROOT that is specifie

[2022-05-31 23:08] DiegoTavares commented on #1155
Log configuration based on OS has been implemented on https://github.com/AcademySoftwareFoundation/OpenCue/pull/1143

I agree the best solution would be using a log aggregation tool like Loki or logstash to collect the logs and add support for querying the tool from the GUI.

[2022-06-02 16:31] DiegoTavares opened #1158 "TMPDIR is set to mcp by default on outline wrapper. It should be set on the outline config file"
**Describe the enhancement**
When launching a job using pyoutline, users are facing the following error:
[code]

The [wrapper script](https://github.com/AcademySoftwareFoundation/OpenCue/blob/master/pyoutline/wrappers/opencue_wrap_frame) is hardcoded to `/mcp` which is not a common directory on people's environments. Ideally this should be configured and documented on the outiline.cfg file.

[2022-06-03 11:22] thunders82 commented on #1118
Hi,
Sorry for the delay. I've updated 1 computer with the latest rqd and I can still notice the same behaviour. On top of that the nimby computer is not reported as such in the cuegui interface. (Locked is set to Open instead of Nimby)
But maybe I need to update more than just the rqd on 1 machine ?

[2022-06-04 18:21] bcipriano commented on #1156
At the moment this is by design -- for each job, Cuebot decides what the log location should be and sends this to all RQD nodes along with other job information.

Could you explain more about why you need some RQDs to write to different locations? I think this is probably more of a feature request but I'd like to understand better first.

[2022-06-06 13:59] nburdan commented on #1156
I think i misunderstood the docs about rqd using $CUE_FS_ROOT.  This issue can be closed.

[2022-06-06 13:59] #1156 closed

[2022-06-08 12:43] haggi opened #1159 "The future==0.17.1 requirement causes problems with python > 3.10"
**Describe the bug**
The current future requirement causes an error with python 3.10.

**To Reproduce**
Steps to reproduce the behavior:
Start cueSubmit with python 3.10

**Version Number**
0.15.22

**Errormessage**
  File "C:\daten\install\tools\OpenCue\testEnv\lib\site-packages\past\types\oldstr.py", line 5, in <module>
    from collections import Iterable
ImportError: cannot import name 'Iterab

[2022-06-13 14:26] nburdan commented on #704
We are having the same issue on centos7.

[2022-06-18 18:51] johhnry commented on #810
Hi,

I have the same issue on Pop!_OS 22.04 and Python 3.7.9. From the documentation this what I did:

[code]

And I get the following log (had to narrow it down to the error section):

[code]

[2022-06-23 22:15] amsaid1989 commented on #810
@johhnry This is the same issue I had. The only solution I managed to find then was to open the file in question which is `/home/josephhenry/git/OpenCue/venv/lib/python3.7/site-packages/cuesubmit-0.2.65-py3.7.egg/cuesubmit/ui/Submit.py`, go to the line that produces the error, which in your case is line `435` and change it from `except opencue.exception.CueException, e:` to `except opencue.excepti

[2022-06-24 15:58] johhnry commented on #810
Hi @amsaid1989, thanks for the answer!

So this is Python 2.x related can't this be fixed easily?

[2022-06-24 16:06] amsaid1989 commented on #810
From what I can tell, this was the only line causing an issue, so changing it to the Python3.x syntax should be easy.

Not 100% sure why OpenCue still uses this syntax, especially since Python 2.7 has reached end-of-life a while ago.

[2022-06-30 19:18] #810 closed

[2022-07-05 11:12] MuqtarS opened #1162 "CueGui launch returns AttributeError while launch for python=3.7"
[code]

gives the following error
[code]

the issue here is cuegui has a folder called `plugins` and a py file `Plugins`, in this case `cue.Plugins` points to the folder plugins not the py file hence causing the issue

[2022-07-08 17:19] #1121 closed

[2022-07-08 17:19] #1122 closed

[2022-07-08 17:19] #1123 closed

[2022-07-08 18:40] akim-ruslanov opened #1169 "cuebot: testFindReservedMemoryOffender test failing"
**Describe the bug**
cuebot testFindReservedMemoryOffender test fails but not consistently. Not quite sure if there is a problem with implementation or with the test itself.

**To Reproduce**
Steps to reproduce the behavior:
1. Check recent pipelines
2. Click cuebot tests
3: stack trace:
[code]

[2022-07-08 22:21] akim-ruslanov opened #1170 "cuegui: Launch fails when building with Python 2"
**Describe the bug**
It seems that when building cuegui with python 2, there is a problem with PySide and pickle module it uses. In python 3 there is a protocol 3 for pickle, but in Python 2 it only goes up to protocol 2. This then crushes the launch.

**To Reproduce**
Steps to reproduce the behavior:
1. Build cuegui with Python 2 using venv
2. launch cuegui
3. The error:
[code]

**Expected behavi

[2022-07-13 01:57] bcipriano commented on #1169
This one is hard to reproduce in my local environment. It seems to only happen under certain (newer?) Postgres versions, maybe.

Here's the test in question:

https://github.com/AcademySoftwareFoundation/OpenCue/blob/master/cuebot/src/test/java/com/imageworks/spcue/test/dao/postgres/ProcDaoTests.java#L597

It's a bit strange. It seems like maybe `updateProcMemoryUsage` is not actually causing the

[2022-07-14 03:43] simonlvr opened #1174 "RQDs only pick up to a maximum of 12 frames in a job regardless of number of RQDs"
**Describe the bug**
We deploy Opencue on Google Cloud and regularly spin up instances to handle large jobs of thousands of frames, but can't achieve more than 12 hosts per job.

**To Reproduce**
Steps to reproduce the behavior:
1. We start cuebot
2. We spin up x30 rqds via an instance group on Google Cloud
3. We wait until they appear as hosts on cuesubmit
5. We submit a job via Cuesubmit, say 1-

[2022-07-19 12:18] fabriciochamon opened #1175 "Track progress of a frame in Cue Gui"
I'm trying to find a way to report current frame progress to cueGui (using Pixar's Renderman in this case). I can run the render program with an argument that would print simple render stats per line to terminal, in the form of:

5%
10%
15%
....

Currently Open Cue logs will not display any of that progress until the program ends completely (renders the whole frame), so I can't really track progre

[2022-07-25 17:15] DiegoTavares opened #1177 "Some attributes added by #1008 are not being used anywhere"
**Describe the enhancement**
PR #1008 added some attributes to `opencue.properties` that are not being used anywhere. These arguments made sense at the time they were introduced, but with the addition of the `HealthyThreadpool` are not being used anymore.

[code]

**Additional context**
Add any other context here.

[2022-07-27 16:23] DiegoTavares commented on #1174
Sorry for the long delay on responding.

From the surface, this looks to be a configuration problem. Can you try changing `dispatcher.host_frame_dispatch_max=12` to 20 and checking if the behaviour changes? If not, I can make a deeper investigation.

[2022-07-27 16:26] DiegoTavares commented on #1159
Thanks for the report and suggestion

[2022-07-27 16:45] DiegoTavares commented on #1175
Hi Fabricio,

Opencue is not able to read stats from Renderman at the moment. You could add a new column to the Frame table similar to the Progress column on the Layer table that would read your log on a schedule and update the state. This could be added to `FrameMonitorTree.py`

A suggestion is to implement it as a regular expression, this way it could be customized to work with different tools t

[2022-08-02 22:05] fabriciochamon commented on #1175
Hi Diego, ah nice that's a great idea actually. I didn't know we could
customize the frame table, would that auto propagate to the cuegui
interface ?
I'll have it a go. Thanks for the suggestion.

Em qua., 27 de jul. de 2022 às 13:45, Diego Tavares da Silva <
***@***.***> escreveu:

[2022-08-03 03:15] carlosfelgarcia commented on #1129
Does anyone know if this issue has been addressed? I did have the same issue and I already resolved, it's been under production for a month and not issues. Please let me know, so I can implement a PR for it.

Thanks,

[2022-08-03 13:44] ndeebook opened #1181 "Percent sign (%) gets replaced by CWD in layer command"
Version: OpenCue 0.15.22

Hello,

So, here an example job log:
[code]

In the log summary (top) we can see that the command sent is not the same as the one actually run (below).
**The percent sign (%) is replaced by the current working directory.**

The job was sent with Windows, using `outline.cuerun.launch(outline.Outline(...))`
The RQD host is also on Windows, installed with `setup.py install`

[2022-08-03 14:43] ndeebook commented on #1181
Looking at `rqd\rqd\rqcore.py`, I see that `FrameAttendantThread.runWindows` uses `_createCommandFile` to save the command to a `.bat` file and then `subprocess.Popen` the `.bat` file.
A direct call to the command would work while in a `.bat` file some characters must be escaped (which is the case of `%`).

Can't we get rid of the .bat file ?
Otherwise characters escaping should be handled (this c

[2022-08-03 14:53] ndeebook commented on #1181
also, if an intermediate file is mandatory, why not consider a powershell script instead ?
`subprocess.Popen(['powershell', 'path/to/command.ps1'])`

[2022-08-11 23:11] saikiranpennam commented on #1159
Before

[code]
Proceeding with the above changes, please confirm with a reply.

[2022-08-16 13:18] grimjak commented on #785
Our current workflow with opencue is to package the individual python components and then publish to our own pypi index.  This required only very minor changes to the setup.py files.   A few notes from our experience so far:

- Compiling the protobuf files is a bit of a pain as they sit somewhat outside the packages that use them (rqd and pycue).  Rather than compiling these separately into rqd an

[2022-08-17 17:23] donalm opened #1186 "lluTime gets set to zero due to permissions mismatch on frame logfile"
If so configured, RQD will run a frame with the permissions of the submitting user.
https://github.com/AcademySoftwareFoundation/OpenCue/blob/master/rqd/rqd/rqcore.py#L472

With these elevated permissions, it creates the frame's log file:
https://github.com/AcademySoftwareFoundation/OpenCue/blob/master/rqd/rqd/rqcore.py#L523

Later, to determine the `lluTime` for the frame, RQD checks the `mtime`

[2022-09-13 15:57] donalm opened #1188 "Incorrect indices retrieved from /proc/[PID]/statm"
Note that `_getStatFields` returns a `list` with `[None, None]` as its first two values:
https://github.com/AcademySoftwareFoundation/OpenCue/blob/e7c38c6bf5a39eec650a1f7a3851dabcc10d6f48/rqd/rqd/rqmachine.py#L217-L219

So the following lines are running a regex against `None`, which results in a `TypeError`:
https://github.com/AcademySoftwareFoundation/OpenCue/blob/e7c38c6bf5a39eec650a1f7a3851dab

[2022-09-14 12:25] donalm opened #1189 "Too many uninformative loglines"
The code gets a listing of pids from the proc directory:
https://github.com/AcademySoftwareFoundation/OpenCue/blob/e7c38c6bf5a39eec650a1f7a3851dabcc10d6f48/rqd/rqd/rqmachine.py#L246-L247

Then reads their `stat` and `statm` files, and also creates a `psutil.Process` instance for each PID. This all takes a non-zero amount of time, and because so many Linux processes are ephemeral and live only for

[2022-09-14 12:29] donalm opened #1190 "unnecessary psutil instance"
Instead of:
https://github.com/AcademySoftwareFoundation/OpenCue/blob/e7c38c6bf5a39eec650a1f7a3851dabcc10d6f48/rqd/rqd/rqmachine.py#L268-L270

Consider:
[code]

I'd like the code in this loop to be efficient, so that we minimize occurrences of `/prod/PID` directories being cleaned up before we have a chance to read their contents.

(See #1189)

The proposed enhancement runs considerably faster tha

[2022-09-14 18:14] bcipriano commented on #1190
That suggestion looks good to me.

Unfortunate that `psutil` is so inefficient -- ideally we would be using it *more* instead of less to make more of the RQD code cross-platform.

But in this case, the code is already accessing the `/proc` part of the filesystem anyway, so it's already Windows-unfriendly, and we don't lose anything here by ditching `psutil`.

[2022-09-14 18:49] bcipriano opened #1192 "[cuegui] Replace use of qApp with a more lint-friendly solution"
Related to #1204, but also an issue in CI environments.

**Describe the enhancement**
`AttributeError: 'module' object has no attribute 'qApp'` is a common error when attempting to run CueGUI and is currently causing failures within our CI pipelines.

This is due to how we store and access the current instance of the application.

`qApp` is populated on startup:

https://github.com/AcademySoftware

[2022-09-14 18:56] bcipriano commented on #1189
I created https://github.com/AcademySoftwareFoundation/OpenCue/pull/1191 to reduce the log level for now.

[2022-09-14 18:58] bcipriano opened #1194 "[cuegui] Upgrade to PySide6"
Subissue of #1204.

**Describe the process**
PySide2 is deprecated and no longer publishes wheels for newer platforms. I'm unable to `pip install PySide2` on my M1 macbook for example. This is blocking me from working on various other issues.

We should upgrade to PySide6, which is the currently supported version.

[2022-09-15 15:32] bcipriano opened #1196 "Docker images don't build on M1 mac"
Subissue of #1204.

**Describe the bug**
OpenCue Docker images fail to build on M1 mac due to the arm64 architecture. Upstream images are pulled with arm64 architecture by default and this causes a variety of issues, mostly around dependencies not existing for that platform.

Cuebot image fails with:

[code]

CueGUI image fails to install the `PySide2` dependency as it doesn't exist for arm platfo

[2022-09-19 11:37] donalm opened #1202 "No frame will run for longer than ~5 minutes"
Every frame that runs for longer than 5 minutes gets killed by `rqd` at 5-minutes-and-change.

I was trying to track this down in our (barely customized) fork of OpenCue, but I tested with a vanilla dockerized OpenCue and got the same result. Here's a log from that system for a frame running under `rqd`. The command is simply `/bin/sleep 1000`:
[code]

I speculated that `rqd` is killing frames tha

[2022-09-19 20:32] bcipriano opened #1204 "Support M1 Mac as a development environment"
**Is your feature request related to a problem? Please describe.**
The current master branch (commit cd0fc3d9c32c1af30efe02409c765b26e9947ce4) has various issues on Macs with M1 chips due to incompatibilities created by components that don't support the ARM architecture.

- Cuebot can't build due to missing gRPC and protobuf libraries on Maven.
- Docker images can't be built as some upstream image

[2022-09-19 21:26] bcipriano commented on #1202
I gave this a try in my local environment. It's not exactly a vanilla setup -- it's `master` plus a bunch of other fixes I have in progress at the moment to get things working on my M1 mac. But a test job with `sleep 1000` finished as expected.

[2022-09-20 17:16] donalm opened #1205 "The testing show has been deactivated"
Following the instructions in the docs for "[Testing the sandbox environment](https://www.opencue.io/docs/quick-starts/quick-start-linux/#testing-the-sandbox-environment)" in the docs, submitting a job with `cuesubmit` fails with the error below printed to stdout.

I created a new show with the api and was able to submit a job to it.

[code]

[2022-09-20 17:32] bcipriano commented on #1205
I hit this the other day too. I was working on various other things at the time so I thought it was related to that, but it looks like something's changed that causes that `testing` project to get disabled. The `seed_data.sql` file looks correct to me, so this will need some more investigation.

In the meantime, for any folks who are hitting this and find this issue, you can use the `cueadmin` com

[2022-09-20 18:20] marksisson opened #1206 "add .envrc to .gitignore to support using direnv when working with code locally"
direnv (https://github.com/direnv/direnv) can be used for local developer workflow enhancements. direnv uses .envrc file for configuration. Because .envrc is usually specific to a developer workflow, it is generally not committed.

[2022-09-20 18:51] bcipriano commented on #1202
Just noticed -- I see in that log you posted:

[code]

That message means that Cuebot killed the frame because it thought the host shouldn't be working on that frame anymore.

- In the database, there's a record of every host and proc, and what is assigned to each proc.
- RQD sends periodic reports on what each proc is working on.
- When Cuebot receives that report, for each proc it checks the dat

[2022-09-20 18:53] bcipriano commented on #1202
BTW I'm working to get a new release out ASAP. A few issues have unfortunately slowed this down -- #1192 in particular has been breaking our CI pipelines that we use to test and release, and #1204 has been slowing me down in particular. Hoping to get these all resolved soon.

[2022-09-20 19:51] #1206 closed

[2022-09-21 04:40] donalm commented on #1202
I noticed in earlier tests that when the rqd node is working on the frame, there is no record in the `host_local` table. Is that expected?

In the test scenario I had only one rqd node, and I'm speculating a bit here, but it looked like cuebot did not realise the frame was being worked on. It tried to launch it on a node. There is only one active node, so it tries to launch it on the same node it'

[2022-09-21 16:43] bcipriano commented on #1202
I tried another `sleep 1000` job to check out the state of the database. Attaching a Cuebot log here for you to compare against.

[cuebot_during_sleep_job.log](https://github.com/AcademySoftwareFoundation/OpenCue/files/9618741/cuebot_during_sleep_job.log)

While the job was running I had all of the appropriate rows in `frame`, `host`, and `proc` tables. I did not have a record in the `host_local`

[2022-09-29 17:37] #1189 closed

[2022-09-29 18:49] #1205 closed

[2022-09-30 00:01] OdCgarcia opened #1210 "LocalBooking.py under cuegui is out of date"
**Describe the bug**
This module has not been updated since 2 years ago and is missing the set up for the render partition to be modified and/or deleted, gpu_memory parameter when creating it and some small typos.

To complement the information for the render partition part  ... on the render partition that is getting from the host, the methods `setMaxResources` and `delete` are missing.

gpu_num

[2022-10-08 08:00] michimussato commented on #481
@bcipriano, I hope you don't mind...

[code]

[code]

[code]

[code]

[2022-10-13 12:00] ndeebook opened #1211 "RQD completely ignores env on Windows"
in `rqcore.py`, `subprocess.Popen` is passed `env=self.frameEnv` for Linux and Darwin but not Windows.

[2022-10-15 12:14] michimussato opened #1212 "blender : unable to open display"
## Describe the documentation issue
A Blender job fails due to `Unable to open a display`

[code]

[code]

Workaround 1:
Job with `xvfb-run --auto-display` (Cuetopia still reports the job as DEAD as it tries to kill `xvfb-run` instead of `blender`, which it can't, however, the output generated is correct). One thing to note is that I first fired up `blender` with `xvfb-run -n 0` instead, but the j

[2022-10-15 12:21] michimussato opened #1213 "Add/modify submitter"
Not exactly a bug. I would like to know the best practice way to add a new (what would be the correct terminology) submitter for arbitrary tools, i.e. Houdini or Modo.

[2022-10-15 12:24] michimussato opened #1214 "Replace Katana as viewer"
How can I replace Katana as the preview tool with something opener source? For example with DJV? Or add a set of different image viewers?

There is a feature request pending: https://github.com/AcademySoftwareFoundation/OpenCue/issues/732
But since it is two years old, I would like to bump it with the additional request to be able to add arbitrary viewers.

[2022-10-25 17:56] bcipriano commented on #1212
I don't have a ton of Blender experience personally. It looks like this is a somewhat common issue with Blender, for example: https://github.com/nytimes/rd-blender-docker/issues/6

There are a couple of solutions suggested on that ticket, do any of those help?

Regarding the `DISPLAY=:0` workaround -- job layers can specify environment settings in the job description. This will probably be cleaner

[2022-10-25 18:19] bcipriano commented on #1213
I'll give some initial info on this, but let me know if you need any further assistance or I can clarify anything further.

If you do end up creating a new submission tool, we'd be very interested in merging it into the main OpenCue codebase if you're willing!

There are a couple of approaches you could take here.

### 1. Use CueSubmit

The existing CueSubmit tool could be adapted with a connector

[2022-10-25 18:22] bcipriano commented on #1214
Thank you for raising this again!

It's true, we would love to do this but haven't gotten to it yet. I'll bring it back up with the TSC. We have some other work going on at the moment but this could be a good item for the next round of development.

I'll close this for now in favor of the original ticket.

[2022-10-25 18:22] #1214 closed

[2022-10-25 18:24] bcipriano commented on #732
This is still a desired feature. If possible we should schedule it for development once the current round of work is completed.

I haven't had a chance to dig into the layer outputs issue.

If anyone is out there who is looking for a standalone task to work on, this would be a great option.

[2022-10-26 21:21] DiegoTavares commented on #564
This has been fixed by migrating the nimby features to start using pynput.

https://github.com/AcademySoftwareFoundation/OpenCue/pull/1142

[2022-10-27 16:04] bcipriano commented on #564
Yes, as Diego mentioned this should be fixed now. The fix hasn't been included in an official release yet but I'm working on getting that out ASAP.

[2022-10-27 16:04] #564 closed

[2022-10-27 16:08] #1192 closed

[2022-10-28 08:44] #1211 closed

[2022-10-30 20:32] michimussato commented on #1213
Thanks @bcipriano for the insight. I'm aware of dependency mismatches when working an applications environment. Apologies for not being specific enough... I was just wondering how to add arbitrary tools to the Job Type drop down menu

![Screenshot from 2022-10-30 21-28-18](https://user-images.githubusercontent.com/11973596/198900213-04b22b8f-e607-429b-88b5-ed2a3b2ca8f4.png)

It seems this is all J

[2022-10-30 20:51] michimussato commented on #1212
Yes, it is a common problem when trying to render OpenGL elements (partial GPU) or full GPU renders. I'll give your suggestion a try though - it looks like this would be the right way to set the environment. Thanks!

[2022-11-10 13:35] romainf-ubi opened #1217 "Building the cuebot image is extremely long (24h)"
**Describe the enhancement**
Would there be a solution to improve build time?

**Version Number**
Freshly cloned yesterday (2022/11/09) from master, so I guess it's somewhere after v0.15.22.

**Additional context**
It's the first time I try OpenCue, I went to the [quick start documentation](https://www.opencue.io/docs/quick-starts/quick-start-linux/) and it is taking ages to build the cuebot image

[2022-11-10 16:40] bcipriano commented on #1217
Typically the build process should take a few minutes if you're doing it from scratch, so there's definitely a problem here.

I've seen this in my personal environment before, same issue with that `gradle` command. Prior to #1198, when I tried to build the image on my M1 Mac it would hang at the same step. My theory is that because the base image (`gradle:6.0.1-jdk11` at that time) did not publish

[2022-11-10 18:18] MightyCreak opened #1218 "Can't follow the quick start quick if Python >= 3.10"
**Describe the bug**
I followed the [quick start guide](https://www.opencue.io/docs/quick-starts/quick-start-linux/) and when running `cuesubmit &`, noting happened.

**To Reproduce**
Steps to reproduce the behavior:
1. Install Python 3.10 (my version is 3.10.7)
2. Follow the [quick start guide](https://www.opencue.io/docs/quick-starts/quick-start-linux/) and reach the [Testing the sandbox environ

[2022-11-10 20:08] romainf-ubi commented on #1217
It eventually finished, but it took 86035 seconds (so that's 23 hours 53 minutes and 55 seconds)

On the other side, I tested with my Linux at home and it took 3 minutes. That's a pretty big difference 😂

Thanks @bcipriano for your workaround, I'll try that right now and post the results here after.

[2022-11-11 13:22] romainf-ubi commented on #1217
So the gradle image is already at `6.0.1-jdk13` presently and there are no other jdk for this version. So I'm testing the next minor versions. So far I'm at 6.4 and still having the issue.

I've also seen a difference, but I don't know gradle/java enough to know if it's an issue or not: when building on Windows, it fetches the modules through https://jcenter.bintray.com, but when building on Linux

[2022-11-11 13:56] romainf-ubi commented on #1217
I found a promising answer in StackOverflow: https://stackoverflow.com/a/36533928

But the issue is that I have no knowledge of gradle at all, so I tried to remove the `jcenter()` lines in `cuebot/build.gradle`, but it simply fails during build now :/

[2022-11-11 15:09] MightyCreak commented on #1218
I actually have another issue later, on once I've downgraded to Python 3.9: I submitted a job (as explained in the quick start documentation), but when I launch `cuegui` and click on the "Load:" button, I don't see my test job :disappointed:

Is there a preferred Python release I should use so that all the tools work fine?

[2022-11-11 17:29] sebastianelsner opened #1219 "docker compose setup "can" become inconsistent"
Hi all!

I am trying OpenCue for the first time and stumbled on an inconsistency (I think) Running OpenCue from the provided docker-compose.yml will use the images on docker hub. But the flyway image is build locally. If I don't have the same local version checked out as the images pulled from docker hub, I might end up with an inconsistent build and wrong database schema. Wouldn't it be easier fo

[2022-11-15 14:04] romainf-ubi commented on #1217
Someone suggested me to pass the HTTP proxy config to gradle. I did set them in the Dockerfile, using the http_proxy, https_proxy (and the same ones in capital letters), but it seems that gradle doesn't check these environment variables and apparently we need to pass them through. I guess it's a matter of adding a few command line options...

[2022-11-18 19:56] romainf-ubi opened #1220 "requirements_gui.txt is broken because of PySide2"
**Describe the bug**
Running `pip install -r requirements_gui.txt` fails because of PySide2, but there is a very simple solution.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new directory and enter it
2. Run `virtualenv venv` and `source venv/bin/activate`
3. Run `pip install PySide2==5.15.2`
4. See error

**Expected behavior**
Installing dependencies should not fail.

**Screens

[2022-11-18 20:59] romainf-ubi commented on #1217
As this is not really an issue with OpenCue but more with gradle, I'll close this issue.

Also, the solution is simply to not build the image locally and use the one already available on Docker Hub (i.e. a simple `docker compose up -d` at the root of OpenCue's repo does everything).

[2022-11-18 20:59] #1217 closed

[2022-11-18 21:40] romainf-ubi commented on #915
I have a similar issue. The difference is that I run the Docker Hub images (I simply run `docker-compose up -d` at the repo root, which spawn db, cuebot and rqd services based on Docker Hub images), and I use the tools from my cloned repo (so I install them with `python setup.py install` etc.).

I can create jobs using `cuesubmit` and I can see that they are inserted in the DB, but they are pendin

[2022-11-20 06:32] n-jay commented on #312
Hi @bcipriano
I noticed that the blender addon is missing in the [plugins directory](https://github.com/AcademySoftwareFoundation/OpenCue/tree/master/cuesubmit/plugins). Is there an update on this?

I'm very interested in contributing to OpenCue (and working with ASWF as a whole) and thought Blender integration would be a good place to start.
Additionally, should I create a new mail thread on open

[2022-11-23 18:49] n-jay commented on #641
Hi @bcipriano, has development on CueGUI packaging finalized to resume development on this?

[2022-11-24 20:11] romainf-ubi opened #1221 "CueBot can't get the list of pending jobs"
**Describe the bug**
When running the sandbox and adding a new job, the job stays stuck in the "In Progress" state (in the DB it is flagged as PENDING).

**To Reproduce**
Steps to reproduce the behavior:
1. Clone the repo
2. `docker-compose up -d`
3. Install the tools from source
4. Create new job using cuesubmit
5. See the job in Cuetopia and that it is always "In Progress"

**Expected behavior**

[2022-11-28 12:37] grimjak opened #1223 "Use fully qualified domain name"
Our opencue in kubernetes setup requires that communication between cuebot and rqd uses the fqdn.
The db writes the fqdn as a separate field when an rqd host is added but currently it's not used for any of the grpc communication.  Also rqd strips off everything but the hostname when it registers.

This feature should be configurable in rqd and cuebot

[2022-11-30 16:55] DiegoTavares commented on #312
As discussed in the email thread, n-jay is taking over the development of this feature.