[2018-12-20 21:07] bcipriano opened #53 "Make rqconstants.py be driven by a config file/env vars"
Currently a number of rqd variables are hardcoded in `rqconstants.py`. Some of these are proper constants but others need to be dynamic, such as:

- Cuebot hostname
- Port numbers
- Logging config

These should be modified to support a config file / environment vars so that the application code doesn't need to be modified by the end user.

[2018-12-20 21:08] bcipriano opened #54 "enduser and sysadmin docs"

[2018-12-20 21:09] bcipriano opened #55 "packaging and deployment"
Scripts/docker images/other tools for packaging and deploying the various OpenCue components.

[2018-12-20 21:10] bcipriano opened #56 "configurable email settings"
Cuebot sends email in a variety of situations e.g. job completion, job failure. Some of code hardcodes SPI-specific things like imageworks email addresses, and other code assumes all users use a @imageworks.com email domain.

[2018-12-20 21:11] bcipriano opened #57 "design and implement job submission plugins"
Standalone app, as well as Maya and Nuke plugins.

[2018-12-20 21:12] bcipriano opened #58 "clean up test data for pycue tests"

[2018-12-20 21:13] bcipriano opened #59 "send status codes and error messages from all grpc servants"
Currently most of servants return the generic grpc error (equivalent of returning a 500). Have the servants catch errors and send appropriate onError messages using grpc's own error messaging.

For example:
[code]

[2018-12-20 21:15] bcipriano opened #60 "clean up client-side config yaml"
There _were_ two files, `cue3.yaml` and `etc/default.yaml`, which have similar contents including some  SPI-specific stuff in there.

This has been condensed to a single `etc/default.yaml` but still needs cleanup and documentation of the values available.

[2018-12-20 21:15] bcipriano opened #61 "Support Windows for client software and RQD"
The database and Cuebot will continue to run on Linux but all other pieces - PyCue, PyOutline, CueGUI, and RQD - should run on Windows.

RQD should in theory run on all platforms but there is some OS-specific code in there especially around system metrics collection.

[2018-12-20 21:45] bcipriano opened #62 "check in a CONTRIBUTING file"
Per Google OSS guidelines.

This file will spell out exactly how potential contributors can contribute code changes, including signing a CLA as well as the Pull Request process itself.

[2018-12-20 22:55] bcipriano opened #63 "rename to OpenCue"
Update all code and docs to use the new name.

[2018-12-20 22:56] bcipriano opened #64 "make all python packages use dynamic versioning"
Existing Dockerfiles and `setup.py` use hardcoded placeholder version number. This should come from the build system.

[2018-12-20 22:58] bcipriano opened #65 "document user management"
Define best practices, especially in a cloud environment. Cue specifically RQD expect that usernames are consistent (but not UIDs, right?)

[2018-12-20 22:58] bcipriano opened #66 "create testing and build infrastructure"

[2018-12-20 23:03] bcipriano opened #67 "port cache layer to new RPC architecture"
The old ICE layer had caching for individual instances of each object type. We should add a similar cache to fit somewhere within the new architecture - at the database layer is a likely candidate.

[2018-12-20 23:04] bcipriano opened #68 "Frame logging output to service"
Frame logs are currently written out to a shared file system that all the clients need to also have mounted. We should continue to support this configuration, but also create an interface for exporting to a logging service.

[2018-12-20 23:05] bcipriano opened #69 "Reimplement RPC stats collection for SystemStats call"
Ice provided a way to log the number of
* requests for data
* requests for function
* error requests

The SystemStats call would retrieve this info. We need to reimplement this functionality in the absence of ICE.
See TODO in com.imageworks.spcue.servant.CueStatic.

[2018-12-20 23:06] bcipriano opened #70 "Cleanup Folder f_order column"
It looks like `FOLDER.f_order` in the database was mislabeled as a float. It is currently being stored as an integer so we should relabel it to be `FOLDER.int_order`.

[2018-12-20 23:06] bcipriano opened #71 "unbookProcs method not defined on server"
`spi_cue.Cue3.wrappers.layer` defines a function `unbookProcs`. This method signature does not have any match in ICE or on the server. Verify that it is ok to remove.

[2018-12-20 23:07] bcipriano opened #72 "standardize backend component logging"
Cuebot and RQD use somewhat different logging setups and RQD at least needs some cleanup - in various places it uses standing logging as well as `print` directly.

Clean up the logging code in both, using standard logging libraries, and document how logs can be written to either a) a configurable path on disk, or b) to a logging service such as Cloud Logging.

[2018-12-20 23:08] bcipriano opened #73 "reimplement Cuebot docker healthcheck with GRPC"
The old healthcheck used a simple ICE test client, and needs to be replaced.

[2018-12-20 23:08] bcipriano opened #74 "Cleanup docstrings in pycue"
Ensure that all "public" methods in pycue have clean appropriate docstrings.

[2018-12-20 23:09] bcipriano opened #75 "rename "mcp" throughout the system"
OpenCue contains a concept called "mcp" which is basically a term for local temporary storage. It is monitored as a resource in the same way that cores or RAM is, to ensure that render nodes have enough scratch storage to complete a job.

It originally had a common mountpoint of `/mcp` on Linux, hence the name.

Rename this to be something a bit more clear - "tmp" or something like that - and make

[2018-12-20 23:09] bcipriano opened #76 "switch pyoutline to be camel case"
Pyoutline is the one library that is snake case. For consistency, we should move it to be camel case.

[2018-12-20 23:10] bcipriano opened #77 "Have pyoutline backend.launch return the list of jobs"
Right now in pyoutline the launch command will only return the first job submitted. It should return all jobs submitted and let the caller handle what to do with them.
See pyoutline/src/outline/backend/cue3.py : launch()

[2018-12-20 23:10] bcipriano opened #78 "lint python code at build time"

[2018-12-20 23:11] bcipriano opened #79 "Allow reprioritization of task priority over job priority"

[2018-12-20 23:11] bcipriano opened #80 "Automatic NIMBY controls for RQD to enable rendering when workstation idles"

[2018-12-20 23:12] bcipriano opened #81 "Have GrpcServer.java search and locate grpc beans automatically"
They are all listed individually by name now.

[2018-12-20 23:12] bcipriano opened #82 "Use enums instead of value for ThreadMode"
`com.imageworks.spcue.VirtualProc` is an example of `ThreadMode` using the value of the gRPC enum. Instead `host.threadMode` should simply use the enum.

[2018-12-20 23:14] bcipriano opened #83 "improve FrameRange/FrameSet string representations"
The old C++ implementation has smart string representations - sequences of frames are grouped by range and step. I believe this only really affects visual representations of the frame range; the backend deals with only flattened lists of frames.

See the old `libFileSequence` test code[1] for examples of how the grouping works.

Our existing code uses very simple string representations - flat comm

[2018-12-20 23:14] bcipriano opened #84 "support subframes"
Both Python and Java implementations of FrameRange/FrameSet assume that all frames are whole numbers - ints are used throughout. Possibly other places in the code make this assumption as well.

Ensure that subframes are supported and fix as necessary.

[2018-12-20 23:15] bcipriano opened #85 "implement production management API"
This involves removing the existing Point and TrackIt concepts and replacing them with a redesigned general-use API. Goals will be to implement an API that meets the existing Trackit setup's requirements, as well as can support other popular production management tools e.g. Shotgun.

[2018-12-21 20:29] #64 closed, assigned to bcipriano

[2019-01-09 01:17] gregdenton opened #91 "Update WhiteboardDaoTests to check returned values"
Currently many of the WhiteboardDaoTests in cuebot simply call the method they are testing but do not check that the returned value is correct.
We should go through and update these tests to make sure that the returned value is accurate.

[2019-01-09 01:29] gregdenton opened #92 "Make jobLauncher.launch return the Job objects"
If you look at `ManageJob.launchSpecAndWait`, this method is probably doing too much logic in the servant class. We should have `jobLauncher.launch` return a list of Jobs so that we don't have to iterate over the spec and call `findJob` inside the servant.

[2019-01-09 19:51] #77 closed, assigned to gregdenton

[2019-01-14 11:41] gregdenton opened #99 "Add Logo to cuesubmit and cuegui"
The logo needs to be added to the submit widget and cuegui splash screen.

[2019-01-14 14:51] bcipriano opened #101 "create web app version of the Cue GUI"

[2019-01-15 09:23] gregdenton opened #104 "Allow for frame chunking at the application level"
By default we only have the #IFRAME# replacement token, which limits our ability to do frame chunking in the application (executing a single command with a frame range, so we only incur the application startup cost once).
It would be nice to have a start and end frame token exposed by default in pyoutline making this functionality at least work for Maya and Nuke.

[2019-01-15 11:50] bcipriano opened #105 "release should publish images to Docker hub"

[2019-01-15 11:52] bcipriano opened #106 "Release description body should be a changelist"
We can construct the changelist from the list of commits in master since the last release.

[2019-01-15 11:53] #55 closed, assigned to bcipriano

[2019-01-15 12:46] #66 closed, assigned to bcipriano

[2019-01-16 11:16] gregdenton opened #112 "Move hardcoded email addresses to config file"
There a few hardcoded email addresses in the cuebot code. For example:
 `cuebot/src/main/java/com/imageworks/spcue/service/EmailSupport.java`
We should move these to configs.

[2019-01-16 11:20] #112 closed, assigned to nobody

[2019-01-16 14:08] #53 closed, assigned to bcipriano

[2019-01-16 14:09] #63 closed, assigned to gregdenton

[2019-01-16 14:12] #99 closed, assigned to gregdenton

[2019-01-17 09:53] #60 closed, assigned to nobody

[2019-01-17 10:50] #105 closed, assigned to bcipriano

[2019-01-17 13:25] #57 closed, assigned to gregdenton

[2019-01-17 17:10] #62 closed, assigned to bcipriano

[2019-01-18 12:23] gregdenton opened #132 "Add windows and Mac support for user add function in RQD"
`rqutil.py` has a function, `checkAndCreateUser` that only works with linux. Add mac and windows support.

[2019-01-18 12:35] #132 closed, assigned to nobody

[2019-01-20 18:36] bcipriano opened #140 "CueSubmit doesn't make use of Show and Shot fields."
https://github.com/imageworks/OpenCue/pull/139 adds some defaults when Show/Shot aren't set as env vars.

However when testing this, I filled some values into the Show and Shot fields in CueSubmit and it looks like the defaults are still being used. If the show defined by default_show doesn't exist, the job submission fails with a generic exception. The shot doesn't seem to affect much, and the jo

[2019-01-22 14:49] bcipriano opened #149 "have Docker run tests for all python components"
RQD runs unit tests, but that's about it.

PyCue, PyOutline, CueAdmin, CueGUI, and CueSubmit all have tests in various forms that aren't being run automatically.

[2019-01-22 14:53] bcipriano opened #150 "provide instructions for configuring gRPC TLS"
Currently OpenCue assumes a secure network between components and uses an unsecured gRPC channel.

Create a test deployment of OpenCue that makes use of self-signed TLS certs for gRPC, make any code changes necessary, and document how users can set this up on their own.

Plus: build it into the Docker images so a default deployment uses secure channels already.

[2019-01-22 14:55] bcipriano opened #151 "PyOutline code cleanup"
Code is stored under a `src/` subdir unlike other components, and exposes most of its functionality in a toplevel namespace via wildcard imports.

[2019-01-22 14:57] bcipriano opened #152 "Add support for facility nameservers or drop this concept from the code"

[2019-01-22 14:59] bcipriano opened #153 "Reimplement support for RQD --daemon mode"
This flag doesn't currently do anything, so the process always runs in the foreground.

[2019-01-22 15:32] #54 closed, assigned to bcipriano

[2019-01-22 23:18] bcipriano opened #160 "enums don't display correctly in the GUI"
After the grpc switch, it appears that enums don't display in the GUI correctly - only numerical values.

[2019-01-22 23:19] bcipriano opened #161 "CueGUI: job table sort order is not consistent"
Regardless of the column selected for sorting, the job table will rearrange itself apparently randomly.

[2019-01-23 02:51] gregdenton opened #162 "cuegui refresh when killing a job"
When killing a job in the "Monitor Jobs" view it should trigger a refresh of the jobs list to remove the killed job.

[2019-01-23 02:52] gregdenton opened #163 "Launching Monitor Hosts should trigger a refresh"
Right now when launching the Monitor Hosts view, you need to manually hit the refresh button to get anything to load.

[2019-01-23 02:54] gregdenton opened #164 "Update glossary"
Update the glossary wiki page to have more detail about:

job
layer
frames
allocation
subscription
services

[2019-01-24 00:20] #160 closed

[2019-01-24 00:22] gregdenton opened #167 "Auto update in FrameMonitorTree"
The FrameMonitorTree does not auto update as is should. There's no error message but this should be fixed.

[2019-01-24 00:26] gregdenton opened #168 "Killing a frame on RQD errors if the frame is not running"
If RQD gets a KillFrame message and the frame is not running, RQD will throw an exception.

[code]

[2019-01-24 15:59] gregdenton commented on #140
Fixed in PR #170

[2019-01-24 15:59] #140 closed

[2019-01-24 16:00] gregdenton commented on #168
Fixed in PR #171

[2019-01-24 16:00] #168 closed

[2019-01-24 16:01] #164 closed

[2019-01-25 18:15] gregdenton commented on #161
FIxed in PR #173

[2019-01-25 18:15] #161 closed

[2019-01-25 20:15] randomgenerator2019 opened #175 "pyCue, pyOutline - Win10 python 2.7 requirements"
Hi Team ,

Firstly thank you for Opensourcing this !!

I noticed you had a ticket for testing RDQ in windows...

I thought i might update this with some discoveries while trying build for win10 python2.7
in windows the python requirement of PySide2==5.11.2 does not appear to exist

So with that in mind PySide2==5.12 was used for the below results.

However I still find after a successful build of

[2019-01-25 21:07] JohnWelborn commented on #101
I'm very interested in hearing suggestions of web frameworks and libraries that would be well suited to support the lists that the gui displays. The frame list is paged at 1k but the host list can be large depending on the query. The job progress bar column might add some display complexity.

[2019-01-25 21:19] JohnWelborn commented on #175
When I deployed rqd to windows it was a small number of machines for use by the Flix, but it was using Ice for RPC back then. It looks like the porting to protobuf may need some changes for windows support. Also its possible that pyoutline was not used on windows at the time.

[2019-01-25 21:22] JohnWelborn commented on #75
(Beware that misbehaving jobs can fill it up which might be bad for the system depending on where it is)

[2019-01-25 21:23] JohnWelborn commented on #61
#175 might indicate that google.protobuf.pyext._message is not available on windows

[2019-01-25 21:32] JohnWelborn commented on #71
The cuebot has an optimization (for performance and cache reuse) where a proc stays on the same layer in some cases. Users sometimes would unbook a proc if they did not like it so they could pick up another one but without killing the running frame.

Maybe its part of the proc interface? Are the old slice files available?

[2019-01-25 22:16] randomgenerator2019 commented on #175
Sorry my explanation of the  issue may have been unclear.
I was attempting to build pyCue and pyOutline  for windows.
Using the instructions @ https://github.com/imageworks/OpenCue/wiki/Installing-PyCue-and-PyOutline

[2019-01-28 19:34] gregdenton opened #176 "Update docs with min system requirements for rqd and cuebot"
RQD has a minimum system requirement of needing a single physical core and minimum of 2GB free memory.  I've also run into issues with cuebot running out of memory with less than 6GB of RAM even in very simple deployments.
We should add a doc page to outline these requirements and recommendations.

[2019-01-28 20:03] sharifsalah commented on #176
Sounds good. I suggest we add these to the 'Before you begin' section for the relevant installation guides for RQD and Cuebot.

[2019-01-28 21:11] erikstrauss opened #177 "Add pyoutline examples for widely used apps"
OpenCue/pyoutline/tutorials/example/example.py gives an architectural view of how outline works, but it would be very helpful for people new to the code to see practical examples of outline files using common 3rd party packages like Nuke and Maya. This would tie the functions described to use cases in the wild and lower the barrier to understanding conceptually what Open Cue expects as an input.

[2019-01-29 21:47] gregdenton commented on #71
Thanks for the info John.
I think I've found the disconnect. The original slice files defined an `unbookProcs` method that used a `ProcSearchCriteria` attribute to handle the unbooking from a job or layer object. We have this message also on grpc.
However the cue python API used the proxy object of a layer or job to unbook with the following signature:
`layer.unbookProcs(list<Subscriptions>, numbe

[2019-01-29 22:38] JohnWelborn commented on #163
History: Without any filters it could be a long list and could take a while to query and render. Also it might impact startup time. The expectation was to have the user input some filter first.

[2019-01-30 02:25] gregdenton opened #178 "Add step in user guide to configure file share for RQD"
Following the user guide can result in RQD failing due to not being able to write log files within the docker container.  We should add a step in the user guide to setup a docker volume for this purpose.

[2019-01-30 02:31] gregdenton opened #179 "Opening log in text editor fails in cuegui, unable to find gview"
If `gview` is not an executable command on the user's system, the log fails to open in a text editor.
We should look into using `$EDITOR` for this purpose along with Windows friendly solutions.

[2019-01-30 02:34] gregdenton opened #180 "Cleanup references to /shots and make root directory configurable"
Ensure that there are no hardcoded references to `/shots` and make the root directory location more configurable.
Test running files from other mount locations.

[2019-01-30 02:36] gregdenton opened #181 "Create troubleshooting doc"
Create a troubleshooting doc to start to log some common issues. Things like:
* Looking at Cuebot logs after getting a generic GRPC error.
* Connection issues between Cuebot and DB
* Connection issues between RQD and Cuebot
* Why aren't my frames picking up?

[2019-01-30 02:39] gregdenton opened #182 "Expand documentation definitions for facilities/allocs/subscriptions/tag/services"
These items are briefly covered in the glossary. We should expand their definitions and illustrate how they interconnect and explain their role in having jobs pickup on hosts.

[2019-01-30 22:45] bcipriano commented on #181
I've published a "Deployment troubleshooting" admin guide that covers the first three points here.

https://github.com/imageworks/OpenCue/wiki/Deployment-troubleshooting

[2019-01-31 01:00] bcipriano commented on #181
For item 4 above, I plan to also add a "Render troubleshooting" user guide that we can build on later.

https://github.com/imageworks/OpenCue/issues/182 is probably the blocker here - without a proper explanation of facilities/allocs/tags we won't be able to properly explain how to debug those issues.

[2019-02-01 01:32] gregdenton opened #183 "Create a service wrapper for pycue"
Right now services are being handled directly with the grpc objects. We should create a api wrapper object for it and hook up cuegui to user the wrapper.
Without doing this there will be problems creating, updating, or deleting services.

[2019-02-07 18:29] bcipriano commented on #182
This Glossary covers this in more detail now, particularly https://github.com/imageworks/OpenCue/wiki/Glossary#relationships

[2019-02-07 18:29] #182 closed

[2019-02-07 18:29] bcipriano commented on #181
Render troubleshooting is published now too: https://github.com/imageworks/OpenCue/wiki/Render-troubleshooting

It's pretty basic but will get us started and we can build on it as more common issues are identified.

[2019-02-07 18:29] #181 closed

[2019-02-07 18:47] #183 closed

[2019-02-07 18:47] #179 closed

[2019-02-08 13:45] donalm opened #192 "Dependency issues"
Is there a way to submit jobs with dependencies between layers currently? I've been unable to submit a job with dependencies between layers, either via the cuesubmit GUI or using the outline Python API.

Here's one attempt:

[code]
I've experimented with other DependType values, but with similar results.

On the server side I get this exception:
[code]

My Python script dies noisily:
[code]

Thank

[2019-02-08 17:54] gregdenton commented on #192
Thanks for bringing this to our attention. And thanks for the detailed
issue report!
Your outline script looks like it should be working and I'm able to
reproduce the issue here as well.
It looks like the xml output from PyOutline does not have the correct keys
for the dependency enums.
"FRAMEBYFRAME" should be "FRAME_BY_FRAME".

I'm working on a fix for this now and will get back to you shortly.

[2019-02-08 19:29] bcipriano opened #193 "test a deploy with Mac render hosts"
I fixed one Mac-specific issue in https://github.com/imageworks/OpenCue/pull/32 but there are likely others out there.

[2019-02-08 19:31] bcipriano commented on #61
I've repurposed this Issue to focus on Windows and cover both client-side components as well as RQD.

[2019-02-08 19:59] bcipriano commented on #192
Also sounds like an example of https://github.com/imageworks/OpenCue/issues/59 - gRPC should bubble up that Cuebot error rather than die with a generic `UNKNOWN`.

[2019-02-08 20:06] donalm commented on #192
Thank you both for looking into this.

[2019-02-08 22:56] gregdenton commented on #192
@bcipriano I've added a generic catch around the submission service calls that will at least pass the server error messages to the client as an `INTERNAL` error. This should help but we should try to implement a more generic catch all as part of #59.

[2019-02-08 23:42] bcipriano commented on #178
I've updated [Deploying RQD](https://github.com/imageworks/OpenCue/wiki/Deploying-RQD) with this info.

[2019-02-08 23:42] #178 closed

[2019-02-09 03:28] gregdenton commented on #192
Fixes have been pushed to the master branch. Updated components include:
* Cuebot
* pycue
* pyoutline
* CueGUI
* CueSubmit

[2019-02-09 03:28] #192 closed

[2019-02-11 12:51] donalm opened #196 "Limiting concurrent instances of applications"
How does OpenCue deal with licensing limits?

My story: I have 100 Arnold licenses. How do I prevent OpenCue from spawning Arnold jobs on more than 100 hosts?

Thanks

DJM

[2019-02-11 17:31] donalm commented on #192
This works for me now - thanks for turning this around so quickly.

[2019-02-11 23:10] gregdenton commented on #59
Looking into if we can solve this with a global `ServerInterceptor` now.

[2019-02-12 00:25] bcipriano commented on #196
So, OpenCue doesn't currently have this exact kind of concept. Resources are strictly per-host - think cores or GB of RAM - instead of there being a shared pool of resources as with licenses.

A couple things you could try -

- Create an "arnold" allocation with only 100 hosts in it. Then jobs tagged with the arnold tag can get sent to that alloc.

- Use subscriptions to limit a show to a specific

[2019-02-12 10:49] donalm commented on #196
Thanks Brian, I'll check out allocations.

I have one or two other questions that aren't properly bug reports or feature requests. Is there anything like a slack/irc channel or mailing list that would be a good place for general noob questions?

[2019-02-12 20:12] bcipriano commented on #196
The Glossary has some more info on these concepts which might be helpful: https://github.com/imageworks/OpenCue/wiki/Glossary

Yes, we have a users mailing list - you can join at <https://groups.google.com/forum/#!forum/opencue-users> or email the group directly at <opencue-users@googlegroups.com>.

[2019-02-13 12:27] donalm opened #198 "cuesubmit accepts submissions for non-existent shots"
If a user submits a job for a non-existent 'shot', OpenCue will accept the submission.

Depending on the filesystem permissions, the job will either:
- eventually fail
- create a new directory in /shots/$SHOW/$SHOT

Neither of which is optimal.

It looks like 'shot' is not a first-class concern in the database schema - it's just a varchar field in the job table.

[2019-02-13 12:53] donalm commented on #198
TBH - at our site we probably won't use cuesubmit directly outside of testing, and the OpenCue database won't be the canonical repository for shot/context information. It makes most sense for us to implement this check in our pipeline, via the asset tracking or production tracking systems.

Feel free to reject this ticket.

[2019-02-13 13:25] donalm opened #199 "cuesubmit behaviour on bad user input is a bit odd"
Not a pressing concern for me, but I wanted to log this:

The "Job Name:" label for the first field in the GUI will turn red when I enter a non-ascii, characters, e.g.:
"Beyoncé"
...but although it seems to recognise this is a problem, it still sends my submission request to the server. It doesn't however turn red when I enter a name containing whitespace.

On these conditions (and maybe others -

[2019-02-13 17:29] gregdenton commented on #199
Thanks for logging this. I've run across some similar issues with the submission validation not being fully hooked up. I'll take a look into this.

[2019-02-13 17:33] gregdenton commented on #199
This same behavior applies the shot and layer name validation.

[2019-02-13 23:12] gregdenton opened #200 "FrameSet lacks indexing support"
There's a couple sport in CueGui that are indexing on a FrameSet.
Add indexing support to fix this.

[2019-02-14 01:26] gregdenton opened #203 "CueGUI Monitor Frame does not filter correctly"
Filtering by status and layer is not working on the Monitor Frame view.

[2019-02-14 01:28] bcipriano commented on #180
We think the main work here is around logging - RQD assumes `/shots/<show>/<shot>` as a log directory.

Instead, the absolute path to the log directory should be configured as part of the job submission and passed through to RQD.

[2019-02-14 01:33] bcipriano commented on #198
Yeah, I tend to agree here that OpenCue shouldn't really need to know about "shots" as a concept at all - that information should be driven from the job submission side, typically using data from a production tracking system.

The best way to implement such a check, I think, would be to add some presubmit hooks into CueSubmit so you can do some validation against your production tracking system or

[2019-02-14 01:33] #198 closed

[2019-02-14 01:42] gregdenton opened #205 "Make cuesubmit dialog resizable"
The cuesubmit window sticks to a minimum size which is still quite large. Make it resizable so the submit and cancel buttons can scrolled to.

[2019-02-14 20:52] #205 closed

[2019-02-14 20:52] #59 closed

[2019-02-14 20:52] #200 closed

[2019-02-15 00:16] gregdenton commented on #199
In PR #207, I've added a few validators and a step to run the field validation when hitting submit. If the fields are invalid, the submission is cancelled and a pop up is shown.
Awaiting review.

[2019-02-15 01:34] gregdenton opened #208 "Be able to view RQD machine logs from the gui"
It would be nice to be able to select a host in CueGUI and be able to view the RQD process logs for that machine (not the frame logs).

[2019-02-15 01:36] gregdenton commented on #208
Related to issue #72

[2019-02-18 17:09] sharifsalah opened #210 "Add netlify config to opencue.io"
Add a netlify.toml configuration file to simplify automated build and deployment of Hugo to Netlify.

[2019-02-19 20:02] gregdenton opened #212 "CueGUI settings file is incorrect"
Line 85 of Main.py is constructing the file path it believes the QSettings are using, but this is incorrect and platform specific. This causes the default settings file to not be loaded.
We should switch:
`local = "%s%s.ini" % (os.getenv("HOME"), config_path)`
to
`local = settings.fileName()`

[2019-02-19 20:12] gregdenton commented on #212
Created PR #213 to address this.

[2019-02-19 23:15] #212 closed

[2019-02-19 23:15] #199 closed

[2019-02-19 23:16] #203 closed

[2019-02-20 00:08] leonardlan opened #214 "Installing cuegui error: can't copy 'cuegui/images/crystal': doesn't exist or not a regular file"
I followed all the steps at [Installing-CueGUI](https://github.com/imageworks/OpenCue/wiki/Installing-CueGUI) but when I get to this command `python setup.py install` I get this:

[code]

Running on CentOS 7.

[2019-02-20 02:51] gregdenton commented on #214
Hi @leonardlan,
I'm not seeing the same error when trying to reproduce.
Can you list the contents of the `cuegui-0.1.74-all` directory?

[2019-02-20 18:04] gregdenton opened #216 "Allow periods in the no special character validators of cuesubmit"
Cuesubmit is currently blocking submissions with periods in the username and other fields. Periods are safe in the DB and should not be blocked by the submission tool.

[2019-02-20 23:26] leonardlan commented on #214
[code]

[2019-02-21 18:03] #216 closed

[2019-02-21 22:21] bcipriano opened #218 "make User a first-class object"
Usernames are currently stored in the database as strings, in tables that have user info attached:

- `job`
- `job_history`
- `owner`
- `comments`

IMO users should be a first-class object in OpenCue, with a `user` table, and referenced by primary key in other tables.

This would allow us to expand the user definitions and add more metadata associated with each user. For example email address - se

[2019-02-22 01:08] gregdenton commented on #214
Can you also supply what version of python and setuptools you are using?
`python -m easy_install --version`

[2019-02-22 12:13] nod0ubt opened #220 "Verifying PyCue causes python error"
We would like to try out OpenCue, so I'm setting it up for testing purposes.
I'm following the wiki, using redhad based vms, instead of docker containers.

I've reached the point where I gotta test PyCue and PyOutline with the following command in venv:

[code]

This produces:

[code]

Tested on CentOS 7 and Fedora 29. In both cases the same error occurs.

[2019-02-22 12:16] Shayen commented on #220
They already have a wiki page for this issue, [Check this](https://github.com/imageworks/OpenCue/wiki/Deployment-troubleshooting)

Cheer,

[2019-02-22 12:18] nod0ubt commented on #220
Thanks Shayen, I've checked this, but the log speaks nothing to me.
This is the output of tail -n 50 spcue.log

[code]

[2019-02-22 12:22] Shayen commented on #220
I'm not an expert in database but from your log, It said

I can't say this is cause by openCue or not but you can google this error message for the solution.

[2019-02-22 12:26] nod0ubt commented on #220
Unfortunately google isn't familiar with that error, so I guess it's something related to the sql schema provided here. Hopefully someone from the devs here can help.

[2019-02-22 16:01] sharifsalah opened #221 "Migrate Wiki content"
Migrate OpenCue Wiki guides to opencue.io

[2019-02-22 18:02] leonardlan commented on #214
[code]

[2019-02-22 19:11] nburdan commented on #196
We have too many various licenses we have to deal with to be able to solve this with the suggestions Brian made above.  Is there a ticket to implement something cuebot-side to deal with this or how are you dealing with this donalm?

[2019-02-22 19:42] akrugel commented on #101
An uneducated suggestion is to use a component of [SlickGrid](https://github.com/mleibman/SlickGrid).

[2019-02-22 21:32] bcipriano commented on #220
Hi,

`relation "tableName" does not exist` means that Postgres wasn't able to find that database table or view. This typically means that either a) your database schema wasn't populated during OpenCue setup, or b) the Cuebot's Postgres user doesn't have permission to the tables in that database.

To figure out why - log into your database using the `postgres` user or some other superuser to check

[2019-02-22 21:55] donalm commented on #196
I haven't delved any further into this yet, but I'll be working on OpenCue again from Tuesday for a few days. If I make any advances I'll follow up with you.

Like you, I'm skeptical that the combination of allocations/tags will really nail the problem for me but I'm keeping an open mind.

[2019-02-22 22:02] gregdenton commented on #214
Thanks. I'm thinking this is being caused by using an older setuptools. If at all possible, can you use a newer setuptools? We are using 39.2.0.
I'll also leave this ticket open so we can come up with a better way of referencing the recursive directories on the packaging step.

If you can't change python/setuptools versions, I'd recommend using the source directly for cuegui. If you've setup you v

[2019-02-23 00:31] #58 closed

[2019-02-25 10:23] nod0ubt commented on #220
Thanks so much. Seems like it was a permission issue. Now it's fixed.
I've bumped into another issue tho. I'm unable to run **cuegui** on my Fedora desktop workstation. Again, following the guide I'm stuck at:

**CUEBOT_HOSTS=192.168.21.205 cuegui**

(that's the IP of my cuebot machine, where I also host the PostgreSQL)
this produces

`ModuleNotFoundError: No module named 'Manifest' `

I've also t

[2019-02-25 11:57] nod0ubt commented on #220
Ah.. :( Moving on to the Cuesubmit on same machine..

**CUEBOT_HOSTS=192.168.21.205 python2.7 cuegui**

`pkg_resources.DistributionNotFound: The 'cuesubmit==0.1.74' distribution was not found and is required by the application`

[2019-02-25 12:26] nod0ubt commented on #220
Final issue (I hope). So far everything's running, except Cueadmin.
I'm getting server error, no matter if I try connecting to the hostname or ip address of the cuebot vm:

`Name resolution failure.`

Firewalls are disabled on both sides. Both machines are reaching each other. How can I troubleshoot it?

[2019-02-25 21:49] bcipriano commented on #220
@nod0ubt Could you post the command you're running to start cueadmin?

[2019-02-25 21:50] bcipriano commented on #220
Also - thanks for the edit - we'll make sure to expand the docs in this area.

[2019-02-26 07:52] nod0ubt commented on #220
I'm trying with:
**cueadmin -server hostname/ipaddress -ls**

I think it may have some to do with gRPC.

[2019-02-26 14:50] sharifsalah commented on #210
Fixed in https://github.com/imageworks/opencue.io/pull/2

[2019-02-26 14:50] #210 closed

[2019-02-26 20:04] bcipriano commented on #220
Hm, like this:

[code]

It's possible there's something wrong with the `-server` flag, but CueAdmin uses the same Python API as all of the other components so the same environment variables will work.

[2019-02-26 20:11] gregdenton commented on #220
Yeah, it looks like pycue is not respecting the server passed in by
`setHosts` from cueadmin.

On Tue, Feb 26, 2019 at 12:04 PM Brian Cipriano <notifications@github.com>
wrote:

[2019-02-26 23:54] gregdenton commented on #220
I've merged in my change and tested the `-server` flag is working. This will be included in the next release. In the mean time, please either follow @bcipriano's suggestion or you can rebuild from the source.

[2019-02-27 07:07] nod0ubt commented on #220
Still no joy, guys :-(

**CUEBOST_HOSTS=opencue.xxx.xxx cueadmin -ls**

[code]

Same happens if I try with IP instead of hostname.

**ping opencue.xxx.xxx**

[code]

**nslookup opencue.xxx.xxx**

[code]

[2019-02-27 07:13] bcipriano commented on #220
Just checking - I noticed your comment says `CUEBOST_HOSTS` instead of `CUEBOT_HOSTS` - was this typo present in the command you ran too or just in the comment?

[2019-02-27 07:38] nod0ubt commented on #220
Oh, lol :-) Guess I needed that coffee. It's my mistake, indeed. Sorry about that.
It's going smooth now.

[2019-02-27 18:45] bcipriano commented on #220
Great!

Remaining todo here is for me to update the docs with your earlier suggestion.

[2019-02-27 19:05] gregdenton commented on #180
@bcipriano, Cuebot has been responsible for setting the log directory for jobs. I've updated Cuebot now to have the ability to configure the root directory for jobs. Do we want to allow for job specific log directories configured at submission time? I fear this could be misused and could become unwieldy allowing for logs to be written in arbitrary locations.

[2019-02-27 19:25] bcipriano commented on #180
I think that leaving the decision with Cuebot is good for now. Let's see how things develop as we add more logging options - you're right that decentralizing this decision may not make sense, especially in the context of the cloud-based logging systems.

[2019-02-27 19:40] gregdenton commented on #180
Thanks. Closing this ticket for now. We can add a new one if we want to allow for per-job submission log dir setting.

[2019-02-27 19:40] #180 closed

[2019-02-27 19:56] nod0ubt commented on #220
Awesome.
I've got some questions about submitting jobs. Is it more appropriate to use the mailing list in order to address them?

Thanks so much!

[2019-02-27 20:01] bcipriano commented on #220
Yeah that works - let's discuss on the users list.

[2019-02-27 21:09] sharifsalah commented on #221
Migrated in https://github.com/imageworks/opencue.io/pull/3

[2019-02-27 21:09] #221 closed

[2019-02-27 21:12] sharifsalah opened #224 "Update opencue.io look & feel"
Update the design and look & feel of opencue.io from the default Docsy styling:

- Add a custom landing page background
- Update primary and secondary colors
- Update additional colors as necessary to ensure callouts are legible
- Update styling of navigation menu

[2019-02-27 21:14] sharifsalah opened #225 "Update opencue.io repo config"
The value of the GitHub repo for opencue.io is currently misconfigured in config.toml to point at the https://github.com/imageworks/OpenCue repo. This needs to be updated to point at https://github.com/imageworks/opencue.io to allow contributors to access the integrated editing feature in Hugo / Docsy.

[2019-02-27 22:45] sharifsalah commented on #225
Fixed in https://github.com/imageworks/opencue.io/pull/4

[2019-02-27 22:45] #225 closed

[2019-02-28 20:23] gregdenton opened #226 "Job completion not updated in Job View"
When a job completes, cuegui is not updating the job view, leaving it at 99% complete.

[2019-02-28 20:24] gregdenton opened #227 "CueGUI monitor cue view not displaying jobs"
The monitor cue view in CueGUI shows the job groups but is unable to display the jobs.

[2019-02-28 20:25] gregdenton opened #228 "pycuerun in pyoutline is not working"
SPI reported problems running pycuerun for outline task.

[2019-02-28 20:43] gregdenton opened #229 "Add load balancing for multiple cuebots"
Right now pycue will always return the first connected cuebot. Allow for random and round robin distribution of cuebot hosts.

[2019-02-28 20:44] gregdenton commented on #229
Also check for rqd.

[2019-03-04 22:58] bcipriano commented on #61
For completeness, reporting some info from the forum here.

The latest update here is - unfortunately at the moment there's not great support for PySide when using Windows+Python 2.

https://wiki.qt.io/Qt_for_Python

After trying a few different things we came to the conclusion that without PySide planning any official build for Python 2, it made the most sense to move towards Python 3 compatibili

[2019-03-07 02:28] gregdenton opened #232 "Cuesubmit QSettings returning unicode instead of list"
The QSettings object used by Cuesubmit is returning a unicode object instead of a list on certain platforms. Update it to use beginArrayRead/Write.

[2019-03-07 06:01] gregdenton opened #235 "Upgrade to Spring 5.1"
Update and test Spring 5.1 with support up to Java 11.

[2019-03-07 18:20] #232 closed

[2019-03-07 19:53] #226 closed

[2019-03-13 00:44] gregdenton opened #237 "Reuse existing channels for grpc connections from cuebot to rqd"
Cuebot is creating a new grpc channel for every rqd call. We should cache these and also ensure that they close properly before being garbage collected.

[2019-03-13 05:08] #227 closed

[2019-03-13 05:08] #229 closed

[2019-03-13 20:18] salvaom commented on #61
Hello!

I've managed to get a semi-functional version of [cuegui on Windows](https://imgur.com/nNdhDDF) after making some minor python 3 compatibility changes to outline, I've got cuebot and the database on a docker instance but I'm having a hard time figuring out how to use the Jenkins/Docker containers provided to test the changes. Is it written anywhere how are they supposed to be used?

Thank

[2019-03-13 21:24] bcipriano commented on #61
Hi Salvador! That's great to hear.

To be clear you're looking to test changes you made to the `outline` library, aka pyoutline, is that right? As far as I'm aware that library isn't used in CueGUI itself, but it is used in the CueSubmit application - am I correct in taking that to mean that you also have CueSubmit running on Windows?

[2019-03-13 22:29] gregdenton commented on #226
Fixed in PR #230

[2019-03-13 22:30] gregdenton commented on #227
PRs #236  & #234

[2019-03-14 09:11] salvaom commented on #61
After a couple more modifications I am now able to open CueSubmit as well, yes! About CueGUI, I did have to make one small change that is to set in the setup.py `zip_safe=False`, without that it was not  able to load the plug-ins embedded since they were inside an .egg file.

Right now I've got both working and connected to the database, but I'm having some issues with the RPC that will fail when

[2019-03-15 02:24] bcipriano commented on #61
This is a timely request, because we're in the process of cleaning up and reenabling the existing unit tests right now.

See for example https://github.com/imageworks/OpenCue/pull/240 which enables this for PyOutline - there are some unrelated testing issues we need to clear up there, but we hope to have that submitted tomorrow.

Our plan was to do something like: clean up and enable unit tests ->

[2019-03-15 22:21] bcipriano opened #242 "Create Python implementation of FileSequence"
PyCue's `FileSequence` library has `FrameRange` and `FrameSet` implementations but no `FileSequence`, which is a similar class intended to represent a sequence of files e.g. an image sequence.

`FileSequence` isn't used too much in the codebase, but it is used in the `outline.io.FileSpec` class.

The old C library had an implementation of this + tests that we can base the Python implementation on:

[2019-03-18 19:48] sharifsalah commented on #176
Added to opencue.io repository in https://github.com/imageworks/opencue.io/pull/15

[2019-03-18 19:48] #176 closed

[2019-03-18 19:49] sharifsalah opened #243 "Add documentation contributions guidelines"
Add some basic information to explain the processes and tools required to propose changes to the opencue.io website and documentation.

Add information to both the repository README.md and a dedicated documentation guide.

[2019-03-18 22:36] sharifsalah commented on #243
Added in https://github.com/imageworks/opencue.io/pull/16

[2019-03-18 22:36] #243 closed

[2019-03-21 20:11] gregdenton opened #246 "pycuerun errors printing list of submitted jobs"
`launch` returns a list of jobs submitted now. This is causing an error when submitting jobs from `pycuerun`.

[2019-03-21 20:12] gregdenton commented on #246
The launch method was updated to return the list of submitted jobs back from cuebot. Previously, it only returned the first job returned from cuebot.  Updating pycuerun now to print the list of submitted jobs.

[2019-03-22 08:57] salvaom commented on #61
Oh, very good! I'll keep a look out for the unit test issues then, thank you very much!

[2019-03-25 18:50] #246 closed

[2019-03-25 18:50] #237 closed

[2019-03-25 18:53] gregdenton opened #248 "Allow for setting log directory by environment variable"
Allow the frame log directory to be specified in either opencue.properties file or as an environment variable, with environment variable taking precedence.

[2019-03-25 18:53] gregdenton commented on #248
Environment variable added: `CUE_FRAME_LOG_DIR`

[2019-03-25 21:06] #248 closed

[2019-03-25 22:48] gregdenton opened #251 "Increase gRPC max message size for pycue"
Pycue currently uses the default max message size. For most communication this is fine.
`getJobWhiteboard` returns the group and job objects for all active jobs on the farm, which can grow quite large and easily outgrow the max message size.

We can increase this value to something larger, but I fear this is symptomatic of a problem with how `getJobWhiteboard` passes the whole tree instead of usin

[2019-03-26 11:19] donalm commented on #242
Not sure how closely it matches your requirements, but https://github.com/sqlboy/fileseq

[2019-03-26 17:33] gregdenton opened #252 "Expose CoreUnitDispatcher settings as config values"
The CoreUnitDispatcher has some hard coded values that control how quickly the dispatcher is able to schedule work. These values should change based on the size of the farm and the type of work being scheduled, so they should be moved to a user exposed config file until they can be populated automatically based on health metrics of the farm.

Some example of the main settings that drive the percei

[2019-03-26 19:09] bcipriano opened #253 "in Admin Guide, add step to test Cuebot/RQD connection"
A few folks have run into this when setting up OpenCue - they missed some firewall setting or something that is specific to their setup, and didn't notice that Cuebot/RQD traffic wasn't making it through until much later in the process, when Cuebot generated some generic error.

Add a step to the Admin Guide to explicitly test Cuebot/RQD traffic, in both directions.

[2019-03-26 19:28] bcipriano commented on #218
A few things that have come up recently that are worth mentioning here:

1. This would also unblock adding a permissions model to OpenCue. Specifically, limiting users to certain shows/projects has come up a few times.

2. There are a good number of users out there that already have some database of their local users e.g. Active Directory. Once Users exist in OpenCue we could look at how to sync s

[2019-03-29 18:29] gregdenton opened #256 "Move cuesubmit constants to a config file"
There's a few values like MAYA_RENDER_CMD that are hard coded in cuesubmit. This makes it annoying for users to change those values since they have to patch the code.
Let's add a config file where those values can be set and then defaults defined in the constants.py.

[2019-03-29 21:44] #256 closed

[2019-03-29 23:02] gregdenton opened #258 "Add docs page about environment variables"
As we've built out more configuration by environment variables, we need to update the docs to explain what functionality is out there.
Examples:
`$CUE_FRAME_LOG_DIR `
`$CUESUBMIT_CONFIG_FILE`

[2019-04-02 19:13] gregdenton opened #262 "CueGui style issues on centos"
On Centos we have noticed some font issues in CueGui.  Update to make fonts and style consistent regardless of OS.

[2019-04-02 20:19] gregdenton commented on #251
I'm splitting this into two parts.
1.) Set gRPC max message size to 100MB. (In review: #263)
2.) Update getJobWhiteboard to return ids of nested jobs instead of job objects themselves.

[2019-04-02 20:40] gregdenton commented on #252
Merged in PR #160.

[2019-04-02 20:40] #252 closed

[2019-04-03 18:21] gregdenton opened #266 "When formatting string float values, use Root Locale"
To avoid internationalization problems, Cuebot should handle all string formatting of floats as the root locale.

[2019-04-03 18:23] gregdenton commented on #266
This manifests itself as errors similar to the following:
`java.lang.NumberFormatException: For input string: "0,00"`

Note the comma.

[2019-04-03 19:08] #262 closed

[2019-04-03 19:08] #251 closed

[2019-04-03 19:08] #266 closed

[2019-04-05 06:40] cwrightce opened #270 ""object is not iterable" errors in cueadmin commands"
I'm getting this in response when I run specific 'querying' cueadmin commands.

Error 'FooBarResponse' object is not iterable.
..where FooBar can be replaced by..

 'ProcGetProcsResponse' when running 'cueadmin -lp'
...or...
'JobGetJobsResponse' when running 'cueadmin -lji'

[code]

cross-link to Google Groups
https://groups.google.com/forum/#!topic/opencue-users/0A12yo8Gd6c

[2019-04-05 17:38] gregdenton opened #271 "Allow more rqconstants to be overwritten by config"
Only a few `rqconstants.py` values can be overwritten by the `rqd.conf`, it would be good to have more values controlled by the config file.
For Example (from email with Cam, see google group):
[code]

[2019-04-05 19:28] bcipriano opened #272 "Ctrl-C to kill RQD doesn't work in some cases"
We've heard that in one case (Centos 7) ctrl+c doesn't work, even after repeated presses. They needed to directly kill the process via a separate terminal session.

[2019-04-05 19:30] bcipriano opened #273 "Create init-style scripts for Cuebot/RQD"
OpenCue server-side components should have officially supported init-style scripts so they can be managed like services via commands like `service start` and `service stop`.

[2019-04-05 20:07] sharifsalah opened #274 "Create a guide for submitting jobs"
Add a user guide doc for submitting jobs using CueSubmit.

[2019-04-11 13:04] sharifsalah opened #275 "Blank suggestions in CueSubmit"
On macOS 10.14.4, there's a white empty box that appears under most form fields in CueSubmit. It looks like CueSubmit is trying to suggest previously filled in values but as the box is white the suggestion isn't actually visible:

<img width="434" alt="Screen Shot 2019-04-11 at 1 58 14 PM" src="https://user-images.githubusercontent.com/6339099/55959327-74583900-5c62-11e9-816f-89ce653e8935.png">

[2019-04-11 15:12] sharifsalah commented on #258
Is there a straight forward way to identify a list of the available variable names for users? The two examples you listed are in quite different paths in the repo.

[2019-04-11 23:16] bcipriano commented on #275
@gregdenton Are you able to reproduce this? I can't - with no previous suggestions I don't get any white box and when there are suggestions they're clearly visible.

[2019-04-12 16:55] gregdenton commented on #258
Not really right now. Part of this issue should really be to simply catalog and organize these types of environment variable and configuration settings. I can take a pass through that early next week.

[2019-04-12 22:09] gregdenton commented on #275
@sharifsalah Just to confirm, do you happen to know when you pulled the cuesubmit code? I feel like I remember this being an issue before, but I thought it was fixed.

[2019-04-15 13:07] sharifsalah commented on #275
This was with the latest v0.2.0 release. I ran through the install for the first time on this particular machine with this version.

I'll keep an eye out for this on other machines I run through the installation on.

[2019-04-15 17:09] gregdenton commented on #275
Thanks Sharif. I'll take a look and track it down.

[2019-04-15 19:46] bcipriano opened #276 "add support for viewing archived jobs"
OpenCue implements fairly aggressive archiving - as soon as a job completes it is archived. If the CueGUI job list is cleaned up or the app is relaunched the job will no longer be accessible.

The JobSearch API [supports a `include_finished` flag](https://github.com/imageworks/OpenCue/blob/0175b100515d6bff9ca7f606c4ca3af29816c0c0/proto/job.proto#L558) which we would need to support in CueGUI someh

[2019-04-15 19:55] bcipriano opened #278 "fix log level in GUI when job completes"
[code]

This shouldn't be a WARNING, as it's normal and expected.

[2019-04-16 20:20] #278 closed

[2019-04-17 06:05] cwrightce commented on #276
I've been tooling around with a GUI checkbox in cuegui to include finished jobs. I'm hoping I'll have it at a presentable place soon!

[2019-04-17 07:21] cwrightce commented on #271
I've started on this... can't figure out how to assign this issue to me though!

-C

[2019-04-17 15:38] gregdenton commented on #271
@bcipriano Can you take a look and add Cam to the collaborators? I don't have access to edit the project settings.

[2019-04-17 18:37] bcipriano commented on #271
@cwrightce Invite sent - once you accept I think we'll be able to assign you.

[2019-04-17 23:25] cwrightce commented on #271
Thanks for that.
Invitation accepted.

[2019-04-17 23:33] bcipriano commented on #271
Great - looks like the assignment is working now.

We're still fine tuning the process, but the general workflow is to fork OpenCue, make your changes in a branch on the fork, then when that's ready send us a Pull Request to merge back into the main repo. Let me know if you run into any issues with any of that.

[2019-04-18 23:54] gregdenton opened #282 "Upgrade to pyyaml 5.1"
Make sure all loads are using safe loaders.

[2019-04-23 00:36] cwrightce opened #285 "Allow for override of cuegui.Constants.DEFAULT_INI_PATH"
I'd be interested to allow an environment variable to point to default CueGUI configuration file, allowing for overrriding of the default cuecommander.ini without having to hack the OpenCue installation.

something like...
CUEGUI_DEFAULT_INI_PATH=/path/to/my/default_ini_path

...which would override cuegui.Constants.DEFAULT_INI_PATH (if found in os.environ) and copy /path/to/my/default_ini_path/cu

[2019-04-23 01:25] #276 closed

[2019-04-23 19:22] bcipriano commented on #285
Hi Cam,

Thanks for the suggestion.

Could you create this functionality now by distributing your default ini files to your users' home directories so that OpenCue's default is never needed? Using some kind of domain management maybe?

Just wondering about the pros / cons of either approach.

[2019-04-23 23:36] cwrightce commented on #285
Yep - that's feasible with our infrastructure, however to me it seems akin to installling Nuke Gizmos or Houdini HDAs to home directories instead of having them within the pipeline or show directory structure, which is probably where they ought to be.

That said, putting cuegui config into home directories is what I'll be doing for now, but I was hoping that might be a stop gap instead of a soluti

[2019-04-24 19:43] bcipriano commented on #285
Got it, thanks for that. I'm onboard with this feature request - would be a nice addition.

[2019-04-25 01:47] bcipriano opened #289 "include_finished doesn't include data from history tables"
`JobSearchCriteria` includes an `include_finished` option for fetching finished jobs. However some jobs may still not be returned, as the API backend only reads from the main `job` table, and old jobs are auto-archived to the `job_history` table in the database. This may cause unexpected results, particularly if a job suddenly disappears from the API response.

Fixing this might not be trivial - `

[2019-04-25 17:52] gregdenton commented on #282
Merged in PR #283

[2019-04-25 17:52] #282 closed

[2019-04-25 17:53] gregdenton commented on #271
Closing this, as the PR #279  has been merged.

[2019-04-25 17:53] #271 closed

[2019-04-25 17:57] gregdenton commented on #162
Fixed as part of PR #230

[2019-04-25 17:57] #162 closed

[2019-04-26 01:01] cwrightce opened #292 "show.createSubcription() throws TypeError"
Hey guys.

I think I've found a bug in the OpenCue Python API... when I try to create a subscription to a show, I get a TypeError, see below.

[code]

It looks like in opencue.wrappers.show, line 60 it references allocation.id (a method) instead of calling it to return the UUID.

I've been able to hack around this by duck-typing a wrapper class which has id as property ( calling allocation.id() to

[2019-04-26 18:32] gregdenton commented on #292
Hi Cam,

Thanks for reporting this. The show.createSubscription function seems like it is meant to actually take allocation protobuf object and not the wrapper object.

This means your code would change to:
`show.createSubscription(alloc.data, 100.0, 150.0)`

That being said, not being able to use the wrapper object doesn't feel very natural. @bcipriano, What do you think about updating the wrappe

[2019-05-02 21:14] bcipriano commented on #292
+1 to this - using property decorated methods makes sense, as does standardizing all code to use wrapper objects instead of the protobuf objects directly -- I think the code is fairly mixed right now in terms of which it's using.

[2019-05-07 05:24] #270 closed

[2019-05-08 00:00] gregdenton opened #297 "Move constants from Dispatcher.java to DB"
There's a number of configuration constants defined in Dispatcher.java, we should move these to the DB and provide apis/frontend for editing and managing them.

[2019-05-08 00:01] gregdenton opened #298 "Enable priorities"
Priorities are only a visual indicator right now and the farm is controlled by setting min/max cores on jobs. We need to enable priorities but still adhere to the min core rules.

[2019-05-08 15:11] sharifsalah opened #301 "Migrate and update PyOutline Tutorial"
There's an existing PyOutline tutorial in the OpenCue repo at:

https://github.com/imageworks/OpenCue/blob/master/pyoutline/tutorials/tutorial.html

We should migrate and update this tutorial to opencue.io.

[2019-05-08 15:13] sharifsalah commented on #274
Created a basic guide in https://github.com/imageworks/opencue.io/pull/17

Published at https://opencue.io/docs/user-guides/submitting-jobs/

[2019-05-08 15:13] #274 closed

[2019-05-08 15:14] sharifsalah commented on #224
This is mostly done, but the 'What is OpenCue?' box on the landing page could use a bit more padding.

[2019-05-08 15:15] sharifsalah commented on #301
Looks like this might be dependent on https://github.com/imageworks/OpenCue/issues/228

[2019-05-08 17:23] sharifsalah opened #302 "Add a guide for monitoring jobs"
A how to guide to introduce Cuetopia, adding views, and monitoring jobs for a show.

[2019-05-08 18:04] gregdenton commented on #298
PR in #299

[2019-05-08 19:05] #272 closed

[2019-05-08 22:47] gregdenton commented on #292
Sorry, I wasn't thinking. It turns out the property decorator makes the function only accessible as a property and drops the ability to call it as a function. So we would have the opposite problem.
Based on this, I think we should make sure wrappers exist for all objects and move towards always using the wrapper.

[2019-05-08 22:55] bcipriano opened #303 "CueGUI: revise environment var setup for external log viewing"
From https://groups.google.com/forum/#!topic/opencue-users/pSx_xSdk_Jw

Define the following Constants, each able to be overridden by env vars:

- `LOG_POPUP_USE_WEB` = bool
- `LOG_POPUP_USE_EDITOR` = bool
- `LOG_POPUP_EDITOR` = "editor launch string"

Resolution would happen as follows:

- Check in `LOG_POPUP_USE_WEB`
  - if True, launch log in web browser
  - if not continue
- Check if `LOG_POPU

[2019-05-09 00:47] gregdenton opened #304 "Remove RepeatedCompositeContainer check from opencue.util"
The `opencue.util.proxy` method attempts to check if a passed in object is iterable by checking if it is of type `RepeatedCompositeContainer`. This type only exists if the users built protobuf with the C++ implementation.  Creating an otherwise unnecessary dependency.

[2019-05-09 04:24] bcipriano commented on #285
Closing this as it was implemented in https://github.com/imageworks/OpenCue/pull/293

I think if you include text `Fixes #285` in your PR, when it gets merged the issue will be auto-closed.

[2019-05-09 04:24] #285 closed

[2019-05-10 02:18] bcipriano opened #307 "label "good first issue" to issues where applicable"
ASWF is trying to standardize this across projects.

Section being added to TAC README in https://github.com/AcademySoftwareFoundation/tac/pull/45

[2019-05-10 12:08] sharifsalah opened #308 "Publish command reference docs on opencue.io"
Publish reference docs for OpenCue commands `cueadmin` and `pycuerun`.

This should help with users evaluating the project based on the documentation, as well as existing users who prefer to search the reference docs online.

[2019-05-10 16:39] sharifsalah opened #309 "Add CueGUI help links"
Currently the **Help** menu in CueGUI provides several links that point at nothing:

*   Online User Guide
*   Make a suggestion
*   Report a Bug

It would be useful to update these links to point at the online documentation and GitHub issue tracker.

The values for the links can be configured in:

https://github.com/imageworks/OpenCue/blob/master/cuegui/cuegui/Constants.py

As follows:

[code]

I

[2019-05-10 16:54] sharifsalah opened #310 "Add a guide for managing shows"
Add a how-to guide to introduce creating and managing shows from the `cueadmin` command.

The how-to guide would probably cover the following options to introduce the `cueadmin` command and the various requirements to get started with submitting jobs:

[code]

[2019-05-10 16:58] sharifsalah opened #311 "Fix cueadmin error"
The `cueadmin` options `-lj`, `-laj`, and `-lji all produce the following error:

`Error: 'JobGetJobsResponse' object is not iterable.`

The output of the command doesn't include anything useful.

[2019-05-10 19:34] bcipriano commented on #311
We just fixed a similar issue, https://github.com/imageworks/OpenCue/issues/270, though it hasn't been included in a numbered release yet, just in `master`.

Could you give it a try running against the master branch and let me know if you're still seeing that error?

[2019-05-10 19:35] bcipriano commented on #310
Great idea.

Side note, is it worth it to add a "documentation" label for issues like this one?

[2019-05-10 19:40] bcipriano commented on #309
Do you mean that we just aren't using issue labels consistently, or is there some other configuration we should do here?

[2019-05-10 21:22] sharifsalah commented on #309
Based on the [GitHub docs about templates](https://help.github.com/en/articles/creating-issue-templates-for-your-repository), I believe we can create a template for a feature suggestion and a template for a bug report. Each template would include the appropriate label as well as other useful information, such as assignee, or title...etc.

I'm assuming that each template would have a unique URL.

W

[2019-05-10 23:01] sharifsalah commented on #311
Ah thanks, I didn't spot that this was a duplicate. I tested my environment against the master branch and I'm no longer seeing the error. I think this can probably be marked as a duplicate so I'll apply that label and close it.

Duplicate of https://github.com/imageworks/OpenCue/issues/270

[2019-05-10 23:01] #311 closed

[2019-05-12 02:06] fire opened #312 "Blender Support"
Support Blender as a render for jobs.

[2019-05-12 02:16] fire commented on #312
It was mentioned in an email thread that this was described in https://cloud.google.com/solutions/creating-a-render-farm-on-gcp-using-opencue#submit_a_job

[2019-05-12 02:20] fire commented on #312
For a seamless UX, there should be a Blender plugin. This allows artists who don't care about technical details to work.

Links:

* https://github.com/imageworks/OpenCue/tree/master/cuesubmit

[2019-05-12 17:42] fire opened #314 "Kubernetes setup"
Setup Kubernetes for the control nodes and some example render nodes.

[2019-05-13 09:51] sharifsalah commented on #314
This sounds like a very interesting idea; could you add a bit more detail about what you would like to see in terms of documentation or sample code?

[2019-05-13 16:18] fire commented on #314
Provide a operator for OpenCue. https://operatorhub.io/

The operator should be able to install OpenCue in Kubernetes and automate upgrades. It should also have a option to scale rendering hosts with an option for gpu rendering hosts.

Networking - Should allow the outside developer network to submit jobs.

Cuebot rendering host - Blender rendering hosts. This is with and without gpus. Installs RQ

[2019-05-13 16:20] fire commented on #314
Provide shared storage for fetching stored and uploaded content.

[2019-05-13 16:26] fire commented on #314
Create docker images for Kubernetes support and look into how Operators work. Define Kubernetes stateful sets etc.

For bonus work:

Cuebot rendering host - Support existing proprietary rendering software as docker images. Each developer may have to create and upload these privately. So provide integration and instructions.

Cockroachdb - Support Cockroachdb as a cluster stand in for postgresql.

[2019-05-13 17:50] #304 closed

[2019-05-13 23:18] gregdenton opened #315 "RQD python 3 compatibility"
Add support for python 3 in rqd and test.

[2019-05-13 23:30] bcipriano commented on #228
@gregdenton Is there any update here?

[2019-05-13 23:33] bcipriano commented on #312
@fire Thanks! Yes, as you mentioned OpenCue does technically support Blender already, but is lacking a plugin to provide easy job launching. Agreed this would be a great thing to add.

I've updated the issue title to reflect that, hope that's alright.

[2019-05-13 23:34] bcipriano commented on #301
Duplicate of https://github.com/imageworks/OpenCue/issues/177

Agreed that we need an up to date doc with examples for PyOutline. It's a popular request.

[2019-05-13 23:35] bcipriano commented on #177
Note from https://github.com/imageworks/OpenCue/issues/301 that there is an existing file that we can probably use or build on in some form.

https://github.com/imageworks/OpenCue/blob/master/pyoutline/tutorials/tutorial.html

[2019-05-13 23:36] bcipriano commented on #301
Duplicate of #177

[2019-05-13 23:36] #301 closed

[2019-05-14 01:15] gregdenton commented on #228
The issue was fixed in PRs #284 and #255.
I've kept this issue open in case there were other issues that came up.

I also just submitted PR #316 which is also related. Once this is merged, I think we can close this issue.

[2019-05-14 22:31] sharifsalah commented on #308
cueadmin reference added in https://github.com/imageworks/opencue.io/pull/22

pycuerun pending.

[2019-05-15 00:03] #228 closed

[2019-05-15 22:28] bcipriano commented on #309
#317 is merged now, looks like URLs are:

- https://github.com/imageworks/OpenCue/issues/new?assignees=&labels=bug&template=bug_report.md&title=
- https://github.com/imageworks/OpenCue/issues/new?assignees=&labels=enhancement&template=feature_request.md&title=

Would you like to send a change updating those constants?

[2019-05-15 23:12] sharifsalah commented on #309
Thanks Brian!

Yes, would love to send a change to update the constants. I'll do that as soon as opencue.io is 'production' ready if that's OK and we update links pointing at the docs.

[2019-05-16 03:22] sharifsalah commented on #224
Closed in https://github.com/imageworks/opencue.io/pull/23

[2019-05-16 03:22] #224 closed

[2019-05-21 06:21] cwrightce opened #327 "CueGUI Job Tree Progress Bar Incorrect Colours"
Hey guys.

Been doing some investigation into the progress bars which are visible in the CueJobMonitorTree part of CueGui... it would seem to represent odd colours instead of matching the colours of the states of jobs.

I can't put an image here... so imagine a job progress graph that is 95% purple, then 5% red.
That would seem to indicate 95% "depend" and 5% "dead"... however the job is actually

[2019-05-21 10:02] sharifsalah opened #328 "Pull request template"
**Is your feature request related to a problem? Please describe.**
Reduce friction for new contributing developers who might not be familiar with the checklist of items they need to consider before creating a pull request (PR).

**Describe the solution you'd like**
Consider adding a PR template, similar to Apache Beam:
https://github.com/apache/beam/blob/master/.github/PULL_REQUEST_TEMPLATE.md

**

[2019-05-21 10:53] sharifsalah opened #329 "Update project README to link to opencue.io"
**Describe the bug**
When we deprecate the Wiki, we'll need to update the project README to link to opencue.io.

**To Reproduce**
N/A

**Expected behavior**
There should no longer be links from the main repository to the project Wiki.

**Screenshots**
N/A

**Version Number**
N/A

**Additional context**
N/A

[2019-05-21 10:56] sharifsalah opened #330 "Deprecate OpenCue Wiki"
**Is your feature request related to a problem? Please describe.**
opencue.io replaces all of the features of the current OpenCue Wiki and provides additional features, including support for community contributions, localization, blog and release notes RSS feeds, and more.

**Describe the solution you'd like**
Delete most of the pages in the Wiki and update the homepage with a brief explaining tha

[2019-05-21 21:12] gregdenton commented on #327
It looks like `opencue.wrappers.job.Job.frameStateTotals` was returning a set instead of a dictionary. Since the set was unordered, the colors that were being associated with frame counts was essentially random.
I've created PR #331 to fix this.

[2019-05-21 21:16] #327 closed

[2019-05-21 22:46] bcipriano commented on #328
Good idea. I can create this but I'll want to wait until after the upcoming repo transfer, as the steps will change a bit.

[2019-05-22 10:10] sharifsalah commented on #309
Partially fixed in https://github.com/imageworks/OpenCue/pull/326

Will leave open to update the issue links after the repos are moved.

[2019-05-22 21:11] #298 closed

[2019-05-22 23:28] bcipriano commented on #292
@gregdenton You fixed this, right?

[2019-05-22 23:35] bcipriano commented on #214
@leonardlan Was this resolved?

[2019-05-22 23:38] bcipriano commented on #175
FYI pycue and pyoutline now support Python3 so this shouldn't be an issue anymore.

[2019-05-22 23:38] #175 closed

[2019-05-22 23:39] bcipriano commented on #151
This was fixed a while back.

[2019-05-22 23:39] #151 closed

[2019-05-22 23:44] gregdenton opened #337 "Create pycue wrapper objects for all protobuf messages"
**Describe the enhancement**
Make sure wrapper objects are available for all protobuf messages types being used.
Right now we are missing:
* Department
* Facility
* Deed
* Owner

**Screenshots**
None

**Version Number**
0.2.31

**Additional context**
This is required to get all of pycue using wrapper objects and not be passing any protobuf objects.

[2019-05-22 23:47] gregdenton opened #338 "PyCue should not pass any protobuf objects"
**Describe the enhancement**
Right now PyCue uses and expects a mix of protobuf objects and wrapper objects. This is confusing to use as an api since it's not clear when to use the protobuf object vs the wrapper.   Once #337 is in place we should standardize on only passing and returning the wrapper objects.

**Screenshots**
None

**Version Number**
0.2.31

**Additional context**
Dependent on #337

[2019-05-22 23:48] gregdenton commented on #292
I'm closing this as there's nothing to do in this ticket.
I've opened #337 and #338 to track making sure wrappers exist for all message types and to standardize on only using wrappers.

[2019-05-22 23:48] #292 closed

[2019-05-23 00:12] gregdenton opened #339 "pycue getHostWhiteboard errors with bad SQL grammer"
**Describe the bug**
Calling `opencue.api.getHostWhiteboard` gives the following StatementCallback exception:

`opencue.exception.CueInternalErrorException: Server caught an internal exception. org.springframework.jdbc.BadSqlGrammarException: StatementCallback; bad SQL grammar [SELECT alloc.str_name AS alloc_name,host.pk_host, host.str_name AS host_name,host_stat.str_state AS host_state,host.b_nim

[2019-05-23 23:05] #339 closed

[2019-05-26 12:55] donalm opened #343 "cuesubmit dies if there are no shows in the database"
Perhaps the expected behaviour is that the database is prepopulated with demo_data.sql to create the 'testing' show.

[code]

This is not a priority for me - I just don't want to forget it.

[2019-05-26 23:49] donalm commented on #315
Did @gregdenton or @bcipriano encounter [protobuf issue 1491](https://github.com/protocolbuffers/protobuf/issues/1491) when you were porting other code to Python 3?

The generated Python code includes relative imports of other generated modules, for example the `department_pb2.py` file includes this line:
[code]
This fails in Python 3, which requires relative imports to be explicit:
[code]
I'm new

[2019-05-27 03:39] fire opened #344 "Anyone inside the trusted lan is able to submit jobs."
**Describe the bug**
The entire cluster must be in a trust lan. This means anyone inside the lan is able to submit, edit and view jobs.

**Expected behavior**

User based and openid based authentication.

[2019-05-27 07:55] salvaom commented on #315
For the division, it should be possible to add `from __future__ import division` at the top of the file with `sed` to make it behave like in Py3.

About the imports in the compiled proto, as far as I remember it was something along letting the compiler know where is the actual root of the package. There is an issue that talks about it: https://github.com/protocolbuffers/protobuf/issues/1491#issuec

[2019-05-27 11:34] donalm commented on #315
Thanks  @salvaom - let me reply to your suggestions separately:

Briefly - `from __future__ import division` would introduce the Python 3 behaviour to Python 2, but I'm afraid this is the opposite of what we want. Our goal is to _preserve_ the behaviour of the code while making it work under Python 3.

Python 3 changes the behaviour of the `/` operator, which is a problem because many variables th

[2019-05-27 11:45] donalm commented on #315
On the protocol buffers question - you link to the issue that I referenced in the first line of my comment,

...and I did test the approach outlined in the specific comment you linked to, but I was unable to make it work.

If I remember correctly, when I arranged the `.proto` files into a `compiled_proto` subdirectory, the compilation failed because `department` was unable to import `task`.

It mi

[2019-05-28 20:47] gregdenton commented on #315
@donalm, We have run into the compiled proto gRPC import error from [protobuf issue 1491](https://github.com/protocolbuffers/protobuf/issues/1491).  If you look into the `pyoutline/Dockerfile` line 42, you'll see that a similar sed command was used to allow for python 3 imports.

The division difference is an interesting one. I would probably start with replacing all `/` with `//` to maintain code

[2019-05-28 20:51] gregdenton opened #345 "Unit tests for RQD"
**Describe the enhancement**
RQD currently has very limited testing capabilities. We should expand it's test coverage with unit tests.

**Screenshots**
NA

**Version Number**
0.2.31

**Additional context**
Referenced in #315

[2019-05-28 21:13] gregdenton commented on #344
Somewhat linked to #218

[2019-05-28 21:46] bcipriano commented on #315
Yeah, like Greg said we've been using that same `sed` hack. It's horrible but it was the best solution we found at the time. Definitely open to other solutions if anyone has suggestions.

Re: division, the way I handled that for other components was to just go one by one through instances of division in the code, try to understand the intent of the original code, and replace with the correct opera

[2019-05-28 22:52] bcipriano commented on #343
Yep, you're right -- pretty much all of our testing scenarios assume that some data has been prepopulated.

Thanks for the report.

[2019-05-28 23:46] bcipriano commented on #344
Also related to https://github.com/imageworks/OpenCue/issues/150 -- supporting a non-trusted network would require proper encryption on gRPC.

[2019-05-30 10:01] sharifsalah commented on #302
Fixed in https://github.com/imageworks/opencue.io/pull/21

[2019-05-30 10:01] #302 closed

[2019-05-30 10:02] sharifsalah commented on #308
pycuerun reference added in https://github.com/imageworks/opencue.io/pull/40

[2019-05-30 10:02] #308 closed

[2019-05-30 16:12] sharifsalah commented on #310
Thanks, a docs label would be very useful for both this repo and opencue.io.

So thinking about this a bit more, I'm wondering if it might be good to separate out docs issues for both projects along the following lines:

- Issues related to docs generated from the OpenCue code base, such as API reference docs, command help pages, and README files would live under the OpenCue repo.
- Issues related

[2019-05-31 22:35] #220 closed

[2019-06-01 10:45] donalm opened #349 "rqd/rqd/rqmachine.py references /usr/local/spi/rqd3/cudaInfo"
It's hardcoded in a method. We could drop that path into a config file somewhere, but it seems like it's a custom script anyhow so might need replacing.

[2019-06-01 13:14] donalm opened #350 "Possible magic number in rqd"
It looks like 1200 may be a magic number in `rqd/rqd/rqmachine.py`:
[code]

[2019-06-03 11:32] bcipriano commented on #350
Thanks @donalm.

FTR this is https://github.com/imageworks/OpenCue/blob/3a6a59f1c2a61fa0658acfdf7433403117cf44b4/rqd/rqd/rqmachine.py#L461

This also applies only to Windows hosts so should probably be dealt with in https://github.com/imageworks/OpenCue/issues/61.

Looks like core-count > 12 triggers some hyperthreading-esque behavior... I assume this is pretty old code so we'll have to test this

[2019-06-03 11:44] bcipriano commented on #310
I'm torn on this one. I understand your reasoning and your idea for how to divide issues between repos makes sense. On the other hand I see it getting very confusing having two separate issues lists. The added burden to triage/assign issues in a second repo might mean that some issues (opencue.io ones, specifically) get missed.

Apparently there is no `OR` search operator in Github (https://stacko

[2019-06-04 13:52] sharifsalah commented on #310
I tested the way Docsy is configured and while we can configure the

[2019-06-10 09:57] bcipriano commented on #310
Yes, seems very likely that users will do this.

Of these, (1) feels most helpful.

(2) feels like it will be either ignored or scare some folks away. Filing bugs is already unfamiliar territory for non-technical folks and adding a decision point here feels like it raises the barrier to entry perhaps too much. (As opposed to (1), which still adds a decision but it's graphical -- easier to convey o

[2019-06-11 10:27] sharifsalah commented on #310
Great, thanks for the feedback. Agreed that (1) is likely to be helpful and worth trying. I don't think we have enough data either way to determine the impact of (2) but no urgent need to experiment for now. Also agreed that (3) could be unreliable in the long term.

I've staged a preview of what (1) could look like at: (the right-hand page links, above the table of contents)

https://5cfe8ee8834e

[2019-06-11 15:31] sharifsalah commented on #309
Next step is to update the links to point at the new repo URL:

https://github.com/AcademySoftwareFoundation/OpenCue/

[2019-06-11 15:48] bcipriano commented on #310
LGTM! The points you mentioned don't bother me much.

[2019-06-13 13:01] sharifsalah commented on #329
Fixed in https://github.com/AcademySoftwareFoundation/OpenCue/pull/347

[2019-06-13 13:01] #329 closed

[2019-06-13 14:53] sharifsalah commented on #310
Great thanks. After I heard back from you, I reached out to the Docsy team and they would very much like me to contribute the change to that project so that the wider community can benefit (everyone seems to agree the current UX is confusing).

Rather than apply it to opencue.io and then Docsy and then remove it from opencue.io (to replace it with the Docsy version), if it's OK with you, I'm just

[2019-06-13 17:20] sharifsalah commented on #330
I did a quick test with a dummy page and it looks like after a page is deleted, GitHub redirects to the home page fo the Wiki.

So, I'll delete the non-Home pages of the Wiki and replace the home page with the following:

For information on OpenCue, including installation guides, user documentation, and release notes, visit www.opencue.io.

[2019-06-14 08:38] bcipriano commented on #310
Sounds great! Love to see us contributing back to other projects already.

[2019-06-14 08:56] bcipriano commented on #330
SGTM

[2019-06-14 10:14] sharifsalah commented on #330
This is now completed.

[2019-06-14 10:14] #330 closed

[2019-06-14 10:17] sharifsalah commented on #309
Fixed in https://github.com/AcademySoftwareFoundation/OpenCue/pull/353.

[2019-06-14 10:17] #309 closed

[2019-06-14 16:05] sharifsalah opened #358 "Add OpenCue repo topics and update description"
To improve discoverability of the OpenCue repo, we could add some topics. See for example the [list of topics for Agones](https://github.com/googleforgames/agones), such as `game-development` and `multiplayer`. For OpenCue, topics such as the following might be useful:

- visual-effects
- vfx
- fx
- animation
- aendering
- game-development

To improve discoverability of the OpenCue website, we cou

[2019-06-17 23:06] boberfly opened #360 "Package LICENSE file and fine-tune requirements.txt per-module"
**Describe the enhancement**
I have just made GafferOpenCue in which I only really need the pycue and outline modules, however they don't come with the LICENSE file to package with, so I chose to just get the source code directly and only copy over the 2 modules out manually.

With the requirements.txt can this be more fine-tuned to the actual dependencies of the modules? I don't want to pull down

[2019-06-19 21:12] gregdenton opened #361 "Integrate with Houdini PDG"
Create a custom scheduler integration with Houdini's PDG dependency graphs. Talk with SideFX to get support out of the box with the default TOP node.

[2019-06-19 22:19] gregdenton commented on #361
SideFX's PDG scheduler doc:
http://www.sidefx.com/docs/houdini/tops/schedulers.html

[2019-06-22 14:43] donalm opened #364 "rqd: typo: os.getegid should be os.geteuid"
If I understand correctly, this may be a typo:

https://github.com/AcademySoftwareFoundation/OpenCue/blob/0742615acaeaa6bfa52e2c165457c4a451b55260/rqd/rqd/rqutil.py#L112

As opposed to:
[code]

[2019-06-27 14:14] donalm commented on #104
How should I create a single layer to run only one task for an entire frame range - say for example I want the last layer of my job to run one process that consumes all the frames rendered in the previous layer to:
- generate a movie from rendered frames or
- publish frames or
- cat and bzip the frames for transfer

I guess I can:
- set the 'frame spec' to 1
- assign the 'postprocess' service to t

[2019-06-27 18:04] gregdenton commented on #104
Hi @donalm.
Yes, the approach you describe is the current best practice. Are you using outlines for the job submission? It is a little more manageable baking the command with frame range in the outline file, but as you point out still not ideal.

[2019-06-27 18:12] donalm commented on #104
I just started testing again with CueSubmit - my wee module for submitting via Outlines has suffered from bit rot but sure I'll get that running again in the next day or two.

Thanks @gregdenton - we're still at a fairly early/loose stage of testing so I'm not too stressed about a few rough edges at this stage.

[2019-06-28 08:29] Eiken commented on #196
Just curious if there has been any work on this?

[2019-06-28 14:20] donalm opened #365 "CueSubmit doesn't honor the supplied 'Chunk Size' value"
Jobs submitted with CueSubmit don't display any value for 'Chunked' in their frame range, where as jobs submitted directly with Outline do.

The value is being set to a literal `None` in the code.

[2019-07-01 22:43] #365 closed

[2019-07-03 15:50] donalm commented on #104
Might be some overlap here with #83

[2019-07-03 23:21] bcipriano commented on #196
To @gregdenton for an update.

[2019-07-03 23:51] gregdenton commented on #196
Sorry we haven't been able to get to this feature earlier, it's something that I think is very needed.

We've mapped out an addition that basically allows for arbitrary limits to be assigned to job layers. These limits would be taken into consideration in the scheduler so any frame that attempts to run where the limit is maxed out will be skipped in that scheduling pass. This will allow for both l

[2019-07-05 10:49] donalm opened #368 "Can't submit a job with dependencies"
When I try to submit a job with two layers, with either a frame or layer dependency I get this error:
[code]

A bit of digging reveals that the XML fragment received by Cuebot has a problem:
[code]
The 'anyframe' value is added in the `build_dependencies` method in `outline/backend/cue.py`:
[code]
Looks innocuous, but `str` is imported from builtins, so it's of type `future.types.newstr.newstr`.

[2019-07-08 13:00] tobkum commented on #312
Has this been placed on the roadmap? We would like to switch to OpenCue, but the UX for the artists should be as seamless as possible.

[2019-07-08 18:48] gregdenton commented on #364
I'm uncertain about the history of this. At first glance, I agree that it appears that we should be comparing `egid` to `gid` and `euid` to `uid`, but I'm assigning this over Robert to see if there's any historical reason behind this.

[2019-07-09 07:31] FudunTian opened #371 "Failed to specify the host names HostGetHostsResponse has no len()"
**Describe the bug**
Get an error when trying to specify a host

[> sh-4.2$ cueadmin -host 192.168.5.174 -v
DEBUG opencue setting new server hosts to: ['vmopencue.domain.com']
DEBUG:opencue:setting new server hosts to: ['vmopencue.domain.com']
DEBUG opencue connecting to gRPC at vmopencue.domain.com:8443
DEBUG:opencue:connecting to gRPC at vmopencue.domain.com:8443
DEBUG opencue connecting to gRPC

[2019-07-09 08:41] FudunTian commented on #371
It seems like opencue.search.HostSearch.byName() return a dict, it shoud be a list.

[2019-07-09 16:49] jafoulds opened #372 "QThreads not terminating properly in cuegui"
**Describe the bug**
If you exit cuegui using the "Exit Application" option in the "File" dropdown from either Cuetopia or CueCommander, it will cause the application to produce the following error message:

QThread: Destroyed while thread is still running
Aborted (core dumped)

**To Reproduce**
Steps to reproduce the behavior:
1. Launch cuegui from a terminal
2. Select the file dropdown in the to

[2019-07-09 19:45] bcipriano commented on #312
It is definitely on the roadmap and one of the first new plugins we would like to see added. I don't really have an ETA to share though -- dev schedules are hard to pin down unless we get a volunteer who wants to take a stab at writing it.

[2019-07-09 22:59] bcipriano commented on #360
Hi, sorry for the delayed response.

Just so I understand this -- you're looking to have the base `LICENSE` file included where? In the downloads published on our Releases page?

I think we should be doing this anyway, but just out of curiosity -- is there some tool you're using that's requiring `LICENSE` to exist?

Our purpose with having a single `requirements.txt` is to ensure that all componen

[2019-07-10 01:41] boberfly commented on #360
Hey @bcipriano not a problem,

Yeah just the `LICENSE` file in each tarball or at least in the pycue tarball, it is just so it is credited correctly and to follow the license requirements as I was planning to just bundle pycue+pyoutline with GafferOpenCue from the tarballs directly, instead of source.

That `requirements.txt` and `requirements_gui.txt` idea would be perfect!

Cheers

[2019-07-10 02:21] bcipriano commented on #371
Thanks for the report! You're right -- HostSearch was return the gRPC response class instead of wrapping it in our native python classes instead, which is what the calling code expected.

PR attached with a fix.

[2019-07-10 04:29] FudunTian opened #374 "Error at launching nuke submit plugin"
Can not launch nuke submit tool.

    <bash
        python /srv/scratch/workspace/workspace/DDP_REZ/opencue_nuke/0.0.1/nuke/CueNukeSubmit.py --file /dd/cgserver-02/___TEMP/Isaac/test.nk --nodes Write1

Error：

    Traceback (most recent call last):
    File "/srv/scratch/workspace/workspace/DDP_REZ/opencue_nuke/0.0.1/nuke/CueNukeSubmit.py", line 105, in <module>
    main(args.file, args.nodes)

[2019-07-10 13:35] #374 closed

[2019-07-10 19:28] bcipriano commented on #358
I've added an initial batch of tags and updated the description. @gregdenton added the website link already.

[2019-07-10 19:28] #358 closed

[2019-07-11 21:01] bcipriano commented on #337
@gregdenton I know you've made some progress on this, is it done?

[2019-07-11 21:02] bcipriano commented on #338
`opencue.search`'s `byOptions` calls are an example of this.

#373 fixes this for `HostSearch`, but we should fix the others too.

[2019-07-11 21:03] #371 closed

[2019-07-11 21:23] sharifsalah opened #377 "Update CONTRIBUTING"
**Describe the process**
A clear and concise description of the action needing to be taken.

I *think* the CLA section of CONTRIBUTING.md needs updating as the links look like they haven't been updated to reflect the migration to the ASWF?

[2019-07-11 21:25] gregdenton commented on #337
There are a few wrapper still needed:
* Facility
* Department
* RenderPartition
* UpdatedFrames
* ServiceOverride

[2019-07-11 21:41] bcipriano commented on #372
Thanks @jafoulds!

Have you noticed any other side effects, or just the error message?

[2019-07-11 22:08] jafoulds commented on #372
You're welcome!

Not that I can notice. I did not notice that if you set the value in the following function call in cuegui/Main.py to 0, you do not have this issue:

QtGui.qApp.threadpool = cuegui.ThreadPool.ThreadPool(3)

So the issue may be stemming from there.

[2019-07-15 04:35] FudunTian opened #378 "Opencue rely on protobuf package has conflicted with protobuf in nuke"
Opencue and nuke both rely on package protobuf ,
but protobuf in nuke does not have symbol_database.py.
So when you try to run
`from google.protobuf import symbol_database`
It will cast an error.

[2019-07-15 06:02] FudunTian commented on #378
And this command will cause nuke crash
` from google.protobuf.pyext import _message`
` _USE_C_DESCRIPTORS = getattr(_message, '_USE_C_DESCRIPTORS', False)`

[2019-07-15 19:39] gregdenton commented on #378
Nuke uses the global namespace to import the protobuf libraries and unfortunately the import happens very on in the application startup, so there's no ability to try and import anything else. With our own nuke submission plugin we resorted to having to shell out to a separate python process in order to load the proto 3 libraries.

What version of Nuke are you using?

Another user mentioned that th

[2019-07-15 21:25] #328 closed

[2019-07-16 02:47] FudunTian commented on #378
I am using Nuke 11.0.3

[2019-07-16 16:38] tobkum commented on #312
Can you give a hint on where to start? I'm just talking about Blender support in CueSubmit standalone, not a Blender addon for now.

[2019-07-16 17:23] lgeertsen commented on #192
Hi,
I'm trying to launch the script from @donalm , but I get the following error:
[code]

Any idea what the problem could be?

[2019-07-16 18:40] donalm commented on #192
Hey @lgeertsen - could you be seeing [this other bug](https://github.com/AcademySoftwareFoundation/OpenCue/issues/368)?

[2019-07-17 08:49] lgeertsen commented on #192
@donalm Yes that was the error. I used the release package, that's why i still had the error.
I've build now from the latest git version and it works :smile:

[2019-07-17 09:26] donalm commented on #192
Nice! Thanks for following up.

[2019-07-17 18:13] j4qfrost commented on #61
I ran into an issue where the protobuf imports weren't being found on Windows and resolved the problem by adding `from .` to the front of each line. Is there a path variable I needed to set?

[2019-07-18 21:18] bcipriano commented on #61
Hi @j4qfrost, are you running the code from a release or from a Git checkout? Python 2 or 3?

It sounds like you are hitting the problem described by this fix:
https://github.com/AcademySoftwareFoundation/OpenCue/blob/44a7804b185e2a58e409c4603e5b04376a0eb2f8/pycue/Dockerfile#L45

This should be fixed automatically in the official releases which are built via these Docker files but if you're compil

[2019-07-18 21:22] bcipriano commented on #192
Thanks all. We'll make sure to cut a new release soon.

[2019-07-18 21:28] gregdenton commented on #312
Hi Tobias,

I went ahead and put together a very simple Blender option in CueSubmit
standalone that I'm hoping should help get people started. It requires a
user populate the blender file field, and can also specify frame range and
output path/format. Those are the only controls that have been exposed
though. By default it assumes that 'blender' is in your PATH env var, if
not you can override the

[2019-07-18 21:37] bcipriano commented on #312
Thanks Greg!

Once that #381 is merged, the next step here would be to build a Blender plugin that automates filling in these fields. The [Maya plugin](https://github.com/AcademySoftwareFoundation/OpenCue/blob/master/cuesubmit/plugins/maya/CueMayaSubmit.py) should serve as a good template for this -- it does the same thing.

[2019-07-19 06:43] j4qfrost commented on #61
I had checked out v0.2.31 for stability since I was having issues with the master branch initially. Linux compiled fine. It took me a while to figure out how to fix such a trivial problem. I was looking for a bit less of a hacky solution, but beggars can't be choosers.

[2019-07-19 10:53] FudunTian opened #384 "How to relocate the log file save path"
I am trying to mount a NFS server to save all log files.
But somehow, rdq just can not create folders for each project, no permission to wirte.
Even I already chmod to 777
Here is my NFS config,

And, one more thing, on the linux side people seems like need root permission to run rqd, is there any way to make normal user run rqd？

[2019-07-19 16:22] gregdenton commented on #384
Hi,

You can override the parent directory for the render logs by setting
the CUE_FRAME_LOG_DIR
environment variable on the machine running cuebot. You can also edit this
value in the cuebot properties file:
./cuebot/src/main/resources/opencue.properties.  In either case, restart
the cuebot process after editing the environment variable or file.

It's normally best to run RQD as root, so that it c

[2019-07-20 06:03] FudunTian commented on #384
Thank for your reply, one more question, what is kind of user that opencue use to write log ? It keep say log file not exists, drive me crazy.

[2019-07-25 21:23] gregdenton opened #389 "Expose RPC enums in pycue"
Expose gRPC enums like `JobState` in pycue wrappers for easier access.

[2019-07-25 21:24] gregdenton opened #390 "RQD leaving defunct child processes when run in Docker container"
The docker version of rqd runs the rqd.py script as PID 1, and the script is not prepared to handle defunct childrens, therefore leaving one defunct registry per job execute by rqd.

One easy fix would be to change the entrypoint to "/bin/bash -c set -e && /opt/opencue/install_and_run.sh" but this can cause unintended behavior on "docker stopping" the rqd containers

[2019-07-25 22:49] bcipriano commented on #61
Yeah, it's a horrible hack. We're looking to see if there's some other way we can resolve this.

[2019-07-25 22:58] #377 closed

[2019-07-26 01:47] bcipriano opened #395 "Configure SonarCloud analysis"
Per CII badge requirements, we should set up static analysis of applicable code. For our Java code, ASWF's preferred solution is SonarCloud, and we plan to go with that.

This issue includes:
- Initial SonarCloud setup.
- Integration with the CI system (likely not run along with every build, but on a daily schedule).
- Fixes for the first round of issues it detects (once we're satisfied with the i

[2019-07-26 01:50] bcipriano commented on #149
CueGUI is the only remaining piece here that is still test-less.

Other components' coverage ranges from terrible to very good, but that's a separate issue.

[2019-07-26 01:52] bcipriano opened #396 "Improve unit test coverage"
Test coverage for the various OpenCue components is all over the place, but the average is likely poor. For developer confidence as well as CII requirements we need to improve this.

First step is to measure our current coverage across the board. Then we can identify the least-covered pieces and start to bring the average up.

[2019-07-26 01:53] bcipriano commented on #345
Closing this in favor of more general issue https://github.com/AcademySoftwareFoundation/OpenCue/issues/396

[2019-07-26 01:53] #345 closed

[2019-08-02 17:56] gregdenton commented on #396
It looks like CII requirements don't specify a strict target coverage. Should we

[2019-08-05 20:47] gregdenton opened #399 "CueGui edit subscription size and burst size changes values"
When editing a subscription size or burst size in CueGui, the value input is multiplied by 100. This is confusing to users, the value input should be the value stored.

**To Reproduce**
1. Open CueGui
2. Load the subscriptions widget
3. Edit the subscription size
4. Notice the value stored is not the value input

**Expected behavior**
The input value should be the value stored

[2019-08-05 21:04] #389 closed

[2019-08-05 22:19] #399 closed

[2019-08-05 22:39] gregdenton opened #401 "Get and Find methods should raise EntityNotFoundException"
When calling pycue `get` or `find` methods, it should return an `EntityNotFoundException` when no objects are found.

**To Reproduce**
Steps to reproduce the behavior:
1. import opencue
2. opencue.api.getJob('jobthatdoesntexist')
3. throws a generic CueInternalErrorException

**Expected behavior**
This should throw an `opencue.exception.EntityNotFoundException`

[2019-08-05 22:39] gregdenton commented on #401
Also pycue tests should check for correct exception handling.

[2019-08-05 22:52] bcipriano commented on #396
Yeah, good question -- like a lot of the CII "requirements" it's left intentionally vague, with the understanding that all projects are different and that the CII badge operates mostly on honor system when project owners are filling out the form.

I'll ask at the next ASWF CI working group meeting in a few days, to see what others have landed on.

[2019-08-07 01:18] bcipriano commented on #396
Initial results are...
Cuebot = ~50% coverage
Python = ~24% coverage

The SonarCloud project has the results listed. For example to view a list of the biggest Python culprits:

https://sonarcloud.io/component_measures?id=bcipriano_OpenCue&metric=uncovered_lines&view=list

[2019-08-07 01:21] gregdenton commented on #396
Thanks @bcipriano! It's great to see the report!
I'm not surprised by the total lack of cuegui coverage, but this definitely shows the immediate need for improvement in rqd.

[2019-08-07 01:24] bcipriano commented on #396
For sure. Here's the breakdown by component, pretty interesting:

- cueadmin 73.7%
- cuegui 0.0%
- cuesubmit 24.6%
- pycue 80.2%
- pyoutline 70.4%
- rqd 28.1%

Most of those aren't bad! Agreed with the priorities you listed. Cuesubmit is low but a relatively small codebase so I'm not too worried about that one.

[2019-08-07 01:25] bcipriano commented on #396
CueGUI also has roughly 10x lines of code as the next nearest component, so that's dragging the numbers way down right now.

[2019-08-07 02:09] pundy commented on #196
Hi All,
This is a feature that I am eagerly awaiting, as it is a show stopper for us.

Will the user defined limits be able to be driven from external to Cue?  Our current farm implementation (not cue) has some custom service that queries appropriate numbers from our various license servers, and then drives license limits/consumables internal to the farm.  This way we can constrain our farm utilis

[2019-08-07 23:39] gregdenton commented on #196
Hi Anthony,

We should have limits rolled out soon, but it will only work with static
limit values. So no direct integration with 3rd party license servers.
It will be possible though to use the python api to setup this up yourself,
where you can create a cron job that periodically checks the license
servers and updates the license limits in cuebot.

I'm curious if you run into problems with your

[2019-08-08 00:32] pundy commented on #196
Hi Greg.
Python API to set the limits should be fine, as long as we can adjust them on the fly.  For a project such as Opencue, integration with the many different license servers used with the various vendor tools in probably untenable, but as long as there is some API to set the numbers, it should be ok.

In our current system we use a daemon based on the 'Oleson' based adjuster which is constan

[2019-08-08 00:54] gregdenton commented on #401
Tests for this still need to be added as part of #396.

[2019-08-08 13:04] g-LuL opened #409 "cueadmin : error when creating a show"
Hi,
I try to create a show with cueadmin and the command return an error. My database is freshly populated with released sql schema.

My command :
`cueadmin -server localhost -create-show myShow`
`Please confirm. Create new show myShow? [y/n] y`

`Error: Server caught an internal exception. Show could not be created.Incorrect result size: expected 1, actual 0.`

Opencue : 0.2.65
Cuebot and Postgre

[2019-08-08 18:35] #390 closed

[2019-08-09 09:58] larsbijl commented on #360
Splitting the requirements sounds good. In our case, we are packaging with rez and would want to split all the packages.

[2019-08-15 09:26] archanasingh16 opened #413 "Non-existent users can submit a job"
For scenarios with render farm users managed by active directory, this is inconsistent.
Would expect the user ids to be validated against valid users

[2019-08-15 18:11] gregdenton commented on #413
This somewhat related to #218
We'll probably want to make this a configurable option to enable/disable, some environments may not have all users sync'd. I feel this check should happen in cuebot upon job submission. If the provided user does not exist, the job is rejected and an error is returned to the user.

[2019-08-16 16:10] larsbijl opened #416 "Creating new service through cuegui fails"
**Describe the bug**
When creating a new service using cuegui the follow error message shows when clicking save.
[code]

**To Reproduce**

1. in cuegui create a new service for `mantra`.
2. hit save.

**Expected behavior**

A new service object to be created in cuebot.

[2019-08-16 16:17] larsbijl commented on #409
Hey @g-LuL

Can you try using the fqdn of your machine instead of localhost?

[2019-08-16 21:31] gregdenton commented on #416
Thanks for reporting this! A fix and cleanup is in review now.

[2019-08-19 15:16] larsbijl opened #418 "ImportError: cannot import name _server"
**Describe the bug**

When running rqd or other modules that use `rqutil` a import error will occur.

[code]

**To Reproduce**

I've seen this behaviour is both our rez install and in a virtualenv install.

**Expected behavior**

If comment out `rqutil.permissionsLow()` `from rqd.__main__` it works correctly.

[2019-08-19 15:23] larsbijl opened #419 "Modify resource options from GUI doesn't propagate correctly."
**Describe the bug**

Properties don't roundtrip correctly through the cuegui layer properties modal

**To Reproduce**
Steps to reproduce the behavior:
1. Submit job with 4 cores.
2. in cuegui I select a layer and select `properties`.
3. Don't modify any values and hit save.
4. Job now says 1 cores.

**Expected behavior**

Job should still have 4 cores as it did show correctly in the `Min Threads`

[2019-08-19 15:39] larsbijl commented on #416
when applied.

[code]

[2019-08-19 15:52] larsbijl opened #420 "RQD hardcoded HOME location"
**Describe the enhancement**
https://github.com/AcademySoftwareFoundation/OpenCue/blob/master/rqd/rqd/rqcore.py#L79

Maybe this could be part of https://github.com/AcademySoftwareFoundation/OpenCue/issues/218

Currently, we have to modify this in our RQD.

[2019-08-19 17:45] gregdenton commented on #416
Hi Lars,

I'm unable to reproduce the error you are seeing after applying the changes
from 416-create-service-bug branch.
I'm launching cuegui, hitting the new button in the service widget,
populating the new service name, and then hitting save. Are you using a
different flow?
Could you provide the complete traceback you are seeing?

Thanks,
Greg

On Mon, Aug 19, 2019 at 8:39 AM Lars van der Bijl

[2019-08-19 19:25] bcipriano commented on #418
I believe I've seen this behavior when the gRPC version doesn't match the version used to compile the proto files.

Where do your compiled proto files come from? Can you check that the gRPC version in that workflow matches the version in your runtime environment?

[2019-08-19 22:44] sharifsalah opened #422 "Link from releases to the docs"
**Describe the process**

Going forward, could we add links from the notes for each release to the started getting documentation. Either one or both of the following:

- https://www.opencue.io/docs/getting-started/
- https://www.opencue.io/docs/concepts/opencue-overview/

[2019-08-19 23:44] gregdenton opened #424 "GUI tests for cuesubmit"
SubIssue of #396

Add unit tests for the GUI widgets and functionality in cuesubmit.

[2019-08-20 09:12] larsbijl commented on #418
I'm using pre-compiled proto files but I did re-create the virtualenv based on the requirement.txt into rez packages. I will verify these version match.

[2019-08-20 09:14] larsbijl commented on #416
Hey Greg,

This could be an issue with breaking out he packages into rez. I will investigate if I see the same issues with the patch applied into a virtualenv.

[2019-08-20 18:54] bcipriano commented on #422
@sharifsalah I updated the most recent release, how does this look? https://github.com/AcademySoftwareFoundation/OpenCue/releases/tag/0.2.65

If that works, I'll modify our release pipeline to do this automatically going forward.

[2019-08-20 20:04] sharifsalah commented on #422
Look good, thank you.

One very minor note to mention that if this was a doc, I would recommend rewording slightly for style to:

To learn how to install and configure OpenCue, see the Getting Started guide.

I don't think it sticks out too much in the release page. Arguably as this is a community project, it's kind of friendly. That could work well in a repo, so up to you if you want to keep it a

[2019-08-21 19:56] bcipriano opened #425 "Add a user permissions model"
**Is your feature request related to a problem? Please describe.**
OpenCue does not currently provide a method for managing user permissions within a deployment. Any users with access to the deployment have full access to the deployment, including the ability to run jobs anywhere. For many users this is not acceptable -- they will need to selectively provide access to users at various levels -- fa

[2019-08-21 19:57] bcipriano commented on #218
As part of this feature, we should implement a check which blocks use of the system for users that do not exists.

In order to preserve the current behavior for users who prefer the current fully-trusted system, we should provide a "create users if they don't exist" type of option.

[2019-08-21 19:58] bcipriano commented on #413
I added a note to #218 to cover this.

[2019-08-21 19:58] #413 closed

[2019-08-21 23:53] bcipriano commented on #422
Yes, we really need a guide on upgrading an OpenCue deployment. I think @gregdenton had some stuff in progress around database upgrades, maybe we can use that as a starting point.

[2019-08-21 23:55] bcipriano commented on #422
I've updated our release pipeline to add this text to future releases.

[2019-08-21 23:55] #422 closed

[2019-08-22 21:52] gregdenton opened #426 "Sandbox environment"
Allow users to setup an easy to deploy sandbox environment using docker-compose.

[2019-08-22 23:46] #426 closed

[2019-08-22 23:48] gregdenton opened #428 "Run sandbox env as release sanity check"
Add a step to the release process to standup a sandbox env and run any sanity checks on it. This can run e2e tests to validate the release.

[2019-08-22 23:49] #419 closed

[2019-08-23 05:53] meimchu opened #429 "Add layer.data.chunkSize method"
**Describe the enhancement**
I would just like to add a method call to get the layer.data.chunkSize property. I can create a pull request adding that method myself if allowed. Thanks!

[2019-08-23 17:48] gregdenton commented on #429
Thanks for creating this issue. We welcome any PRs and would appreciate your contributions.
Please take a look at our Contributing Guide and you'll also need to agree to the ASWF CLA before we can merge in any changes.
https://github.com/AcademySoftwareFoundation/OpenCue/blob/master/CONTRIBUTING.md

Thanks!

[2019-08-23 18:53] gregdenton commented on #416
Sorry, this was auto closed when I submitted a PR. Please let me know if you are still running into this issue.

[2019-08-23 18:55] gregdenton commented on #419
Hi Lars, this was a bug with CueGui not treating core counts as percentages internally, so all values essentially were rounded to 1 core. It has been fixed in the PR #423.

[2019-08-24 13:21] donalm commented on #418
I think Lars has identified the problem. When rqd starts up it prints a warning:
[code]

I guess it's just a permission error, so for example even this should fail:
[code]
Not related to the proto compiler version or anything too esoteric I think.

[2019-08-24 13:48] larsbijl commented on #418
Thanks Dónal. that fixed it.

[2019-08-24 13:48] #418 closed

[2019-08-24 22:08] bcipriano commented on #418
Thanks @donalm!

[2019-08-26 14:48] sharifsalah opened #430 "Import error when running docker compose for sandbox"
**Describe the bug**
An import error occurs when running the docker compose command to start the new sandbox:

Output truncated:

[code]

**To Reproduce**

Follow the steps of the README for the sandbox environment:

https://github.com/AcademySoftwareFoundation/OpenCue/blob/master/sandbox/README.md

The problem occurs when running the following command:

`$ docker-compose --project-directory . -f

[2019-08-26 17:52] sharifsalah commented on #430
Thanks @gregdenton.

I increased the memory allocation for Docker to 6GB and made more progress. (Thanks for the reminder about the memory requirements - I think this is actually the first time I've tried running RQD and Cuebot on a Mac).

I'm not sure what the output is supposed to look like for docker-compose. My output is stuck on:

[code]

I have some other comments / questions about running C

[2019-08-27 01:35] cwrightce opened #431 "cuerqd lock and unlock host flags misbehaving"
**Describe the bug**
Using cuerqd's --lh and --ulh flags would appear to not correctly lock and unlock cores on blades

Additionally, cuerqd looks to default to 'localhost' instead of using something like reverse DNS or polling cuebot to find out it's hostname, and as such it always needs the $HOSTNAME arg passed to it.

**To Reproduce**
Using...

$ cuerqd $HOSTNAME --lh

..successfully locked the

[2019-08-27 10:30] larsbijl commented on #416
Likely this is me using rez instead of a Virtualenv. let's close for now

[2019-08-27 10:30] #416 closed

[2019-08-27 16:19] sharifsalah commented on #430
Thanks again!

Bearing in mind, I'm testing this on a vanilla machine, I had to run through a few more steps:

[code]

I was thinking of sending you a PR to add a simple shell script to automate all of this for *nix platforms. It would be good to cut down the number of steps required to start the sandbox.

What do you think?

[2019-08-29 12:49] #430 closed

[2019-08-31 00:26] donalm opened #433 "Incorrectly named method called: get_recent_pgout_rate"
[code]

The method is defined in rqswap.py
[code]

[2019-09-02 15:21] g-LuL commented on #409
Hi @larsbijl
Sorry for the late answer.
Using the fqdn of my machine ends with the same result :(

[2019-09-03 17:24] gregdenton commented on #409
Hi @g-LuL,
Do you see any other errors in the cuebot or postgres logs? A couple of things that may be causing problems...

1. Verify that the initial "demo data" was written to postgres db. Verify that all steps completed properly when running the "Populate the Database" steps from the install guide. https://www.opencue.io/docs/getting-started/setting-up-the-database

1. Verify that the DB user/pa

[2019-09-04 08:31] g-LuL commented on #409
I can see cuebot warnings as mentioned in my first comment.
No postgres issue when i try to create a show.

I have written the other sql schema schema-0.2.65.sql. Is it important to write the demo data instead of the schema ?

I have no error like this.

cueadmin -server localhost -ls is working fine (but i have an empty list because of missing demo data)
`Show     Active   ReservedCores   Running

[2019-09-04 11:20] sharifsalah opened #436 "Outline job in the OpenCue sandbox"
**Describe the bug**
I am not able to run a very simple outline file from the OpenCue repo on Debian.

**To Reproduce**
Steps to reproduce the behavior:

I followed the instructions to install the OpenCue sandbox on Debian 9 stretch.

I had to add a couple of additional steps (which I'll eventually add to the sandbox README):

[code]

I then ran the following command from the OpenCue directory:

[

[2019-09-04 20:00] sharifsalah commented on #436
In case it's related, I noticed the following line in the default `pyoutline/etc/outline.cfg`:

[code]

[2019-09-04 22:09] gregdenton commented on #409
Thanks for the responses. Both the schema and the demo data need to be applied to the database. The schema is merely defining tables and the demo data adds some necessary rows to help get everything up and running.  Please try applying the demo data to the database and I believe you should be good once that has been setup.

`psql -h $DB_HOST -f <path to demo_data SQL file> $DB_NAME`

I think this

[2019-09-04 23:30] gregdenton opened #437 "Cleanup and remove testMode from rqd cuebot code"
Look at `com.imageworks.spcue.rqd.RqdClientGrpc`, the `testMode` functionality should no longer be needed. Verify it is safe to remove and remove it along with all callers in the unittests.

[2019-09-05 01:09] #431 closed

[2019-09-05 01:12] gregdenton commented on #431
@cwrightce, I've pushed a change that fixes the problems on my end. There were a number of issues with the locking behavior where rqd and cuebot would not communicate the state of the host properly. The localhost behavior should be working fine now as well.

[2019-09-05 01:32] gregdenton opened #438 "Database installer script"
When installing and setting up the database, there are numerous steps that can go wrong. It would be nice to have an installer script to guide you through the database install and configuration. This same script could also be used to update and apply migrations to existing databases.

[2019-09-05 02:19] bcipriano commented on #409
Yeah, agreed -- a script/tool to assist with this setup would be great. Even better, the same tool could assist with ongoing db maintenance e.g. applying schema migrations.

We should be able to do this in such a way that keeps it obvious what's going on under the hood, as many folks will prefer to do things by hand. Dockerfiles are a good example here -- automated by default, but easy to extract

[2019-09-05 07:17] g-LuL commented on #409
Hi @gregdenton
Indeed, applying the demo data solved the issue. I'm now able to create shows.
Thanks :)

[2019-09-05 07:17] #409 closed

[2019-09-05 09:52] cwrightce commented on #431
Fantastic. Thanks Greg.
This probably isn't the right place to ask, so feel free to tell me to ask elsewhere, but I'm guessing this  commit will end up in the next release? ...and if so, when is that next release expected to happen?

-C

[2019-09-05 19:23] gregdenton commented on #431
Hi Cam,
Yes, this will be in the next release. I'll go ahead and get a release started now, it should be ready in the next few hours.
Thanks,
Greg

[2019-09-05 19:24] gregdenton commented on #409
@g-LuL Awesome. I'm glad that solved it and bringing this issue to our attention.

[2019-09-12 00:35] bcipriano opened #442 "SonarCloud pipeline needs a virtual display"
**Describe the bug**
CueGUI tests currently fail in the SonarCloud pipeline due to lack of a display to use. We have a fix for this in the CueGUI docker setup that will need to be replicated to run in the pipeline as well.

[2019-09-12 01:04] bcipriano opened #444 "Replace use of commands.getoutput when determining rqconstants.SU_ARGUEMENT"
**Describe the enhancement**
RQD's `rqconstants` shells out to `su` to determine which flags to use when initiating renders.

https://github.com/AcademySoftwareFoundation/OpenCue/blob/152ef145d6cc232a4dcd092c3df30db35fc0ff28/rqd/rqd/rqconstants.py#L108

This is error-prone, leads to unexpected inconsistencies between RQD environments, and doesn't really belong in a "constants" type of file.

Let's

[2019-09-13 19:12] #442 closed

[2019-09-18 00:06] gregdenton opened #446 "Layer.getFrames method errors"
`Layer.getFrames` method errors when called with no arguments.

[code]

Also the layer search criteria does not support `max_results`.

**To Reproduce**
1. Retrieve a Layer object in the pycue api
2. Call `layer.getFrames()`

**Expected behavior**
It should return a list of frames associated with the layer.

[2019-09-19 01:31] gregdenton opened #448 "PyCue wrappers should abstract protobuf objects"
All wrapper methods should interface only with other wrapper objects and should accept or return any protobuf objects.

[2019-09-19 01:32] gregdenton commented on #448
Subset of work for #338

[2019-09-19 20:04] #446 closed

[2019-09-19 22:34] #448 closed

[2019-09-20 00:24] gregdenton opened #451 "Cuegui crash when right clicking in frame monitor"
When right clicking in the `FrameMonitorTree`, Pyside will segfault and crash.

To reproduce:
right click in the frame section of "Monitor Job Details".

[2019-09-20 20:03] #451 closed

[2019-09-20 20:04] #372 closed

[2019-09-20 23:03] gregdenton opened #453 "Error calling createFrameByFrameDependency"
API is calling CreateFrameByFrameDepend, but the method it's trying to call is CreateFrameByFrameDependency.

Traceback (most recent call last):
  File "/shots/spi/home/dev/arusev/software/packages/iotools/8.1.1/houdini-17.5/houdini/scripts/python/iotools/ropnet/iocue.py", line 705, in renderAndReturnJobs
    setExternalDependencies(frameExtDepends, layerExtDepends, jobMap, optimizedLayerMap)
  Fi

[2019-09-23 06:47] smith1511 opened #455 "Blender output path is overwritten"
**Describe the bug**
The blender output path is overwritten because the frame range is specified after the output path.  Blender argument ordering matters: https://docs.blender.org/manual/en/latest/advanced/command_line/arguments.html

**To Reproduce**
Steps to reproduce the behavior:
1. Open CueSubmit.
2. Submit Blender Job with output path and frame range.
3. Render output does not appear in out

[2019-10-02 10:10] larsbijl opened #458 "initMachineTags tags are not set in cuebot"
**Describe the bug**

When RQD start tags set in `__initMachineTags` are not passed to cuebot.

I had a look in the database and can't find the values from RQD anywhere. are they used for something else?

**To Reproduce**
All the tags currently set are not set. only the FQDM and `general`

**Expected behavior**
based on the host machine I would like to add tags automatically.

[2019-10-02 14:25] larsbijl commented on #75
maybe `scratch space` would clearer? little long but tmp would bring to mind `/tmp` which wouldn't have to be the case of nfs.

[2019-10-02 18:32] bcipriano commented on #75
Yeah, that makes sense. Looking at the current Host proto I think `scratch` would do nicely -- `free_mem`, `free_swap`, `free_scratch`, etc.

https://github.com/AcademySoftwareFoundation/OpenCue/blob/ae469389467b065c46b962d32541b764f938b819/proto/host.proto#L251-L279

[2019-10-02 20:04] #453 closed

[2019-10-02 20:56] larsbijl opened #459 "Support GPU similar to CPU"
**Is your feature request related to a problem? Please describe.**

CPU (cores) are first-class citizens in Host but not GPU's. Add support for GPU core count?

**Describe the solution you'd like**

We have machines with 8 GPU's in them. it would be nice to be able to specify a service with GPU cores and have similar to `taskset` affinity to the GPU's.

[2019-10-02 20:57] larsbijl opened #460 "Rename gpu, idle_gpu. total_gpu, free_gpu"
**Describe the enhancement**

These values all relate to memory, adding `_memory` would make it easier to understand.

relates to https://github.com/AcademySoftwareFoundation/OpenCue/issues/459

[2019-10-02 21:57] larsbijl opened #461 "Use psutil in RQD"
**Describe the enhancement**
RQD has logic to handle memory and CPU for Linux, Windows and Mac's. Could it use psutil's for this?

[code]

`psutil` is already part of the `requirements.txt`

[2019-10-02 22:40] #196 closed

[2019-10-03 11:08] larsbijl opened #462 "Optional timeout for layers"
**Is your feature request related to a problem? Please describe.**

When submitting a layer it can be good practise to set an upper limit on the runtime in case an artist creates a misconfigured submissions.

**Describe the solution you'd like**

Add an optional time out to be set that error's the frame in cause the run time is exceeded.

[2019-10-03 13:41] larsbijl opened #463 "Retry frame on Finished Job doesn't get scheduled"
**Describe the bug**

When trying to retry a completed frame on a `FINISHED` job will not get scheduled.

Changing the JOB state in postgres from `FINISHED` to `PENDING` gets the job to be picked up

[2019-10-03 17:29] gregdenton commented on #462
Thanks Lars, I like this idea.
Would it be acceptable to have the precision of timeout to be about +1 min? Meaning it might not kill the frame until up to 1 minute after the timeout?

[2019-10-03 20:29] larsbijl commented on #462
Yes, It is a little heavy-handed but simple.

There might be nicer techniques to provide something similar functionally but from the scheduler.

If a frame were to provide the scheduler with progress information it could perform outlier detection in the context of the Layer.

[2019-10-03 20:30] larsbijl commented on #463
@gregdenton any Idea where I could start looking to fix this in cuebot?

[2019-10-03 20:42] larsbijl opened #464 "Monitor frames IO input/output"
**Is your feature request related to a problem? Please describe.**

Similar to how running frames Memory is being stored in 10-sec intervals it could also update on IO. With the streams being separated on IO in (pulling from Disk) and IO out (Writing to Disk)

When debugging file system slowdowns at facilities it's usually large FX caches that can kill performance. By being able to see a frame's I

[2019-10-04 15:35] sharifsalah opened #467 "Sandbox backend and client mismatch"
**Describe the bug**
There's a potential mismatch between the sandbox client packages and the OpenCue sandbox environment. The sandbox environment is built from Docker Hub images that correspond to the latest release. The client packages in the sandbox are built from source. At the time of writing, the MASTER branch includes a new feature to manage limits in OpenCue, however this feature isn't sup

[2019-10-05 21:04] larsbijl commented on #349
For linux `nvidia-smi --query-gpu=memory.total,memory.free --format=csv,noheader` is enough to get it working.

There might be more cross-platform such as:

https://github.com/wookayin/gpustat
https://github.com/anderskm/gputil

[2019-10-07 21:27] gregdenton commented on #462
To clarify, the solution I was thinking of would work off of RQD's normal status report. When Cuebot receives a status report, check if the frame has been running longer than the time configured on the layer. If it has been running longer, tell RQD to kill the frame.

These handoffs happen in different threads and have separate queues, so it's possible that some calls may have to wait a few second

[2019-10-07 22:14] larsbijl commented on #462
I can see both use cases being useful.

A shorthand could be if a frame has checkpoint turned on it could retry. otherwise it would kill?

[2019-10-08 13:47] larsbijl commented on #458
Less a bug,

https://github.com/AcademySoftwareFoundation/OpenCue/blob/def594a5346fbf6f6e0733c3a2e5d8b4347f2366/cuebot/src/main/java/com/imageworks/spcue/service/HostManagerService.java#L167

When using Tags to bring online hosts in a hybrid environment it would be useful to have the host tag itself.

[2019-10-09 10:49] #467 closed

[2019-10-09 14:21] sharifsalah opened #470 "Create a samples directory"
**Describe the enhancement**

Create a top-level samples directory to organize and store sample code that compliments the documentation. Currently, there is some sample code and a tutorial under the `/pyoutline` directory. I suggest moving this to a new central `/samples` directory that isolates sample code away from the application source code for the project.

The accompanying tutorial under `py

[2019-10-09 14:43] sharifsalah opened #472 "Add an RQD sample"
**Describe the enhancement**
Add a basic Dockerfile to illustrate how to customize an RQD installation running in a containerized runtime.

**Screenshots**
N/A

**Version Number**
N/A

**Additional context**
To compliment new documentation to be published at https://www.opencue.io

[2019-10-09 20:30] gregdenton opened #473 "Intermittent crashes in CueGui"
Sometimes the GUI crashes with “QObject::killTimer: Timers cannot be stopped from another thread. It seems to be related to having one of the previously created windows closed.

**To Reproduce**
Steps to reproduce the behavior:
1. Open CueGui
2. Open multiple windows
3. Close windows
4. Reopen them

**Expected behavior**
It shouldn't crash.

[2019-10-09 20:32] gregdenton opened #474 "Double clicking layer should filter frames view in CueGui"
In the "Monitor Frame Details" view, when double clicking on a layer it should filter that layer's frames.

[2019-10-09 20:34] gregdenton opened #475 "Unmonitoring jobs on the "Monitor Jobs" pane doesn't work properly"
Unmonitorting failing jobs removes them from the pane as expected, but they come back after a 10 seconds.

[2019-10-09 20:35] gregdenton opened #476 "Mailing module errors in Cuebot"
The Email setup on CueUtil.java isn't working on Docker environments.

To fix that I had to replace the package mailapi by javax.mail:1.6.2 on build.gradle.
And I also had to use the javax Session to get the Transport instance, instead of using the static send methodon Transport.send(msg) on CueUtil.java:191

[2019-10-09 20:37] gregdenton opened #477 "Sorting Frames by Status and Layer in CueGui fails"
Sorting throws maximum recursion depth exceeded.

To Reproduce:
1. Open CueGui and the Monitor Job Details view.
2. Sort frames by status or layer

[2019-10-09 20:38] gregdenton opened #478 "Rework ETA in CueGui"
The way eta was implemented on cuegui requires that any module implements a function inside of the cuegui project teaching how to read the logs. This feature should be decoupled somehow to keep the module on how to read the log to calculate eat inside of the module.
Another option would be to standardize what the modules should log and then have a general eta module to interpret it.

[2019-10-09 20:40] gregdenton opened #479 "Eat frames option in CueGui inconsistent"
Using the right click menu to eat a frame isn't working properly. It always raises an TypeError exception, but sometimes the frame get eaten and sometimes not.

Traceback (most recent call last):
  File "/shots/spi/home/lib/software_python/opencue/v1/cuegui/MenuActions.py", line 860, in eat
    self._getSource().eatFrames(frameSearch)
TypeError: eatFrames() takes exactly 1 argument (2 given)
qt.qp

[2019-10-09 20:41] gregdenton opened #480 "CueGui selection should not modify text alignment"
Whenever a row is selected in some of the many qTreeWidget elements the row text alignment shifts to center and the font changes. This behavior makes the interface look buggy.

[2019-10-09 20:43] gregdenton opened #481 "Import errors in rqd"
Changes on #411 broke our rqd rpm.
For some reason, changing the way rqcore imports internal modules broke our rpm with ImportError.

[2019-10-09 22:36] #480 closed

[2019-10-09 22:39] #470 closed

[2019-10-10 01:57] bcipriano commented on #214
Closing this as we haven't heard back in a while. Please feel free to reopen if it's still happening!

[2019-10-10 01:57] #214 closed

[2019-10-10 02:02] bcipriano commented on #149
All components now have some amount of unit tests, run automatically by the Docker builds.

We're working on expanding coverage over in #396.

[2019-10-10 02:02] #149 closed

[2019-10-10 02:02] bcipriano commented on #106
Our Azure release pipeline does this now.

[2019-10-10 02:02] #106 closed

[2019-10-10 19:50] #474 closed

[2019-10-11 01:11] gregdenton commented on #475
This only happens to failing jobs. Completed jobs behave properly.

[2019-10-11 08:35] larsbijl opened #485 "Pycue search filters are not clear about what type is expected"
**Describe the bug**

When filtering jobs based on a username it API returns nothing.

[code]

**Expected behavior**
It should return the jobs submitted as the user.

[2019-10-11 17:15] gregdenton commented on #485
Even though the search filter labels are singular, they actually expect a list. So the following should work for you:
`opencue.api.getJobs(user=['lars'])`

I feel we should return an exception in this case of invalid arguments to help explain/safe guard from this problem.

[2019-10-11 19:59] bcipriano commented on #433
@donalm Thanks for the PR! This issue can be closed now, right?

[2019-10-11 20:18] bcipriano opened #487 "Improve test runtime"
**Describe the enhancement**
Tests still take a long time to run — baseline runtime is ~15 min. Let's speed this up.

**Screenshots**
N/A

**Version Number**
N/A

**Additional context**
N/A

[2019-10-11 20:29] larsbijl commented on #485
that explains it. we could also add the expected type in the docstring.  it has it for the return type.

[2019-10-11 20:45] bcipriano commented on #487
We've had good results from the [Sonar Cloud pipeline](https://github.com/AcademySoftwareFoundation/OpenCue/blob/6b8d113444294d5500b13aca2a1dd2020b918120/sonar-cloud-pipeline.yml), which avoids using `docker build` for a basic build-and-test workflow. So my proposal here is the following.

Split the current [`azure-pipelines.yml`](https://github.com/AcademySoftwareFoundation/OpenCue/blob/6b8d11344

[2019-10-11 21:09] gregdenton opened #488 "Update AbstractTreeWidget to sort by label by default"
Currently the CueGui AbstractTreeWidget will sort by the cell object's alphanumeric value by default. This can cause problems since many objects don't have a string representation and lead to errors. Having to always add a sort and label parameter when adding a new column can be cumbersome.

Instead we should just have the default behavior be sort by label value if no sort function was passed in.

[2019-10-11 21:35] donalm commented on #433
Ah! Yeah it should be closed - I'll do that now, thanks Brian.

[2019-10-11 21:35] #433 closed

[2019-10-12 01:32] #477 closed

[2019-10-12 01:37] gregdenton opened #491 "Cleanup cuerqd.py to use argparse instead of getopt"
cuerqd.py does some very length and complicated argument parsing. We should clean this up and switch to using something like argparse.

[2019-10-12 03:23] jspouthsark opened #492 "Allow setting the os attribute at the layer level"
The os attribute can only be set at the job level, which forces all corresponding layers to run on the same os. Therefore, when setting up layer dependencies, layers cannot run processes that are system-dependent.

This is in release 0.2.65

Would like to be able to render frames on a linux system and follow up with a dependent layer that converts the frames to qt using a mac host. Cuegui will rec

[2019-10-14 22:16] gregdenton commented on #492
This does sound like a nice addition.
One potential workaround until this is implemented would be to submit multiple jobs and then hookup JobToJob dependencies between them. This can be done with the Python API:
`job2.createDependencyOnJob(job1)`
Where `job1` and `job2` are job wrapper objects.

[2019-10-15 11:37] IdrisMiles opened #493 "priority not being set correctly on job"
**Describe the bug**

Setting **priority** as an arg on either a Layer or the Outline before launching the Outline does not propagate the priority attribute to the generated job object. I would like to be able to submit a job with it's priority already specified.

**To Reproduce**

1) Launch a simple job attempting to set priority.

[code]

2) Go to cuegui and open the Monitor Cue plugin so that p

[2019-10-16 04:46] ruchitinfushion commented on #481
With v0.2.119
[code]

[2019-10-16 10:55] sharifsalah opened #495 "Add RQD sample for Blender 2.79"
Add a simple Dockerfile to illustrate how to customize the base RQD image on Docker Hub for the latest release. I think it makes sense to stick to open source packages for educational purposes. Initially I suggest using Blender to illustrate this workflow, but I'm also planning to experiment with ImageMagick or even combine the two for more complex workflows using layers.

As Eevee doesn't yet nat

[2019-10-16 19:14] gregdenton commented on #481
@ruchitinfushion, We have seen similar errors before in #418 .
Could verify the permissions on the `_server` file as mentioned in Donal's comment: https://github.com/AcademySoftwareFoundation/OpenCue/issues/418#issuecomment-524549766

[2019-10-16 19:20] #485 closed

[2019-10-17 09:44] IdrisMiles opened #497 "Layer API dependency function typos"
**Describe the bug**

The various `createDepenecy*` methods in the `opencue.wrappers.layer.Layer` class all fail.
This is due to the methods they're trying to call on the stub attribute not existsing. Looking at the code this seems like a typo as the method names are only slightly off.

**To Reproduce**

[code]

**Expected behavior**
Current incorrect implementation:
[code]
Should be:
[code]

Afte

[2019-10-17 14:09] #495 closed

[2019-10-29 05:44] smith1511 opened #503 "Ship systemd service scripts for the Cuebot and RQD"
**Describe the enhancement**
We should include systemd service scripts for the Cuebot and RQD.

**Version Number**
0.2.119

**Additional context**
It's good practice to include service scripts (short of native RPMs) for systemd services.

[2019-10-29 09:14] ndeebook commented on #61
Before getting RQD working on windows it would be nice to be able to send jobs with CueSubmit first.
(Maybe I should open another issue for this ?)

I installed CueSubmit on Windows with Anaconda (installed PySide2 with conda, the rest with pip).
The UI works fine but when submitting a job: it fails when hitting outline/util.py get_uild().
I fixed it by returning some hardcoded int (if Windows). I

[2019-10-29 09:31] #497 closed

[2019-10-29 19:43] jspouthsark opened #505 "Root group properties aren't given to shows in monitor cue plugin"
When a show is added to the monitor cue plugin it gets handled as a nested group and therefore has the same context menu actions as any of its child groups. Meanwhile it looks like the tree widget's invisibleRootItem() gets the following context menu actions (which should be available for a show):

`self.__menuActions.rootgroups().addAction(rmenu, "properties")
self.__menuActions.rootgroups().addA

[2019-10-31 09:20] larsbijl opened #507 "Add predefined comment dropdown not working"
**Describe the bug**
When adding a comment to machine or job the predefined comment dropdown menu items don't work.

[2019-10-31 09:45] larsbijl opened #509 "'eat and mark done' on frame errors"
**Describe the bug**
When trying to eat and mark as done a layer with a single frame the following error shows.
[code]

[2019-10-31 09:53] larsbijl opened #511 "cue job monitor drag and drop not working"
**Describe the bug**
The drag and drop feature in the cue job monitor is not working. Likely an issue with the Pyside 2 conversion.

It should allow a user to drag renders into groups.

[2019-10-31 10:02] larsbijl opened #513 "retry dead frames broken from layers RMB menu"
**Describe the bug**

When retrying dead frames from the layer using the right mouse button menu I get the follow error.

[code]

[2019-10-31 10:13] larsbijl opened #515 "add double click from proc view"
**Describe the enhancement**
On the hosts proc view add a double click to take you to the job running on the host in the monitor view.

[2019-10-31 10:20] larsbijl commented on #505
@EliteIzzy has a fix for this.

[2019-10-31 10:50] larsbijl opened #518 "increase varchar count on show name"
**Is your feature request related to a problem? Please describe.**

In some studio's 32 char for a show name might not be enough. maybe it could be increased to 128?

[2019-10-31 11:42] larsbijl commented on #478
hey @gregdenton

This could be implemented from the RQD side. by processing the logs as they are produced it would be possible to create extract progress of task.

Many renders can output progress such as Alfred style output. In combination with frame start time a rudimentary ETA can be calculated from it.

[2019-10-31 11:47] larsbijl opened #519 "stop using .data. methods from wrapper classes in cuegui"
**Describe the enhancement**
In many places in cuegui the code is calling `.data.` values directly instead of using the wrappers functions.

[2019-11-01 11:53] kateedge100 opened #522 "find job regex is broken"
**Describe the bug**
The find job regex is broken in cuegui.Utils.

[2019-11-04 10:26] EliteIzzy commented on #505
Technically the shows are getting assigned as rootgroups, but the menu action is not correctly assigning the menu to the root group.

Inside of the menu actions file, it has a line of code to work out if the selected item is a rootgroup or not which returns the wrong thing. I had written a hacky way to call the selected item’s data function to determine if it has a parent. When I’m back in the off

[2019-11-04 16:15] kateedge100 opened #524 "Copy attribute value when selected"
**Describe the enhancement**
Currently there is not way to copy attribute values, copying an attribute items value to clipboard when selected would be a helpful fix for this.

[2019-11-04 20:06] #455 closed

[2019-11-05 21:42] #509 closed

[2019-11-05 21:43] #507 closed

[2019-11-05 21:46] #515 closed

[2019-11-05 22:09] #429 closed

[2019-11-05 22:28] larsbijl commented on #462
A thought. if the LLU feature from cuegui were stored on a frame the scheduler could use it to help with outlier detection. This would be easy enough to add during the `UpdatedFrame`.

[2019-11-05 22:30] larsbijl commented on #462
Are you thinking of doing this check in the `handleHostReport` function?

[2019-11-06 18:50] gregdenton commented on #462
Yes, I was originally thinking of doing the check during the host report process. I hadn't looked specifically in the code yet to pinpoint where though.

[2019-11-06 20:15] bcipriano commented on #518
Sounds ok to me -- I think we could even go higher than that, to 512 or something. I doubt we have to be too concerned with performance here. There's a separate primary key field anyway.

[2019-11-06 20:15] bcipriano commented on #518
For whoever works on this, this should be a pretty trivial database migration:
- Add a new file into [the migrations folder](https://github.com/AcademySoftwareFoundation/OpenCue/tree/master/cuebot/src/main/resources/conf/ddl/postgres/migrations) following the naming conventions.
- The file's content should be the SQL needed to update the table schema.
- Once the file exists, run through [Applying

[2019-11-06 20:54] gregdenton commented on #493
Yes, `priority` currently does not carry over from outline submission. In order to implement this, we would need to both make sure that the Outline and Layer serialize the priority value to the XML and like you mention ensure that the JobDetail and LayerDetail objects read the priority value on job launch.

The only workaround I can think of right now would be to use the api to set the priority af

[2019-11-07 11:48] larsbijl commented on #518
ok. assign it to me and i'll take a look.

[2019-11-07 13:09] IdrisMiles opened #526 "Add select all and clear to monitor cue show filter"
**Describe the enhancement**

For convenience it would be useful to have **Select All** and **Clear** items in the show filter in the monitor cue plugin.

**Screenshots**
something like this:

![all_shows_blurred](https://user-images.githubusercontent.com/8471804/68391484-a7fb3300-015f-11ea-8796-e999b4d17cd7.png)

[2019-11-08 10:06] larsbijl commented on #437
Does this mean removing the functionality from sections as well?

such as https://github.com/AcademySoftwareFoundation/OpenCue/blob/master/cuebot/src/main/java/com/imageworks/spcue/service/JobLauncher.java#L131 ?

[2019-11-09 01:16] gregdenton commented on #437
Yes, unless there's other reasons to keep it. `testMode` should be removed from:
`RqdClientGrpc.java`
`CoreUnitDispatcher.java`
`AbstractDispatcher.java`
`Dispatcher.java`
`JobLauncher.java`

Instead of relying on different code paths for tests, communications should be mocked allowing the normal code path to be tested.

@larsbijl Are you utilizing the testMode behavior for anything other than uni

[2019-11-09 10:56] larsbijl commented on #437
no, I'll have a stab at removing it.

[2019-11-11 10:51] larsbijl opened #530 "Starting RQD removes Lock in cuebot"
**Describe the bug**

When a Locked machine restarts it removes the Lock in cuebot. Locking a host is a explict actions and shoudn't change based on the state of the machine.

**To Reproduce**
1. `Lock` host
2. Restart RQD on Host.
3. Host is `Open`

[2019-11-13 04:21] #513 closed

[2019-11-13 14:48] sharifsalah opened #532 "Add a shots volume to the sandbox environment"
**Describe the enhancement**
Add a volume to the sandbox environment to store input and output files for RQD nodes at `/tmp/rqd/shots/`

**Additional context**
This will help provide more real-world usage examples in the docs and for live demos or screencasts.

[2019-11-16 01:34] ruchitinfushion commented on #418
Same error here

And below line is working fine without any permission error from other user login.
`cat /scratch/RQD/venv/lib/python2.7/site-packages/grpc/_server.py`

[2019-11-18 20:17] #526 closed

[2019-11-18 20:23] #511 closed

[2019-11-18 21:01] gregdenton opened #534 "Idle grpc connections need to be retried"
In some environments idle grpc connections can go idle and the grpc calls will fail but then reconnect after a second attempt. We should add a retry on connection errors to catch small network hiccups and idle connections.

[2019-11-19 00:39] bcipriano commented on #273
This is covered by #503

[2019-11-19 00:39] #273 closed

[2019-11-19 00:49] bcipriano commented on #503
Is this done now that #504 is merged?

[2019-11-19 10:19] donalm commented on #418
Hi Ruchit - do you have any more information that could help to diagnose this? Can you please add your traceback to the thread?

Lars noted:

Were you able to try that and did it work for you?

I wonder if Python is trying to import grpc from the location you expect.

[2019-11-19 22:13] #534 closed

[2019-11-19 22:15] #524 closed

[2019-11-19 22:17] larsbijl commented on #462
please assign this one to me.

[2019-11-19 22:18] larsbijl commented on #460
@gregdenton @bcipriano what are your thoughts on this?

[2019-11-19 23:07] gregdenton commented on #460
I agree this would help clarify what the attributes actually mean.

[2019-11-19 23:08] gregdenton commented on #462
Thanks for picking this one up @larsbijl!

[2019-11-19 23:13] larsbijl commented on #460
please assign it to me.

[2019-11-19 23:14] gregdenton commented on #460
Thanks @larsbijl!

[2019-11-20 23:34] bcipriano commented on #487
#506 has been merged and confirmed working against the master branch. I've also relinked the release pipeline to pull artifacts from the new Packaging build pipeline, added in that same PR.

Next I just need to clean out the old pipeline and clean up the Azure project.

[2019-11-21 10:25] larsbijl opened #539 "KillRunningFrame doesn't handle message"
**Describe the bug**
When a job is killed by the scheduler it should pass along the reason so it can be displayed in the output log.

the functionality exists in RQD but is not implemented correctly in cuebot and the proto files.

[2019-11-21 21:58] bcipriano opened #541 "Latest release's schema is not compatible with Postgres 9"
**Describe the bug**
Triggers in the latest schema use a newer syntax that isn't compatible with older Postgres versions. (`EXECUTE FUNCTION` vs. `EXECUTE PROCEDURE`.)

This is caused by our packaging pipeline not locking the Postgres version used to export the full schema -- we just use `latest` which upgraded to Postgres 12 a little while, but we want to use Postgres 11 for a schema that is stil

[2019-11-21 23:11] #541 closed

[2019-11-22 14:25] sciibus opened #545 "PSQL - This connection has been closed."
Hello,

I am currently having the issue, that the cuebot seems to lose its connection to the database (if I understand the following error message correctly).
The cuebot and the database are running in docker containers in a centos7 VM on a windows host.
Restarting the docker container solves the issue but not for long.

This is the error from the cuebot docker logs:

`2019-11-22 14:20:22,622 WARN

[2019-11-22 15:12] #532 closed

[2019-11-22 21:30] bcipriano commented on #545
Hi!

Do you know if the connection is dropping (i.e. it was working and then it
stops) or it's just not connecting at all?

What database hostname/IP are you using in Cuebot? I.e. the value of
the --datasource.cueDataSource.url flag.

- brian

On Fri, Nov 22, 2019 at 6:25 AM sciibus <notifications@github.com> wrote:

[2019-11-24 18:29] larsbijl opened #547 "Layer environment variables are not added to XML spec"
**Describe the bug**
The XML spec allows for env variables to be set on a layer. They are not propagated to cuebot.

**To Reproduce**
Create a simple submission with an env variable set to the layer.

Check the `layer_env`. Nothing.

[2019-11-24 18:32] larsbijl opened #548 "Remove pre-setshot environment logic from outliner"
**Describe the enhancement**
In the outliner, environment variables can be added job that will be used in all layers.
This uses a extra `pre-setshot` boolean to decided if it should be sent to cuebot.

What's the intended use case for having these but not having them submitted to cuebot?

[2019-11-25 08:56] sciibus commented on #545
Hi Brian,

yes, the connection to the database seems to be _dropping_. After restarting the CueBot container, everything works fine for a random amount of time and then drops again.

I am currently following the instructions at [https://www.opencue.io/docs/getting-started/deploying-cuebot/](url), so I am getting the database IP with `DB_HOST_IN_DOCKER=$(docker inspect -f '{{range .NetworkSettings.

[2019-11-25 15:03] larsbijl opened #549 "arnold automatically takes all cores"
**Describe the enhancement**
Unlike other services `arnold` is automatically set to use all cores on a machine.
This seems a little SPI specific. Should we remove it?

https://github.com/AcademySoftwareFoundation/OpenCue/blob/07bca302184e3037e00eee00ee4cdddaace2d637/cuebot/src/main/java/com/imageworks/spcue/VirtualProc.java#L132

[2019-11-25 23:19] larsbijl opened #550 "calculate_core_hours is not used"
**Describe the enhancement**
`calculate_core_hours` It's defined in both Postgres and Oracle but not used. Should we remove it?

[2019-11-27 09:57] sciibus opened #552 "All machines under 12 Cores seen as single core machine."
Hi there,

could someone explain to me, why all machines having less than 12 cores (on windows) are seen as single core machines?

[https://github.com/AcademySoftwareFoundation/OpenCue/blob/07bca302184e3037e00eee00ee4cdddaace2d637/rqd/rqd/rqmachine.py#L461-L470](url)

`            import multiprocessing
            __totalCores = multiprocessing.cpu_count() * 100
            if __totalCores > 1200

[2019-11-27 14:12] ndeebook opened #553 "Environment key length limitation"
Description:
When setting an environment key longer than 36 characters, it fails to launch job:
`opencue.exception.CueInternalErrorException: Server caught an internal exception. Failed to launch and add job: Incorrect result size: expected 1, actual 0`
I had this problem because of MAYA_NO_WARNING_FOR_MISSING_DEFAULT_RENDERER ;)

Repro:
[code]

Version: 0.2.119

[2019-11-27 14:45] ndeebook commented on #553
I guess it's simply schema.sql's `"STR_KEY" VARCHAR2(36 BYTE),`.
Should I have tagged this "enhancement" ?

[2019-11-27 17:34] gregdenton commented on #553
Thanks for reporting this. I think bug is appropriate in this case since it's fairly limiting and unintended behavior. The fix will require a similar process of updating the schema  as is being done in #518.

[2019-11-28 00:14] gregdenton commented on #552
Hi Sam,
This code looks very Sony specific and should likely be removed/refactored to be more generic. We are still working on getting full windows support, so hopefully these types of bugs will be cleaned up soon. Thanks for reporting this!
-Greg

[2019-11-28 09:34] sciibus commented on #545
I hadn't noticed, that the cuebot dockerfile had been updated and was therefore using an outdated schema. After updating, this issue does not occur anymore.

[2019-11-28 09:34] #545 closed

[2019-11-28 09:37] sciibus commented on #552
Thanks Greg,
that's what I suspected. Can you tell me if there is an eta for full windows support?
Greetings
Sam

[2019-11-29 07:22] tsjsdbd opened #554 "document for installing Maya plugin，need be corrected"
**Describe the bug**
it should be `:`, can not use `;` for PATH set.
https://www.opencue.io/docs/getting-started/installing-cuesubmit/#installing-the-maya-plug-in
![image](https://user-images.githubusercontent.com/7219402/69850988-9f5bcf80-12bb-11ea-819f-704cce10edf6.png)

[2019-11-29 11:41] fatboYY commented on #361
I have zero experience with OpenCue, but I have been keeping an eye on it. I have been working on different PDG schedulers and know what makes an integration with the RMS easier. Therefore couple of questions.

If I understood the glossary correctly the hierarchy of jobs in OpenCue works like this:
- jobs
- layers
- frames

On what layers are dependencies possible? Can frames of different layers (

[2019-11-29 17:15] suekieza commented on #361
@fatboYY which RMS have you played around with before with PDG?

[2019-11-29 19:06] ianianda opened #555 "Documentation for some functions has misleading info"
getJob: takes a job name ====>  takes job id
getFrames: takes a job id ====> takes job name

[2019-12-01 04:27] fatboYY commented on #361
@suekieza I have done some stuff with Deadline and a proprietary RMS in PDG.

[2019-12-01 11:07] suekieza commented on #361
Ah cool, I'm on the hunt for someone who has done some testing with Royal Render. See what they have to say about the process.

[2019-12-02 17:28] kalisp commented on #479
Hi guys
Is this still a thing? I would guess that https://github.com/AcademySoftwareFoundation/OpenCue/commit/14b3b43bdf55d16edd2fc80d6f51a8155d86be60 should have fixed this. (Or at least change the stacktrace, just confused about dates as this issue was created while after the #410 one.) But maybe I am completely wrong.
Tried to replicate it but couldn't :/.

[2019-12-02 18:21] gregdenton commented on #479
This error was originally reported by SPI but I too have been unable to reproduce. I'll go ahead and close this issue and we can reopen if anyone else is experiencing this error.

[2019-12-02 18:21] #479 closed

[2019-12-02 19:29] gregdenton commented on #361
To help answer some of the above questions:

_On what layers are dependencies possible?_
Dependency relationships are pretty flexible and available to/from all objects. Here's a list of the various dependency types:
        JOB_ON_JOB
        JOB_ON_LAYER
        JOB_ON_FRAME
        LAYER_ON_JOB
        LAYER_ON_LAYER
        LAYER_ON_FRAME
        FRAME_ON_JOB
        FRAME_ON_LAYER
        FRAM

[2019-12-02 20:03] gregdenton commented on #552
Sorry I don't have an eta right now. You can follow along with issue #61 which should get you any updates.

[2019-12-02 21:33] bcipriano commented on #554
Thanks for filing!

It used to be the case that Maya.env support ':' for everything except Windows and ';' for all OSes, Windows included. I wonder if this has changed.

@tsjsdbd What OS are you using?

[2019-12-02 22:23] bcipriano opened #557 "Make all Python components compatible with Python 2 and 3"
**Describe the enhancement**
Make all Python components compatible with Python 2 and 3.

**Screenshots**
N/A

**Version Number**
N/A

**Additional context**
N/A

[2019-12-02 22:25] bcipriano commented on #315
This issue is covered by #557 now.

[2019-12-02 22:25] #315 closed

[2019-12-02 22:36] bcipriano commented on #557
#558 adds support to CueSubmit, which is the last of the client-side python packages needing compatibility.

Remaining bits here are:
- RQD
- Set up unit tests to run against both CY2019 and CY2020 environments -- we currently run against CY2019 only. Docker builds are no longer run on every commit -- only when new commits are merged into master.

[2019-12-03 02:50] #539 closed

[2019-12-03 14:04] sharifsalah opened #559 "Publish reference docs for Python modules"
**Describe the enhancement**
Update OpenCue to support generating and publishing API reference docs for the various Python packages and modules, starting with the outline package. I propose we adopt the [Sphinx `autodoc` extension](http://www.sphinx-doc.org/en/master/usage/extensions/autodoc.html) for this enhancement.

**Screenshots**
The end result would look something along the lines of the fol

[2019-12-03 23:40] sharifsalah commented on #555
Thanks for the bug, @ianianda

Could you specify where these functions are located? Are you referring to a Python package? If so, what is the module? (there are many 100s of results when searching for `getJob`).

[2019-12-04 01:25] #518 closed

[2019-12-04 01:56] bcipriano commented on #559
Sounds good to me!

[2019-12-04 04:01] #360 closed

[2019-12-04 16:08] kalisp commented on #475
Just FYI I tried this on up-to-date (12/3/2019) master branch on test job from https://www.opencue.io/docs/quick-starts/quick-start-linux/ and couldn't replicate it.

Attaching screenshot if it would help.
![opencue_unmonitor_475](https://user-images.githubusercontent.com/4457962/70158982-758a1a80-16b8-11ea-9ea8-2fa07e19856b.png)

[2019-12-04 16:32] sharifsalah commented on #475
Thanks @kalisp. From your screenshot, it looks like you're running a variation on the simple `echo` command from the quick start. I suspect the reason you're able to un-monitor the jobs successfully in your case, is that the job is failing very quickly, such that all of the frames have failed. If you try a longer running job, you might see the behavior described by @gregdenton.

I've recently noti

[2019-12-04 17:37] kalisp commented on #475
I tested it on longer running frames (used Blender and sleep in command line job), couldn't reproduce it there either. But maybe I am doing something wrong here.

Looking forward for a guide with Blender and Docker. I followed 'Quick Start for Linux', great job there. I would just highlight there system requirements (memory) as that is only mentioned in 'Quick Start for Mac' and later in regular i

[2019-12-04 20:33] bcipriano commented on #475
Hopefully this won't happen anymore -- now that #560 is merged RQD doesn't install PySide anymore, which was the cause for running out of RAM in (I think) every case I've seen so far.

But agreed on need to update the docs. Thanks!

[2019-12-05 15:15] larsbijl opened #564 "RQD doesn't Nimby with Remote users on machine"
**Describe the bug**
When a remote operator uses a machine  RQD will not see them as their keyboard and mouse actions are not reflected in linux subsystem in /dev/input

examples of remote desktop software (Nomachine and teradici)

[2019-12-05 19:49] sharifsalah opened #565 "Requirements vary across the Python client packages"
**Describe the bug**
The current version of  the `sandbox/install-client-archives.sh` script tries to install both requirements.txt and requirements_gui.txt, even though not all Python client packages include these files.

**To Reproduce**
Follow https://www.opencue.io/docs/quick-starts/quick-start-linux/

**Expected behavior**
The script

**Screenshots**
N/A

**Version Number**
v0.2.145

**Additi

[2019-12-06 12:05] sharifsalah opened #568 "Add blender to the example cuesubmit config"
**Describe the enhancement**
Add `BLENDER_RENDER_CMD` to `cuesubmit/cuesubmit_config.example.yaml` to demonstrate how to override the default value in `constants.py`.

**Screenshots**
N/A

**Version Number**
N/A

**Additional context**
Compliments the Blender Dockerfile sample and related docs.

[2019-12-10 22:29] #235 closed

[2019-12-11 00:28] ianianda commented on #555
Hi Sharif,
Sorry about the confusion. I should be more specific.
The both functions I mentioned earlier, getJob and getFrames are from pycue/opencue/api.py

[2019-12-11 11:04] #568 closed

[2019-12-11 11:05] #565 closed

[2019-12-12 02:16] smith1511 opened #574 "Allocation level environment variables"
**Describe the enhancement**
Allow environment variables to be specified for allocations.

In multi-platform environments on-prem vs cloud nodes, or Windows vs Linux nodes, might have different paths to shares or applications and as such the submitter needs an agnostic way to specify these.

The environment variables would be resolved at runtime by RQD prior to launching a frame.

**Additional con

[2019-12-12 04:28] gregdenton opened #575 "Edit Subscription dialog max values"
In CueGui, the "Edit Subscription Size" dialog limits the size and burst to `50000`. Cuebot and the api support larger numbers so we should increase this limit.

[2019-12-12 19:06] sharifsalah opened #577 "OpenCue sandbox throws UnknownHostException"
**Describe the bug**
When starting Cuebot in the sandbox environment (Docker Compose), the server is unable to connect to the database:

[code]

**To Reproduce**
Follow the Linux quick start:

https://www.opencue.io/docs/quick-starts/quick-start-linux/

**Expected behavior**
Cuebot should start successfully. Expected output is something like:

[code]

**Screenshots**
N/A

**Version Number**
v0.2.1

[2019-12-12 19:30] gregdenton commented on #577
Hi Sharif, You are correct and this will be fixed as soon as the new release is pushed out. I'm working on the release now. In the mean time, you can change cuebot in the docker-compose.yml to build the image rather than pull from Docker Hub.

[2019-12-12 22:07] gregdenton commented on #577
@sharifsalah, The release has been published and documentation updates have been pushed to the docs site. Updated release notes are in review in [#133](https://github.com/AcademySoftwareFoundation/opencue.io/pull/133).

[2019-12-12 22:14] sharifsalah commented on #577
Thanks @gregdenton,

FYI - I worked around this by editing the command (`--datasource.cue-data-source.jdbc-url...`) in the docker-compose file, rather than building Cuebot from source. (But obviously most people trying the quick start wouldn't work this out if they're new to OpenCue)

I'm increasingly finding that the sandbox works best when tied to a specific release and unforeseen bugs can surfa

[2019-12-12 22:14] #577 closed

[2019-12-13 04:35] smith1511 opened #579 "CueSubmit - Allow jobs to specify facilities and allocations"
**Describe the enhancement**
Allow jobs submitted by CueSubmit to specify facilities and allocations

[2019-12-13 06:39] #575 closed

[2019-12-13 06:46] gregdenton commented on #579
@smith1511 , I've gone ahead and assigned this to you. If you're not working on it, let me know and I'll unassign it. Thanks!

[2019-12-13 17:49] RickShahid commented on #503
With the recent release of v0.3.6 and the change of --datasource.cueDataSource.url to --datasource.cueDataSource.jdbc-url, the cuebot systemd script is out of sync (still using .url). Perhaps the systemd scripts should be included in each set of release files to keep them in sync for future releases.

[2019-12-13 18:57] gregdenton commented on #503
Thanks @RickShahid. I agree, these service definition files should be packaged up with the releases. @bcipriano any thoughts?

[2019-12-13 21:08] bcipriano commented on #503
Good catch, thank you.

Once we start publishing RPM/DEB packages (I think @smith1511 was looking at this) we will effectively be releasing these scripts, right? Is that good enough or should we be publishing the bare scripts themselves as well?

Interested to hear what other folks think.

[2019-12-15 20:22] smith1511 commented on #503
I'll update the systemd scripts, thanks Rick.

In regards to packaging, yes these will get included in deb/rpms and should resolve this issues (assuming we test them).  In regards to releasing the systemd script, i'm on the fence.  The release artificats are getting long and people could just download the scripts without too much effort.  In saying that I don't really have a strong opinion either

[2019-12-16 02:47] wangyuqing4 commented on #554
use macOS

[2019-12-16 02:56] tsjsdbd commented on #554
@bcipriano
as @wangyuqing4 say, we are using MacOS, only if change `;` to `:` , it can works.

[2019-12-16 03:40] smith1511 commented on #503
Looks like this was updated.

[2019-12-16 03:40] #503 closed

[2019-12-16 07:53] nod0ubt opened #582 "cuegui not building"
**Describe the bug**
Cuegui doesn't build on latest release.
Running **python setup.py install** produces error:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Install pycue
2. Install pyoutline
3. Try installing cuegui

All of above are done according to the guide.

edit: I'm not using virtualenv.

**Expected behavior**

Successful build of cuegui

**Version Number**
0.3.6

[2019-12-16 14:55] sharifsalah opened #583 "OpenCue sandbox v0.3.6 RQD not connecting / starting"
**Describe the bug**
It looks like RQD is not connecting to Cuebot in the OpenCue sandbox v0.3.6 and the container stops:

[code]

**To Reproduce**
Follow the [Linux quick start](https://www.opencue.io/docs/quick-starts/quick-start-linux/).

When running docker-compose:

[code]
Produces the following output:

[code]

Cuebot isn't aware of any RQD hosts:

[code]

**Expected behavior**
As described

[2019-12-16 14:56] sharifsalah commented on #559
Support for PyOutline added in  https://github.com/AcademySoftwareFoundation/OpenCue/pull/563

Will work on adding the remaining Python packages next.

[2019-12-16 19:26] gregdenton commented on #583
There was recent change to the RQD Docker image that allows it to startup much faster. After this change RQD is starting up and failing before Cuebot has a chance to start.

I recommend we change the RQD startup behavior to have builtin backoff retries until it connects to Cuebot. Otherwise we could add a script that would wait until cuebot is up before attempting to connect to start RQD. Any thou

[2019-12-16 20:20] bcipriano commented on #583
+1 for some retries with backoff

[2019-12-16 20:40] bcipriano commented on #503
This is my feeling too. Let's table that for now, easy enough to add them as artifacts later if we hear more requests for it.

[2019-12-16 21:18] sharifsalah commented on #583
+1 to retries, as I think it's easier to explain and understand for folks getting started with OpenCue. It's also more in keeping with cloud patterns where hosts tend to be more ephemeral.

[2019-12-17 20:36] bcipriano commented on #582
Thanks for the report!

I gave a quick try to double-check, and I'm not able to reproduce this behavior -- the build/install runs fine for me. Though I'm running on macOS in a virtualenv, so there are some environment differences here.

Couple things to check:
- Just to confirm, this is a repeatable error, right? I.e., if you keep running `setup.py install` it keeps failing at the same spot, right

[2019-12-17 20:44] bcipriano commented on #554
I've confirmed this on MacOS as well. Looks like newer versions of Maya have dropped support for `;` as a separator on Mac (and I'm assuming on Linux as well).

We'll update the docs. Thanks for letting us know!

[2019-12-17 23:22] #554 closed

[2019-12-18 00:13] gregdenton commented on #579
I dug a bit deeper into how facility is specified in submission. It turns out that `outline.cuerun.get_launch_facility` is what is setting the facility when kicking off a job from cuesubmit right now.

`get_launch_facility` looks for the `RENDER_TO` or `FACILITY` environment variables and if not set, looks for a facility set in the outline config file.

If you want to directly pass the facility to

[2019-12-18 08:09] nod0ubt commented on #582
Hi Brian and sorry for posting here. Found out afterwards that you've migrated on ASWF mailing lists.

- it does keep failing every time on the same spot, indeed
- within virtualenv it went with no issues, so it must have something to do with our system setup
- we are on Python 2.7.5. at the moment
- i want to note that i had to install some pip packages with the --ignore-existing flag

[2019-12-18 12:38] sharifsalah commented on #583
@gregdenton I wanted to check how long you think a fix is roughly likely to take to resolve this? I could update the docs with a workaround to bring up the DB and Cuebot first and then manually bring up the RQD service after. I think (but haven't tested) this would work on macOS:

[code]

However, when I tested on Linux, I found an issue that the postgres container creates the dbdata directory as

[2019-12-18 21:01] gregdenton commented on #583
Hey @sharifsalah. I'll be working on getting this fixed today. If I run into any issues I'll post them here. Thanks!

[2019-12-18 21:35] sharifsalah commented on #583
SGTM and thanks, @gregdenton!

[2019-12-19 01:06] bcipriano commented on #582
No worries, it's perfectly alright to file github issues and we're happy to discuss things here.

It's hard to debug further from here since I can't reproduce, but my best guess is this is due to an older version of `setuptools` in your system setup.

Here's the version from my virtualenv:

[code]

Which version are you running?

[2019-12-19 09:32] nod0ubt commented on #582
Within venv
[code]
It's a bit older I guess.

[2019-12-19 10:28] #555 closed

[2019-12-19 15:36] kalisp commented on #396
Would it be possible to refresh that report, please? I am guessing there is a plan to run it periodically, but couldn't find if it is implemented yet.
I am thinking about taking a stab at some tests, if I may. cuesubmit Validators.py seemed as a obvious low hanging fruit (and simple ;))

[2019-12-19 20:32] bcipriano commented on #396
That would be amazing! It's a great way to learn about the code you're testing :)

For totally up to date results -- every commit to master gets analyzed and sent to SonarCloud:

https://sonarcloud.io/dashboard?id=AcademySoftwareFoundation_OpenCue_Cuebot
https://sonarcloud.io/dashboard?id=AcademySoftwareFoundation_OpenCue

Current numbers are roughly Cuebot @ 51%, Python code @ 44%.

The "code" ta

[2019-12-19 20:47] bcipriano commented on #582
That version of setuptools looks like it's about six years old... that may be our culprit.

You could try to create a new virtualenv with `--no-setuptools`, then manually install `0.9.8` in the venv like `pip install setuptools==0.9.8`. That might help confirm if that's the true cause.

Curious, what distro/version are you running?

[2019-12-19 23:07] bcipriano commented on #582
Just tried this locally and was able to reproduce the problem:

[code]

So the problem does appear to be due to old `setuptools`. Not sure there's much we can do about that unfortunately, it's a very old version so I doubt we'll be able to support it.

This question still stands -- I'm wondering if there's a distro out there with default python/setuptools that OpenCue breaks on.

[2019-12-20 03:17] #583 closed

[2019-12-21 02:53] #557 closed

[2019-12-23 10:47] sharifsalah opened #591 "Update docs/conf.py version information"
Implement an automated process so that docs/conf.py derives version information from existing information elsewhere in the repository, such as VERSION.in.

[2019-12-23 17:28] sharifsalah opened #592 "Add a Sphinx job to testing pipeline"
As part of the testing pipeline, add a job to verify that Sphinx is able to build the Python API reference docs for configured packages and modules.

We should also add a requirements.txt file in the /docs directory to specify versions of dependencies to test against.

Command to test is something along the lines of: (this can be tweaked as required)

[code]
-W should treat warnings as errors and

[2019-12-23 17:50] sharifsalah commented on #559
Added support for PyCue packages `FileSequence` and `opencue`. sphinx-build completes without errors or warnings.

However, if I enable nit-picky mode, there are still a lot of warnings, related to missing references. (which I was expecting as I haven't worked on adding all the references)

Will work on cleaning these up next.

[2019-12-24 15:02] kalisp commented on #424
Hi
What are your plans for GUI testing, please? I don't have much experience with testing of the gui (did a bit of Selenium ages ago), I was looking around (found some articles about QTest), but not sure if that's the way to go. If you could share same game plan, I would like to help with this too, during long winter nights :).

[2020-01-03 15:23] sciibus opened #594 "Resubmission 'Learning System' available in OpenCue?"
Hi there,

can anyone tell me, if the 'learning system' Cottalango talks about here: [https://youtu.be/Vh6wtTzEj_E?t=702](url) is implemented in OpenCue? Or is this feature still specific to Cue3?

Thanks!

-- Sam

[2020-01-03 20:50] gregdenton opened #595 "Cleanup timer threads on widget close"
Crashes and hangs can occur when closing widgets in cuegui due to orphaned timer threads. Stop and delete them when closing a widget.

[2020-01-03 21:30] larsbijl commented on #594
Yes, It's called the memory optimizer and uses a regex on the job name to determine a previous run and adjust the memory accordingly.

[2020-01-06 21:26] bcipriano commented on #594
Will close this as the question appears to be answered but please feel free to reopen if there are followup questions!

[2020-01-06 21:26] #594 closed

[2020-01-09 09:14] #595 closed

[2020-01-12 10:48] larsbijl commented on #564
@dinesy

[2020-01-12 10:48] larsbijl commented on #549
@dinesy

[2020-01-12 10:48] larsbijl commented on #548
@dinesy

[2020-01-12 10:49] larsbijl commented on #420
@dinesy

[2020-01-14 21:34] bcipriano commented on #424
Hi @kalisp , sorry for the delayed response, still catching up on things after the holidays.

We have some initial tests added for CueGUI -- for example [FrameMonitorTree_tests.py](https://github.com/AcademySoftwareFoundation/OpenCue/blob/master/cuegui/tests/FrameMonitorTree_tests.py). We still need to expand coverage quite a bit but it's a start.

We were thinking that we'd follow essentially the

[2020-01-14 21:50] smith1511 opened #605 "Standardize OpenConfig on YAML and locations"
**Describe the enhancement**
The various OpenCue projects use different config formats, and file names and locations.  We should standardize on YAML for all configs, and also the location.

**Additional context**
We need to maintain backwards compatibility, so I suggest we have a legacy 'config provider' similar to what's there now, and a new YAML based one.  Each provider will be tried, prioritiz

[2020-01-16 00:02] dinesy commented on #548
Is there a line of code to reference? If I had to guess, it sounds like it was for some workaround for a legacy pipeline.

[2020-01-16 00:05] dinesy commented on #420
That /net/homedirs path is definitely SPI specific. It is safe to change/remove.

[2020-01-18 08:20] #592 closed

[2020-01-21 04:33] smith1511 opened #607 "Create RPM and Debian packages for Cuebot, RQD and other components"
**Describe the enhancement**
To simplify installation on the various LInux distros we should publish RPM and Debian packages for Cuebot and RQD at a minimum.

**Additional context**
We should also include Windows MSIs/EXEs.

[2020-01-22 20:47] bcipriano opened #609 "Refactor CueGUI classes to avoid cyclic dependencies"
**Describe the enhancement**
Issue originally reported in #473 with some additional explanation in #598.

In short, cyclic dependencies within the app and its widgets can cause problems between PySide and the Python garbage collector, resulting in crashes.

#598 introduces a stopgap fix but there's general agreement this is a bit too heavy-handed, and we'd like to replace it with a proper refactor

[2020-01-22 20:53] #463 closed

[2020-01-22 21:02] #473 closed

[2020-01-22 21:53] bcipriano commented on #487
Cleanup of old pipeline is done.

Updated tests have been running for some time now with runtime ~3-4 min. Considering this closed.

[2020-01-22 21:53] #487 closed

[2020-01-22 21:56] smith1511 commented on #61
One item still remaining is the default editor used by CueGui to view logs.

[2020-01-23 00:05] dinesy commented on #549
I got some info on this. It's actually a more recent (and more useful) feature than I had realized.

We had added it to the CueBot code to help optimize resource utilization on jobs with heavy RAM requirements. In our case, those were exclusively arnold jobs, but could be any heavy process in other environments.

What we were seeing was that using a "one size fits all" booking strategy (e.g. stric

[2020-01-23 21:24] larsbijl commented on #548
https://github.com/AcademySoftwareFoundation/OpenCue/blob/master/pyoutline/outline/backend/cue.py#L235

[2020-01-23 21:29] larsbijl commented on #505
@EliteIzzy when you have time, please take a look if you can find those lines.

[2020-01-23 22:10] #458 closed

[2020-01-23 22:53] smith1511 commented on #458
This was addressed in #604 - we persist the tags as type 'manual'.  If we want to support hardware tags, we'll need to extend the grpc schema to include a tag type.

[2020-01-24 01:15] bcipriano opened #612 "Achieve "passing" level of CII badge"
OpenCue CII badge is located at https://bestpractices.coreinfrastructure.org/en/projects/2837.

We should achieve a "passing" grade for our badge, for general project health and to satisfy the ASWF graduation requirement.

[2020-01-24 01:16] bcipriano commented on #612
Current main blockers here are #395 and #396.

[2020-01-24 01:25] bcipriano commented on #582
Closing this as we've identified the problem. If we find others keep running into this we can reopen.

[2020-01-24 01:25] #582 closed

[2020-01-24 01:29] bcipriano commented on #552
@smith1511 Is this resolved now, do you know?

[2020-01-24 01:34] bcipriano commented on #492
We're in the process of removing the os attribute in favor of just using tags/allocs. So each layer would specify 'Linux' and/or 'Mac' tags as desired, and that will allow using a mixture of hosts in a single job.

[2020-01-24 01:36] bcipriano commented on #481
I believe this has since been fixed, but if anyone is running into this please feel free to reopen.

[2020-01-24 01:36] #481 closed

[2020-01-24 01:39] bcipriano commented on #438
@smith1511 FYI. This could be a nice thing to include in our packages/installers.

[2020-01-24 01:40] bcipriano commented on #436
This has been fixed a long time ago I believe.

[2020-01-24 01:40] #436 closed

[2020-01-24 01:42] bcipriano commented on #424
This is basically a dupe of https://github.com/AcademySoftwareFoundation/OpenCue/issues/396. I don't think we need individual issues for each component, if others want to work on adding unit tests we can coordinate via that other issue.

[2020-01-24 01:42] #424 closed

[2020-01-24 01:44] bcipriano commented on #378
This is kind of a "known issue" and there isn't much for us to do about it at this time.

[2020-01-24 01:44] #378 closed

[2020-01-24 01:46] bcipriano commented on #364
Fix for this has been merged.

[2020-01-24 01:46] #364 closed

[2020-01-24 01:51] bcipriano commented on #163
A good approach here might be to add a config setting that's on by default. Users just starting out will tend to have few hosts, so showing the list will help avoid confusion when they first launch the GUI. Once users "graduate" to a full-scale deployment they can disable the automatic refresh.

[2020-01-24 01:52] bcipriano commented on #343
Fix for this has been merged.

[2020-01-24 01:52] #343 closed

[2020-01-24 01:52] bcipriano commented on #344
This is covered by #425.

[2020-01-24 01:52] #344 closed

[2020-01-24 01:53] #80 closed

[2020-01-24 01:58] bcipriano commented on #275
I still see this from time to time. Not sure exactly what needs to happen to reproduce it.

[2020-01-24 02:01] bcipriano commented on #104
These tokens exist now, added in #597

[2020-01-24 02:01] #104 closed

[2020-01-24 09:38] larsbijl commented on #378
We are on nuke 11 in some productions and have worked around it by using the pyoutline serialization and submitting that through a subprocess.

[2020-01-24 15:28] sciibus commented on #461
We could also use psutil to set the process cpu affinity on windows: in rqcore.py `runWindows`:

[code]

[2020-01-24 15:50] samkenw opened #613 "Enable RQD NIMBY on Windows with pynput."
Currently NIMBY is only working on Linux I believe. Pynput could solve this issue on Windows.
(sorry for posting the code like this)

[code]

[2020-01-24 16:13] EliteIzzy commented on #505
The fix is inside of **cuegui/Utils.py**.

The new lines should be:
line 143:
[code]
line 150:
[code]

As you can see, it used to use `object.parent` and I've just gotten the same info from the data. There may be a way to fix the `.parent` wrapper but this fix does work for now.

[2020-01-28 02:01] bcipriano commented on #505
Would you like to send this change as a pull request?

[2020-01-28 02:01] bcipriano commented on #613
@smith1511 Any thoughts?

[2020-01-29 21:09] smith1511 commented on #613
I'm not familiar with pynput but don't see why this wouldn't work.  Thanks for the code.  I'll integrate - will probably decompose the Unix/Windows implementations.

[2020-01-29 21:27] samkenw commented on #613
I believe this should run on both Windows and Unix platforms, correct me if I am mistaken.

[2020-01-29 21:29] smith1511 commented on #613
Oh nice, sorry I didn't catch that you had removed usage of /dev/input/*.  Sam have you tested this?  And what OS?

[2020-01-29 21:35] samkenw commented on #613
I have this running on Windows. Behaves as expected.

[2020-02-03 01:00] Porges commented on #552
@bcipriano No, the logic has changed but number of actual processors is still not properly detected. There’s no easy way to do this in Python, it will be a Win32-specific solution.

[2020-02-03 22:20] Porges commented on #461
This was done for Windows in #604, we should unify these code paths.

[2020-02-03 22:41] Porges commented on #350
This code was removed in #604.

[2020-02-03 23:49] #350 closed

[2020-02-04 01:41] ianianda opened #620 "ProcGetProcsResponse's data?"
Greetings!

I am wondering if there is a way to get the data of a ProcGetProcsResponse object when calling search.ProcSearch.byOptions()?  The data might contain the name/bookedtime/unbooked information.

Any help would be appreciate!
Thank you!

[2020-02-04 05:09] #549 closed

[2020-02-04 20:49] Porges commented on #553
I can take a look at this.

[2020-02-04 22:41] #620 closed

[2020-02-05 07:54] Aanerud commented on #582
I just bumped into this problem on a CentOS 7.5 RenderBlade.
I solved it by running `pip install setuptools==40.8.0`

[2020-02-05 20:46] bcipriano commented on #582
Semi-related, I also recently had to upgrade `setuptools` [within our RQD Docker](https://github.com/AcademySoftwareFoundation/OpenCue/blob/b079b7e3824b9c53fae38bd1eeb465be80a2e902/rqd/Dockerfile#L15) to accommodate the new [`platform_system` notation](https://github.com/AcademySoftwareFoundation/OpenCue/blob/b079b7e3824b9c53fae38bd1eeb465be80a2e902/rqd/setup.py#L59) we're using to install Windows

[2020-02-06 21:15] #553 closed

[2020-02-08 00:25] bcipriano opened #623 "Filters/matchers/actions are broken"
**Describe the bug**
Various problems here, including:
- Root groups aren't assigned proper menu actions
- Filter ordering is broken
- Enum values aren't being interpreted correctly.

[2020-02-08 00:30] bcipriano commented on #505
I have a fix for this in #624

[2020-02-08 00:33] bcipriano commented on #401
Closing this as the work is covered by another bug.

[2020-02-08 00:33] #401 closed

[2020-02-08 00:33] bcipriano commented on #384
Documentation for relocating the log root is being worked on in https://github.com/AcademySoftwareFoundation/opencue.io/issues/148

[2020-02-08 00:33] #384 closed

[2020-02-11 02:26] bcipriano opened #626 "Log root directory cannot be specified by command line flag."
**Describe the bug**
Despite being listed in `opencue.properties`, `log.frameLogDirRoot` cannot be overridden via command line flag, i.e. `--log.frameLogDirRoot=/path`.

This is inconsistent with other values in that file such as database settings.

**To Reproduce**
Steps to reproduce the behavior:
1. Run Cuebot with the `--log.frameLogDirRoot` flag specified.
2. Submit a new job.
3. Verify the jo

[2020-02-11 21:34] bcipriano commented on #607
#608 is merged and the new Cuebot RPM is being published in DevOps.

https://dev.azure.com/cipriano0988/OpenCue%20Testing/_build/results?buildId=682&view=artifacts&type=publishedArtifacts

We'll need to amend the release pipeline to include any new artifacts in the "push to Github" stage. I'm happy to do that, just let me know.

[2020-02-13 20:51] #530 closed

[2020-02-20 15:00] ddidonato opened #631 "Cuebot logs showing negative idle cores"
**Describe the bug**
The following is shown in the cuebot logs.
(ip address) doesn't have enough idle cores, -2550 needs 10
Machines are shown as idle in cuegui and total cores equal the idle cores, but the machines are not taking new frames. After a while they start taking frames again

**Version Number**
0.3.33

[2020-02-21 06:08] pcube99 commented on #547
@larsbijl @bcipriano  I want to contribute to this issue !!

[2020-02-21 11:08] larsbijl commented on #547
hey @pcube99,

Feel free to contribute :)

[2020-02-21 11:08] pcube99 commented on #547
can you elaborate what I am supposed to do ?

[2020-02-21 11:20] larsbijl commented on #547
Hey @pcube99,

when you create a submission using pyoutline you can add environment variables to an outline using the `set_env`. this is written into the XML specification [here](https://github.com/AcademySoftwareFoundation/OpenCue/blob/5b5bd56a77025ce4e9634fa3430dda3396f33db7/pyoutline/outline/backend/cue.py#L234) and consumed [here](https://github.com/AcademySoftwareFoundation/OpenCue/blob/5b5bd

[2020-02-21 23:22] bcipriano commented on #547
@pcube99 Thank you for the offer, it's much appreciated :)

Lars's comment should get you started but let us know if you have any questions. https://www.opencue.io/contributing/ has some good resources (I'm working on a Mac and Linux version of the Getting Started guide which should be ready soon).

[2020-02-22 04:45] pcube99 commented on #547
I got a rough idea what to do, I will try.
But how can i run opencue in my localhost for testing and bug solving ??

[2020-02-23 09:29] pcube99 commented on #547
@bcipriano @larsbijl  is there any document on how to run opencue in my local machine ??

[2020-02-24 05:01] YashAgrawal0 commented on #70
I would like to work on this issue. Could you tell me how do I get started ?

[2020-02-24 09:53] larsbijl commented on #70
hey @YashAgrawal0

Welcome! For this ticket, you will want to look at writing a migration script that relabels the `FOLDER.f_order` to `FOLDER.int_order`. you can have a look at other migrations [here](https://github.com/AcademySoftwareFoundation/OpenCue/tree/master/cuebot/src/main/resources/conf/ddl/postgres/migrations).

This will also require to change any usage of the `f_order` to `int_order`

[2020-02-24 21:01] #623 closed

[2020-02-25 05:41] aman-roy commented on #591
I like to work on this issue.

[2020-02-25 12:37] sharifsalah commented on #591
Thanks @aman-roy, your help would be appreciated!

If you haven't already, I recommend building the reference docs. You can follow the [how-to guide](https://www.opencue.io/contributing/opencue/build-docs/) in the docs to build the API reference.

Currently the version information for OpenCue is hard-coded into [conf.py](https://github.com/AcademySoftwareFoundation/OpenCue/blob/master/docs/conf.py

[2020-02-26 01:56] #505 closed

[2020-02-26 02:05] smith1511 opened #635 "Align RQD systemd bin location with install location"
**Describe the bug**
The systemd script uses /usr/bin/rqd but the installer puts the binary in /usr/local/bin.

We should align these paths.

[2020-02-26 03:07] bcipriano opened #636 "Filter dialog sometimes doesn't honor filter selection"
**Describe the bug**
The CueGUI filter dialog will occasionally stop honoring the selected filter. Once that happens, if you attempt to reorder or delete filters, the wrong filter will be acted upon.

Adding/removing filters or changing the focus to another application seems to trigger this.

**To Reproduce**
Steps to reproduce the behavior:
1. Launch CueGUI and bring up the "Monitor Cue" view.
2.

[2020-02-26 03:08] bcipriano commented on #636
@smith1511 @larsbijl @gregdenton It would be great to get confirmation from others on this one -- it's quite tricky to reproduce.

[2020-02-26 10:22] aman-roy commented on #591
I can think of two approaches as of now.

### **Option 1**
We can automate this task by fetching it from VERSION.in file as you said.
[code]

### **Option 2**
We can also use `git tag` to fetch the latest version. Something like this -
[code]

Which approach should I go with? Is there some other approach I should consider?

_**Caution - The second option won't work if it is not a git repo and also

[2020-02-26 21:55] sharifsalah commented on #591
Thanks @aman-roy,

My thinking is that option 1 would work best if we embed the change directly in conf.py, but it would only give us the major version number (not release). For example 0.3

If I'm understanding correctly, option 2 would allow us to get the specific release number, sych as 0.3.43

Could we workaround your caution (that we need a git client configured) by running this as separate s

[2020-02-27 00:48] mridullpandey commented on #70
hey @bcipriano @larsbijl can i take this up. As i was hanging around some of the areas of code base ,apparently i found this issue can be solved easily, so can i?

[2020-02-27 00:50] mridullpandey commented on #70
oh,@YashAgrawal0  has taken this already,sorry i saw his message after sending mine own..sorry no issues

[2020-02-27 00:52] mridullpandey commented on #163
hey @gregdenton  i want to work on this.

[2020-02-27 04:41] gregdenton commented on #163
@mridullpandey Great! The first thing to do if you haven't already is read our [Contributing Guide](https://www.opencue.io/contributing/) and familiarize yourself with the project.
If you have not yet run OpenCue and CueGui, there are some quick start guides [here](https://www.opencue.io/docs/quick-starts/).

This change should be isolated in the CueGui code and specifically in the `MonitorHostsPl

[2020-02-28 03:35] michiboo commented on #636
@bcipriano  Hi Could I have a go at this issue?

[2020-02-28 20:41] bcipriano commented on #636
Please feel free!

It would be great to start by just confirming the bug and finding a reliable way to reproduce the problem. It was a bit tricky and it's possible the bug only appears in some environments.

[2020-03-01 05:53] aman-roy commented on #591
Can we use `generate_version_number.sh` for generating the specific release number?

https://github.com/AcademySoftwareFoundation/OpenCue/blob/master/ci/generate_version_number.sh

[2020-03-02 15:11] sharifsalah commented on #591
Yes that looks like it does what we need. So to update my previous process:

1 - A developer runs a python script: build-api-docs.py (or build-api-docs.sh).
2 - build-api-docs.py dynamically runs generate_version_number.sh to fetch the full version number.
3 - build-api-docs.py replaces the value of version and release in conf.py.
4 - build-api-docs.py runs the sphinx-build command to build the do

[2020-03-03 09:48] Shankusu993 commented on #591
Hello there @sharifsalah , @aman-roy ,
I find a small issue with the above approach, the version number obtained from `git tag` differs from the one generated by `generate_version_number.sh` because the former gets us the version when it was last tagged while the latter generates it from the current state of the repository as follows :
if  run from `master` branch : `<version from VERSION.in>.<num

[2020-03-04 03:04] bcipriano opened #639 "Subscriptions are displayed in hundredths-of-a-core"
**Describe the bug**
In CueGUI, the Subscriptions panel shows numbers in hundredths-of-a-core, i.e. cores * 100. This is confusing as the rest of the GUI tends to use straight cores.

**To Reproduce**
Steps to reproduce the behavior:
1. Launch CueGUI.
2. Go to the "CueCommander" window, "Subscriptions" panel.

**Expected behavior**
The panel should show core count only.

**Screenshots**
<img width

[2020-03-04 03:05] bcipriano commented on #639
To be clear, in my screenshot above -- the `cloud.general` subscription is really for 1000 cores. But the subscriptions panel is showing 100000, i.e. cores * 100.

[2020-03-04 05:53] aman-roy commented on #591
@sharifsalah Please help!

[2020-03-04 16:25] ks47 commented on #639
@bcipriano, Hi I am interested in contributing to OpenCue, could i have a go at this issue.

[2020-03-04 19:18] chiragagarwal54 commented on #639
Hello @bcipriano, I am interested to contribute to OpenCue, Could I have a go on this issue?

[2020-03-04 21:04] bcipriano commented on #639
@ks47 (who wrote in first) Yes, please feel free!

[2020-03-04 22:51] sharifsalah commented on #591
I haven't had time to test this, but if I follow the discussion and post by @Shankusu993, we want the last tagged (not the current one).

I believe the last tagged will equal the latest release version? For example, if we release version 0.4.67 tomorrow, then the API docs should label the version of the docs as 0.4.67 until the next release.

We can explain in the guide that if you build from mast

[2020-03-04 23:56] bcipriano commented on #591
Hi all, catching up on this thread.

You are correct that `ci/generate_version_number.sh` is most likely what you're looking for. This script gets used in our build and packaging pipelines to generate the full version number.

if run from any other branch: `<version from VERSION.in>.<number of commits in master branch +1>-<short hash of the commit>`

This is also correct.

Yeah, I think this is on

[2020-03-05 00:05] Shankusu993 commented on #591
Yes, the last tagged version would mean the latest release version in our case (ref: https://github.com/AcademySoftwareFoundation/OpenCue/tags ). So getting the version number from git tags would be the right way for us, which would mean following the 3 steps @sharifsalah  listed earlier without the modification.
The  Kubeflow site seems to have a dropdown to browse through past versions of the co

[2020-03-05 02:34] bcipriano opened #641 "Fix CueGUI version number"
**Describe the bug**
The version displayed in CueGUI is hardcoded:

https://github.com/AcademySoftwareFoundation/OpenCue/blob/76a3b71bb646ebca4fb70ef6f438181161201da2/cuegui/cuegui/Constants.py#L35

This version number, when available, should be pulled from the `VERSION`/`VERSION.in` files, as they are in other places e.g. in `setup.py`:

https://github.com/AcademySoftwareFoundation/OpenCue/blob/7

[2020-03-05 02:41] SarthakDandriyal commented on #641
Hi @bcipriano I would like to work on this issue.

[2020-03-05 05:58] bcipriano commented on #641
Great!

To start -- if you download a [released version of CueGUI](https://github.com/AcademySoftwareFoundation/OpenCue/releases) you'll see that the `VERSION` file is already packaged with the download, and [`setup.py`](https://github.com/AcademySoftwareFoundation/OpenCue/blob/76a3b71bb646ebca4fb70ef6f438181161201da2/cuegui/setup.py) already makes use of this information. So probably that informa

[2020-03-05 12:29] sharifsalah commented on #591
@bcipriano the API docs don't (yet) get published. This issue is a pre-requisite to making that happen. Also we should increase coverage of the docs that get generated. Currently there are various Python modules that Sphinx doesn't yet know about. (https://github.com/AcademySoftwareFoundation/OpenCue/issues/559 is tracking that)

@Shankusu993 we're running opencue.io on Netlify, Hugo, and Docsy, w

[2020-03-05 13:14] aman-roy commented on #591
I just need clarification on one thing.

The step you mentioned -
1 - A developer runs a python script: build-api-docs.py (or build-api-docs.sh).

This is referring to this file - https://github.com/AcademySoftwareFoundation/OpenCue/blob/master/ci/build_sphinx_docs.sh
??

[2020-03-05 13:23] sharifsalah commented on #591
It's referring to a file that doesn't exist yet. It would be similar to `ci/build_sphinx_docs.sh`, but the usage is a bit different.

`ci/build_sphinx_docs.sh` is designed to run for (automated) continuous integration and testing. As part of continuous integration, I don't think we really care about the version number.

Generally, I think it's better to have separate scripts for well-defined goals

[2020-03-05 13:30] aman-roy commented on #591
can we make build-api-docs.sh which will call version_release_fix.py

version_release_fix.py will have all the codes for doing the changes.

build-api-docs.sh will contain

python -m version_release_fix

[2020-03-05 13:59] sharifsalah commented on #591
I suggest you're at a good point to create a pull request and ask for feedback on your proposal.

I recommend you just submit a pull request just for version_release_fix.py. That would resolve this issue. No need to worry about a separate shell script to call it.

[2020-03-05 19:15] ks47 commented on #639
Apart from the Size and Burst column, does the Used column (reserved_cores) have to be altered as well ?

[2020-03-05 19:29] Ramanathi commented on #476
Hello Brian,As a beginner, I want to fix this issue. Can I get help

[2020-03-05 19:30] Ramanathi commented on #476
Hi,
I am Gsoc Aspirant. As a beginner, Can I contribute to fix this bug. Please provide help.

[2020-03-06 10:46] samkenw opened #643 "Showname is: pipe"
Not sure if this is a bug, wanted behaviour or a feature request.

**Describe the bug**
CueGui shows following error when trying to deed local machine:

`Error Object does not exist. Incorrect result size: expected 1, actual 0, please setshot and rerun cuetopia. Showname is: pipe`

Obviously if one sets the the env Variable 'SHOW' to an existing show, this error will not occur.

My question is: is

[2020-03-07 14:53] ks47 commented on #639
Nevermind, got it.

[2020-03-09 21:24] smith1511 opened #646 "Windows PS tar cannot extract cuegui"
**Describe the bug**
Running tar -xzf cuegui-xxx-.tar.gz fails to extract two files from the archive.

**To Reproduce**
Steps to reproduce the behavior:
1. Open a powershell terminal
2. Run 'tar -xzf cuegui-0.3.43-all.tar.gz'
3. Error -> The two files below fail to extract, all others succeed.

cuegui-0.3.43-all/cuegui/images/crystal/icons.qrc: Can't create '\\\\?\\C:\\Users\\abc\\Downloads\\cuegu

[2020-03-10 21:15] #522 closed

[2020-03-10 23:00] #307 closed

[2020-03-10 23:00] bcipriano commented on #626
This was fixed by #627

[2020-03-10 23:00] #626 closed

[2020-03-10 23:08] bcipriano commented on #476
Hi @Ramanathi, if you're looking to get started please read through the post I made to our opencue-dev group:

https://lists.aswf.io/g/opencue-dev/topic/google_summer_of_code_2020/71616531

There are lots of resources there for getting started.

@gregdenton I'm not totally clear on what this issue is about -- could you add more info like reproduction steps?

[2020-03-10 23:38] bcipriano opened #649 "CueSubmit window should be expanded so scrolling is unnecessary"
**Describe the enhancement**
With the addition of the facility field, the window's initial size is too small, requiring the user to scroll to reach the submit button.

This should be expanded so no scroll is necessary, as long as the screen resolution is high enough. The fix here should be tested on smaller screens to ensure the app functions properly in those environments.

**Screenshots**
See ho

[2020-03-11 11:07] mridullpandey commented on #649
hi @bcipriano  i want to work on this please elaborate it

[2020-03-11 18:13] shiva-kannan commented on #275
Hey all!
I'll be applying to ASWF for GSoC and I thought this could be a good first issue and took a jab at it.

The second time I ran cuesubmit I was able to see this (I'm on a Mac) :

<img width="450" alt="Screen Shot 2020-03-10 at 10 40 33 PM" src="https://user-images.githubusercontent.com/15956411/76449011-b1143f00-63a1-11ea-991a-052b066317a3.png">

It seems like the issue is with the popup of

[2020-03-11 21:22] bcipriano commented on #275
@shiva-kannan That's great! I've assigned this issue to you so please feel free to send your fix as a PR :)

I don't believe this has worked for me at all recently. I seem to remember in the past having seen a white background with black text, but if we're not setting style information it must be relying on my OS to determine some of the colors. Possibly it was before I switched to using Dark Mode

[2020-03-11 21:43] bcipriano commented on #649
Sure thing, I've assigned the issue to you so please feel free to work on it :)

I think my screenshot shows the issue pretty clearly -- when CueSubmit first launches the Cancel/Submit buttons are hidden and the user needs to scroll to bring them into view.

It should be a hopefully simple change to just grow the default size of the window so scrolling is not necessary.

[2020-03-12 11:12] samkenw opened #651 "Latest Postgres docker needs additional environment variables"
Docs for installing the postgres database are no longer up to date due to an update in postgres docker.

**To Reproduce**
Steps to reproduce the behavior:
1. Follow instructions at [https://www.opencue.io/docs/getting-started/setting-up-the-database/](url)

The docker container will not start and the logs will give you the following error:

       You must specify POSTGRES_PASSWORD to a non-empty

[2020-03-12 12:24] samkenw commented on #651
A fix to this issue is to change

`docker run -td --name $PG_CONTAINER postgres`
to
`docker run -e POSTGRES_HOST_AUTH_METHOD=trust -td --name $PG_CONTAINER postgres`

although this might not be so great in regards to safety.

[2020-03-13 02:50] bcipriano opened #653 "cueadmin fails to move a host between allocations"
**Describe the bug**
The `cueadmin` tool raises `TypeError` when attempting to move a host between allocations.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Have an OpenCue environment running with at least one RQD host.
2. Attempt to move the host to a new alloc using `cueadmin -move allocName -host hostName`.
3. Error is raised. You can use `cueadmin`'s `-v` flag to produce the